<div class="container-fluid demo-1">

  <!-- Codrops top bar -->




  <div id="slider" class="sl-slider-wrapper">

    <div class="sl-slider">

      <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
        <div class="sl-slide-inner">
          <img class="contenedor-1" src="assets/imgs/contenedor-azul.png" alt="">
          <h2>Eco Amigable</h2>
          <p>Un contenedor<br> que se transforma para <br>mover un país</p>
          <div class="botonera">
            <a href="https://econtainerscolombia.com/info"><button  class="boton-1">Compra</button></a>
            <a href="https://econtainerscolombia.com/info"><button  class="boton-2">Alquiler</button></a>
          </div>
        </div>
      </div>

      <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
        <div class="sl-slide-inner">
          <img class="contenedor-1" src="assets/imgs/conte-refi (1).png" alt="">
          <h2>REFRIGERADOS</h2>
          <p>SOLUCIÓN RÁPIDA <br> Y PORTABLE</p>
          <div class="botonera">
            <a href="https://econtainerscolombia.com/info"><button  class="boton-1">Compra</button></a>
            <a href="https://econtainerscolombia.com/info"><button  class="boton-2">Alquiler</button></a>
          </div>
        </div>
      </div>

      <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <img class="contenedor-1" src="assets/imgs/contenedor-seco.png" alt="">
            <h2>BODEGAS</h2>
            <p>ALMACENAMIENTO DE CARGA,<br> MERCANCÍAS, HERRAMIENTAS.</p>
          <div class="botonera">
            <a href="https://econtainerscolombia.com/info"><button  class="boton-1">Compra</button></a>
            <a href="https://econtainerscolombia.com/info"><button  class="boton-2">Alquiler</button></a>
          </div>
        </div>
      </div>

      <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <img class="contenedor-especial" src="assets/imgs/contenedor-4.png" alt="">
          <h2>SALAS DE VENTA</h2>
          <p>VITRINA EQUIPADA<br> PARA LA EXHIBICIÓN <br>DE SU PROYECTO</p>
          <div class="botonera">
            <a href="https://econtainerscolombia.com/info"><button  class="boton-1">Compra</button></a>
            <a href="https://econtainerscolombia.com/info"><button  class="boton-2">Alquiler</button></a>
          </div>
        </div>
      </div>

      <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <img class="contenedor-1" src="assets/imgs/contenedor5.png" alt="">
          <h2>OFICINA</h2>
          <p>Espacios diseñados <br>para brindar comodidad<br> a sus colaboradores.</p>
          <div class="botonera">
            <a href="https://econtainerscolombia.com/info"><button  class="boton-1">Compra</button></a>
            <a href="https://econtainerscolombia.com/info"><button  class="boton-2">Alquiler</button></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /sl-slider -->

    <nav id="nav-arrows" class="nav-arrows">
      <span class="nav-arrow-prev">Previous</span>
      <span class="nav-arrow-next">Next</span>
    </nav>

    <nav id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </nav>

  </div>
  <!-- /slider-wrapper -->

</div>
