

p{
	font-family: bebas-regular!important;
}



.leftRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        left: 0;
    }

    .rightRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        right: 0;
    }



.contenedor-1{
	position: absolute;
	width: 82%;
	position: absolute;
	bottom: 50%;
	left: 44%;
	margin: 0 0 0 -130px;
}


p{
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 33px;
	height: 70px;
	color: #ffffff;
	z-index: 2;
	bottom: 48%;
	margin: 0 0 -110px 0;
	padding: 0;
	font-size: 2em;
}

.botonera{
position: absolute;
width: 100%;
text-align: center;
left: 0;
z-index: 2;
bottom: 31%;
margin: 0 0 -110px 0;
padding: 0;
}

.boton-1{
	border: 3px solid white;
	border-radius: 30px 30px;
	padding: 7px 25px;
	background: transparent;
	color: white;
	margin-right: 15px;
}
.boton-2{
	border: 3px solid white;
	border-radius: 30px 30px;
	padding: 7px 25px;
	background: white;
	color: black;
}

.bg-1 .sl-slide-inner{
	background: #1576dd!important;
}



/* Custom navigation arrows */





h2 {
	color: #000!important;
	padding: 20px;
	position: absolute;
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	bottom: 48%;
	margin: 0 0 -120px 0;
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}



@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}



/* Media Queries for custom slider */

@media screen and (max-width: 660px) {


	h2 {
		line-height: 22px;
		font-size: 32px;
		margin-bottom: -40px;
		letter-spacing: 8px;
	}




}
