<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                    <li class="user-profile" >
                            <a class="has-arrow waves-effect waves-dark" (click)="addExpandClass('user')"  aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu nombre-principal">{{usuario.usuario.nombre}} {{usuario.usuario.apellido}}</span></a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'user'">
                              <li><a href="javascript:void()">Mi Perfil </a></li>
                              <li><a href="javascript:void()">Bandeja de Entrada</a></li>
                              <li><a href="javascript:void()">Ajustes de cuenta</a></li>
                              <li><a href="javascript:void()">Cerrar Sesión</a></li>
                            </ul>  
                          </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap menu-designe">MENU</li>

                <li *ngFor="let dato of datos">
                    <a routerLinkActive="active" [routerLink]="dato.url"  aria-expanded="false" class="has-arrow waves-effect waves-dark"><i [class]="dato.icono"></i><span class="hide-menu">{{dato.titulo}}</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    <!-- End Sidebar scroll-->
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->