<div class="degradado">
<div class="ec-container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 ec-text-align-center">
      <img
        class="img-fluid img-mapa"
        src="../../../assets/images/mapa-reefer.png" 
        alt=""
      />
    </div>
    <div class="col-12 col-sm-12 col-md-6 ec-align-self-center">
      <div>
        <h3 class="ec-main-title ec-reefer-color-blue-dark">
          ¿Que te interesa?
        </h3>
      </div>
      <div>
        <div class="contacto-linea ec-background-dark">
          <h3 class="ec-main-title">
            Comprar
          </h3>
        </div>
        <div class="contacto-linea ec-background-dark">
          <h3 class="ec-main-title">
            Alquilar
          </h3>
        </div>
        <div class="contacto-linea ec-background-dark">
          <h3 class="ec-main-title">
            Servicio Tecnico
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-linea">
</div>
<div class="ec-padding-bottom-small">
  <app-reefer-footer>
  </app-reefer-footer>
</div>
</div>
