<header class="hero-image">
  <div class="header container">
    <img class="logo-ar pointer" [routerLink]="['/landing' ]" src="assets/imgs/logo-nuevo.png"/>
    <ul class="iconos">
      <li><a target="_blank" href="https://www.facebook.com/EContainers">
        <i class="fab fa-facebook"></i>
        </a>
     </li>
      <li><a target="_blank" href="https://www.instagram.com/econtainers/">
        <i class="fab fa-instagram"></i>
        </a>
     </li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCc9_pDkvmipTo5aXavS9inQ">
        <i class="fab fa-youtube"></i>
        </a>
     </li>
      <li><a target="_blank" href="https://co.linkedin.com/company/e-containers">
        <i class="fab fa-linkedin"></i>
        </a>
     </li>
    </ul>
  </div>
  <div class="container hero" >

    <div class="col-md-5 texto-principal">
      <h1 class="margin">Construimos Espacios Únicos en Diseño y Confort.</h1>
      <!-- <h1 typingAnimation [typeSpeed]="50" [startDelay]="1000">Arquitectura modular que reduce el impacto ambiental.</h1> -->
      <!-- <h1 typingAnimation [typeSpeed]="50" [startDelay]="1000">Arquitectura 100% Ecoamigable.</h1> -->
      <!-- <h1 typingAnimation [typeSpeed]="50" [startDelay]="1000">Construimos sueños en realidades.</h1> -->
      <p class="subtitulo">Conectamos tus ideas con la realidad reduciendo su impacto ambiental.</p>
    </div>
  </div>
  <div class="buscador d-none .d-lg-*">
    <div class="container">
          <form action="">
              <div class="form-group">
               <label for="segmento">Producto</label>
                <select name="segmento" id="">
                  <option value="">Selecciona</option>
                  <option value="">Casas en contenedores</option>
                  <option value="">Unidades Comerciales</option>
                </select>
              </div>
              <div class="form-group">
               <label for="segmento">Ubicación</label>
                <select name="segmento" id="">
                    <option value="">Selecciona</option>
                    <option value="">Bogota</option>
                  <option value="">Medellin</option>
                </select>
              </div>
              <div class="form-group">
               <label for="segmento">Presupuesto</label>
                <select name="segmento" id="">
                    <option value="">Selecciona</option>
                    <option value="">$1.200.000</option>
                  <option value="">$1.500.000</option>
                </select>
              </div>
              <div class="form-group">
               
                <button class="btn btn-success bg-beige">Buscar</button>
              </div>
 
          </form>
        </div>
      </div>
</header>

<div class="seccion-2">
  <div class="container">
    <div class="tarjetas row">
      <h2  class="mb-3" style="font-size: 3rem;    padding-left: 13px;">Innovación Arquitectónica</h2>
      <p style="padding-left: 0;     font-size: 1.2em; padding-left: 13px;" class="texto-1 col-md-12" >Elige el espacio de tus sueños y empieza a construirlo de inmediato.  </p>
      <div class="tarjeta col-md-3 wow fadeIn" data-wow-duration="2s" *ngFor="let arquitectonico of arquitectonicos; let i = index">
          <div class="grid">
          <figure class="effect-lily">
              <img [src]="arquitectonico.imgs.img_1" alt="img12"/>
              <figcaption>
                <div>
                  <h2>{{arquitectonico.nombre}}</h2>
                  <p>{{arquitectonico.descripcion_corta}}</p>
                </div>
                <a (click)="verArquitectonico(i)" >View more</a>
              </figcaption>			
            </figure>
          </div>
          <div class="datos">
            <p class="precio">
                <b>Desde {{arquitectonico.precio.desde}} $COP</b>
            </p>  
              <span class="descripcion">
                <p>{{(arquitectonico.caracteristicas[0].a.cocina == null) ? '' : 'Cocina |'}}  {{alcobas(arquitectonico.caracteristicas[0].a.alcoba)}}  {{(arquitectonico.caracteristicas[0].a.banio == null) ? '' : 'Baño |'}}  {{arquitectonico.caracteristicas[0].a.medida}} <sup>{{(arquitectonico.nombre == 'Piscina Container' ) ? '3' : '2'}}</sup> </p>
            </span>  
          </div>
      </div>
      <div [routerLink]="['/tailor-made']" class=" col-md-12 wow fadeIn tailor-made-section"  data-wow-duration="2s">
          <div class="grid2">
          <figure class="effect-lily">
              <img src="assets/imgs/arquitectonicos/tailor-made.jpg" style="background-size: cover !important;
              background-position: 50% 60% !important;
              background-repeat: no-repeat !important;" alt="img12"/>
              <figcaption>
                <div>              
                  <h2 class="tailor-made">TAILOR MADE / PROYECTOS A TU MEDIDA</h2>
                </div>
                <a ></a>
              </figcaption>			
            </figure>
          </div>
          <div class="datos">
            <p class="precio">
                <b>Proyectos personalizados </b>
            </p>  
              <span class="descripcion">
                <p> Si quieres personalizar tu proyecto y realizarlo a tu medida. </p>
            </span>  
          </div>
      </div>
    </div>
    </div>
</div>

<app-footer-landing></app-footer-landing>

  

