

<div class="conocenos">

  <div routerLink="/freight-forwarding/que-ofrecemos" class="volver cursor pointer">
      <img src="assets/imgs/shipping-line/back.png" alt="">
      <span class="ml-2">Volver</span>
  </div>

<div class="header">
  <img class="wow fadeIn" src="assets/imgs/shipping-line/banner-1.png" alt="">
  <h2 class="wow fadeInLeft rellax" >LOGISTICA <br>INTEGRAL</h2>
</div>

<div class="row ">
 
  
  <div class="col-md-12 valores-seccion pb-5">
     <p class="text-left">Queremos ser parte de estos grandes sueños y proyectos, es por eso que ECONTAINERS
        quiere poner a su disposición toda nuestra experiencia y logística tanto internación y
        nacional, para el manejo integral de todos los procesos logísticos requeridos por las
        operaciones de manejo especial : EX-Works , inventarios, manipulación de carga,
        implementación de In House.</p>
  </div>

  <div class="row contacto" >
      <div class="col-md-12">
          <h4 routerLink="/freight-forwarding/contacto" class="wow fadeIn rellax-title" data-rellax-speed="-1">Contacto</h4>
      </div>
      <div class="col-md-12">
          <div class="wrapper">
              <div class="slider">
                  <div class="slide">
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                  </div>
                  <div class="slide">
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                  </div>
               </div>
          </div> 
      </div>
  </div>  
</div>
</div>