<div class="degradado">
    <div class="ec-container hey">
        <div class="ec-container">
      <div class="row">
        <div class="col col-md-6">
            <h3 class="ec-main-title ec-reefer-color-blue-dark">
              Transporte
            </h3>
            <p class="ec-reefer-color-blue-dark">
                - En E-Containers entendemos la importancia de mantener la carga a una temperatura controlada por eso garantizamos un servicio eficiente de transporte para cumplir con los tiempos de entrega requeridos.
            </p>
            <p class="ec-reefer-color-blue-dark">
                - Tenemos cobertura en todo el país por medio de nuestra extensa flota de transporte y nuestros aliados estratégicos, garantizando un servicio seguro, confiable y de calidad.
             </p>
             <p class="ec-reefer-color-blue-dark">
                - Cargue y descargue: contamos con grúas y montacargas a nivel nacional para ubicar los equipos en el lugar requerido por el cliente.
             </p>
             <p class="ec-reefer-color-blue-dark">
                - Servicio de monitoreo en tiempo real por medio de seguimiento satelital con GPS.
             </p>
             <p class="ec-reefer-color-blue-dark">
                Una vez puesto en sitio el equipo, nuestro personal instalará y graduará la temperatura adecuada para la perfecta conservación de sus productos
             </p>
        </div>
        <div class="col col-md-6">
          <img
            class="img-fluid"
            src="../../../assets/images/transporte-de-carga.png"
            alt=""
          />
        </div>
      </div>
    </div>
    </div>
    <div class="footer-linea">
    </div>
    <div class="ec-padding-bottom-small">
        <app-reefer-footer>
        </app-reefer-footer>
    </div>
</div>
