<div class="fondo animated fadeIn fast">
  <div class="container-fluid img-principal">

      <h2 class="texto-principal container wow zoomIn">COMPROMISO EMPRESARIAL </h2>
  </div>
  <div class="container cuadros hidden-sm-down">
    <div class="uno wow fadeInLeft">
      <img src="assets/imgs/compromiso-empresarial/5.jpg" alt="">
      <h2>SOLUCIONES MÓVILES</h2>
      <p>Desarrollamos un modelo de negocio centrado en resolver necesidades para todo
tipo de industria a nivel nacional. Contamos con un personal experimentado y
totalmente capacitado para cumplir con la calidad y rapidez que nuestros clientes
requieran.</p>
    </div>
    <div class="dos wow fadeInUp">
      <img src="assets/imgs/compromiso-empresarial/3.jpg" alt="">

      <h2>CALIDAD GARANTIZADA</h2>
      <p>Guiados por un pensamiento de mejoramiento continuo, en E-Containers
Colombia buscamos satisfacer las necesidades de nuestros clientes a nivel
nacional, con relación al alquiler, venta y adecuación de contenedores marítimos.
Es por eso que todos nuestros productos y unidades están avalados por las
certificaciones ISO 9001 e ISO 14001.</p>
    </div>
    <div class="tres wow fadeInRight">
      <img src="assets/imgs/compromiso-empresarial/4.jpg" alt="">

      <h2>ECOAMIGABLE</h2>
      <p>E-Containers Colombia nace debido a la gran cantidad de contenedores que
estaban acumulándose en los puertos de Colombia, y que gracias a unos
tratamientos de restauración, les damos una segunda vida, de esta manera nos
convertimos en una solución ecoamigable que trabaja bajo el concepto de logística
inversa y de construcción renovable.</p>
    </div>
  </div>
<div class="container mt-3 hidden-md-up">
  <div class="card">
    <img class="card-img-top" src="assets/imgs/compromiso-empresarial/5.jpg" style="max-height: 250px;" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">SOLUCIONES MOVILES</h4>
      <p class="card-text">Desarrollamos un modelo de negocio centrado en resolver necesidades para todo
tipo de industria a nivel nacional. Contamos con un personal experimentado y
totalmente capacitado para cumplir con la calidad y rapidez que nuestros clientes
requieran.</p>
    </div>
  </div>
</div>
<div class="container mt-3 hidden-md-up">
  <div class="card">
    <img class="card-img-top" src="assets/imgs/compromiso-empresarial/3.jpg" style="max-height: 250px;" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">CALIDAD GARANTIZADA</h4>
      <p class="card-text">Guiados por un pensamiento de mejoramiento continuo, en E-Containers
Colombia buscamos satisfacer las necesidades de nuestros clientes a nivel
nacional, con relación al alquiler, venta y adecuación de contenedores marítimos.
Es por eso que todos nuestros productos y unidades están avalados por las
certificaciones ISO 9001 e ISO 14001.</p>
    </div>
  </div>
</div>
<div class="container mt-3 hidden-md-up">
  <div class="card">
    <img class="card-img-top" src="assets/imgs/compromiso-empresarial/4.jpg" style="max-height: 250px;" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">ECOAMIGABLE</h4>
      <p class="card-text">E-Containers Colombia nace debido a la gran cantidad de contenedores que
estaban acumulándose en los puertos de Colombia, y que gracias a unos
tratamientos de restauración, les damos una segunda vida, de esta manera nos
convertimos en una solución ecoamigable que trabaja bajo el concepto de logística
inversa y de construcción renovable.</p>
    </div>
  </div>
</div>

</div>
