<div class="container">
    <h1 mat-dialog-title>Rechazo</h1>
    <hr>
  <div class="row">
    <div class="col-md-6">
        <label id="example-radio-group-label mr-2">Tipo de rechazo: </label>
        <br>
        <div class="conteendor-flex">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            >
            <mat-radio-button class="example-radio-button" >
                Perdida de oportunidad
            </mat-radio-button>
            
            <mat-radio-button class="example-radio-button" >
                Rechazo
            </mat-radio-button>
          </mat-radio-group>
        </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>