<div class="principal wow fadeIn">
  
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-4 iz">
        <div class="iz-section p-5">
          <h2>{{contenedor.nombre}}</h2>
          <p>{{contenedor.descripcion_corta}}</p>
          <p><b>{{contenedor.contenedores}}</b></p>
          <hr>
          <div class="icons">
            <ul>
              <li *ngIf="contenedor.caracteristicas[0].a.cocina">
                <img  src="assets/imgs/arquitectonicos/cocina-icon.png" alt=""><h4>{{contenedor.caracteristicas[0].a.cocina}}</h4>
              </li>
              <li *ngIf="contenedor.caracteristicas[0].a.banio">
                <img  src="assets/imgs/arquitectonicos/toilet.png" alt=""> <h4>{{contenedor.caracteristicas[0].a.banio}}</h4>
              </li>
              <li *ngIf="contenedor.caracteristicas[0].a.medida">
                <img   src="assets/imgs/arquitectonicos/regla-icon.png" alt=""> <h4>{{contenedor.caracteristicas[0].a.medida}} <sup>2</sup>.</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8 de" [style.background-image]="'url(' + contenedor.imgs.img_2 + ')'">
      </div>
    </div> 
  <div class="">
    <div class="row">
    
      <div class="col-md-12 mt-5">
       <div class="formulario">
         <h4 class="text-center">Obten tu cotización</h4>
             <!-- ---------------------- -->
    <!--       FORMULARIO -->
    <!-- ---------------------- -->
    <section class="col-md-12 seccion-1"  id="formulario">
        <div class=" animated fadeInUp">
          <mat-card>
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Datos Personales</ng-template>
                  <div class="row">
                    <div class="col-md-12">
                      <!-- ============================================================== -->
                      <!-- NOMBRE
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Nombre </mat-label>
                        <input matInput placeholder="" required formControlName="nombre" [(ngModel)]="message.nombre">
                        <mat-error *ngIf="firstFormGroup.get('nombre').invalid">{{getErrorMessage("nombre")}}</mat-error>
                      </mat-form-field>
                    <!-- ============================================================== -->
                    <!-- APELLIDO
                    <!-- ============================================================== -->
                    <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="" required formControlName="apellido" [(ngModel)]="message.apellido">
                        <mat-error *ngIf="firstFormGroup.get('nombre').invalid">{{getErrorMessage("apellido")}}</mat-error>
                      </mat-form-field>
                      <!-- ============================================================== -->
                      <!-- CELULAR
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="" type="number" #input required maxlength="10" [(ngModel)]="message.celular"
                          formControlName="celular">
                        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                        <mat-error *ngIf="firstFormGroup.get('celular').invalid">{{getErrorMessage("celular")}}</mat-error>
                      </mat-form-field>
                      <!-- ============================================================== -->
                      <!-- CORREO
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput placeholder="" required formControlName="correo" [(ngModel)]="message.correo">
                        <mat-error *ngIf="firstFormGroup.get('correo').invalid">{{getErrorMessage("correo")}}</mat-error>
                      </mat-form-field>
                      <!-- ============================================================== -->
                      <!-- CIUDAD
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                          <mat-label>Ciudad</mat-label>
                          <mat-select placeholder="Select" formControlName="ciudad" [(ngModel)]="message.id_ciudad">
                            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad._id">
                              {{ciudad.nombre}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="firstFormGroup.get('ciudad').invalid">{{getErrorMessage("ciudad")}}</mat-error>
                        </mat-form-field>
                       <!-- ============================================================== -->
                      <!-- TIPO DE CLIENTE
                      <!-- ============================================================== -->
                      <!-- <mat-form-field class="mr-5" appearance="outline" >
                        <mat-label>Tipo de cliente</mat-label>
                        <mat-select placeholder="Tipo de cliente" formControlName="tipo_cliente" [(ngModel)]="message.tipo_cliente.tipo">
                          <mat-option *ngFor="let tipo_cliente of tiposDeCliente" [value]="tipo_cliente._id" (onSelectionChange) = "onEvent($event)" >
                            {{tipo_cliente.nombre}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="secondFormGroup.get('tipo_cliente').invalid">{{getErrorMessage2("tipo_cliente")}}</mat-error>
                      </mat-form-field> -->
                      <mat-form-field class="mr-5" appearance="outline" >
                          <mat-label>Tipo de cliente</mat-label>
                          <mat-select placeholder="Tipo de cliente" formControlName="tipo_cliente" [(ngModel)]="message.tipo_cliente.tipo">
                            <mat-option *ngFor="let tipo_cliente of tiposDeCliente" [value]="tipo_cliente._id" (onSelectionChange) = "onEvent($event)">
                              {{tipo_cliente.nombre}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="firstFormGroup.get('tipo_cliente').invalid">{{getErrorMessage("tipo_cliente")}}</mat-error>
                     </mat-form-field>
                    <!-- ============================================================== -->
                    <!-- NIT
                    <!-- ============================================================== -->
                     <mat-form-field *ngIf="message?.tipo_cliente.tipo === 'Empresa' || message?.tipo_cliente.tipo  === 'Contratación estatal'" class="mr-4"
                     appearance="outline">
                     <mat-label>Nit</mat-label>
                     <input matInput placeholder="" type="number" required formControlName="documento" [(ngModel)]="message.documento.numero">
                     <mat-error *ngIf="firstFormGroup.get('documento').invalid">{{getErrorMessage("documento")}}</mat-error>
                    </mat-form-field>
                    <!-- ============================================================== -->
                    <!-- CEDULA
                    <!-- ============================================================== -->
                   <mat-form-field *ngIf="message?.tipo_cliente.tipo  == 'Natural'" class="mr-4" appearance="outline">
                     <mat-label>Cedula</mat-label>
                     <input matInput placeholder="" type="number" required formControlName="documento" [(ngModel)]="message.documento.numero">
                     <mat-error *ngIf="firstFormGroup.get('documento').invalid">{{getErrorMessage("documento")}}</mat-error>
                   </mat-form-field>
                    <!-- ============================================================== -->
                    <!-- Mensaje
                    <!-- ============================================================== -->
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Mensaje</mat-label>
                      <textarea  [(ngModel)]="message.mensaje" formControlName="mensaje" matInput placeholder="Deja tu mensaje"></textarea>
                    </mat-form-field>
 
                    </div>
                  </div>
                  <div>
                      <button [disabled]="!firstFormGroup.valid" mat-raised-button color="primary" (click)="sendEmail(message)">Enviar</button>
                  </div>
                </form>
              </mat-step>
  
  
    
                   
          
  
  
            </mat-horizontal-stepper>
          </mat-card>
        </div>
      </section>
    </div>
    <!-- ---------------------- -->
    <!--       FIN   FORMULARIO -->
    <!-- ---------------------- -->
            <hr>
       </div>
      </div>
     
    </div>
  </div>
</div>

<app-footer-landing></app-footer-landing>