h2{
    font-size: 5rem;
}

h2, p {
    text-align: center;
}

p{
    font-size: 1.3em;
}

.principal{
    margin-top: 70px;
}

.iz {
  padding-left: 0;
    max-height: 585px;
}   

.iz-section{
    background: #f2f2f2;
    height: 100%;
}

.de img{
    width: 100%;
    height: 100%;;
}

.de{
    height: 500px;
     max-height: 585px;
     background-size: cover !important;
     background-position: 50% 46% !important;
     background-repeat: no-repeat !important; 
}

.menu{
    margin: 40px 0 100px 0;
    display: flex;
}

.redes{
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.logo{
    width: 40%;
}

a svg {
    color: white;
    margin-bottom: 6px;
    font-size: 1.8em;
}

.icons img{
    width: 30px;
}

li img {
    margin-right: 5px;
        width: 30px;
}

ul{
    display: flex;
    justify-content: center;
}

li{
    margin: 0 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid grey;
    padding-right: 10px;
}
li:last-child{
  
    border-right: none;
 
}




  fieldset {
    box-shadow: 0 8px 10px #29a329;
  }

  
  ul.items {
    position: absolute;
    width: 30px;
    height: auto;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
  }
  ul.items li {
    width: 8px;
    height: 8px;
    margin: 10px 0;
    background: white;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
  }
  ul.items li.active {
    opacity: 1;
  }
  
  
  @keyframes enable {
    0% {
      opacity: 0;
      transform: scale(0.2);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes error {
    0%, 50%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(3deg);
    }
  }
  /**
   * Icons in CSS, long as f****
   */
  .icon .arrow {
    width: 2px;
    height: 17px;
    top: 5px;
    left: 14px;
    background: #333333;
  }
  .icon .arrow::before {
    width: 6px;
    height: 6px;
    bottom: -1px;
    left: -3px;
    border-color: #333333;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
  }
  
  .icon .user {
    width: 20px;
    height: 10px;
    bottom: 5px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 6px 6px 3px 3px;
  }
  .icon .user::before {
    width: 10px;
    height: 10px;
    top: -9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 50%;
  }
  
  .icon .letter {
    width: 20px;
    height: 12px;
    top: 9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 3px;
  }
  .icon .letter::before, .icon .letter::after {
    width: 11px;
    height: 2px;
    top: 4px;
    background: #333333;
  }
  .icon .letter::before {
    left: 0;
    transform: rotate(30deg);
  }
  .icon .letter::after {
    right: 0;
    transform: rotate(-30deg);
  }
  
  .icon .lock {
    width: 20px;
    height: 16px;
    top: 9px;
    left: 5px;
    box-shadow: 0 0 0 2px #333333 inset;
    border-radius: 3px;
  }
  .icon .lock::before {
    width: 8px;
    height: 8px;
    top: -4px;
    left: 4px;
    border: 2px solid transparent;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-radius: 50%;
    transform: rotate(-45deg);
  }
  .icon .lock::after {
    width: 6px;
    height: 7px;
    top: 4px;
    left: 7px;
    box-shadow: 0 0 0 2px #333333 inset;
  }
  
  .icon .heart {
    width: 10px;
    height: 10px;
    top: 11px;
    left: 7px;
    background: #ff5233;
    transform: rotate(45deg);
  }
  .icon .heart::before, .icon .heart::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff5233;
  }
  .icon .heart::before {
    left: -6px;
  }
  .icon .heart::after {
    top: -6px;
  }
  

@media screen and (max-width: 576px) {


    .iz {
        padding-left: 0;
        padding-right: 0;
        max-height: inherit;
    }

    .de {
       
        margin-top: 20px;
    }
}


