<div class="container-fluid">
    <div class="owl-carousel asd-2 owl-theme owl-loaded">
        <div class="item testimonio-1">
            <div class="cuadrado">
                <div class="container">
                    <span>Estamos muy contentos con el resultado de la biblioteca pública en Mesetas -Meta, al igual que los niños que la están disfrutando. E-Containers se adaptó no solo a los requerimientos de la licitación del Gobierno Nacional, sino también a las condiciones del espacio donde debían instalarse los contenedores. </span>
                    <i class="fas fa-quote-left"></i>
                </div>
                <hr>
                <span class="empresa">MINISTERIO DE CULTURA</span>
                <span class="nombre"></span>
            </div>
        </div>
        <div class="item testimonio-2">
            <div class="cuadrado">
                <div class="container">
                    <span>Sabemos que cada uno de nuestros puntos de atención ademas de ser salas de ventas, son la cara corporativa de nuestra compañia, E containers colombia llena con sus proyectos cada una de nuestras expectativas y  facilita el impulso comercial de cada uno de los productos y servicios de nuestros clientes.
                      </span>
                    <div class="coma">
                        <i class="fas fa-quote-left"></i>
                    </div>
                    <hr>
                    <span class="empresa">RENAULT</span>
                    <span class="nombre"></span>
                </div>
            </div>
        </div>
        <div class="item testimonio-3">
            <div class="cuadrado">
                <div class="container">
                    <span>Un contenedor, adaptado como showroom o sala de ventas, es la mejor forma para exhibir y mostrar nuestros productos, además que es transportable. E-Containers nos brinda la posibilidad de personalizar la unidad para generar recordación de nuestra marca. 
                      </span>
                    <i class="fas fa-quote-left"></i>
                </div>
                <hr>
                <span class="empresa">CROMANTIC </span>
                <span class="nombre"></span>
            </div>
        </div>


    </div>

</div>