<div class="row animated fadeIn">
    <div class="col-lg-3 pointer" *ngFor="let usuario of usuarios" >
      <div class="card wow fadeIn hvr-grow-shadow" [routerLink]="[ 'usuario', usuario._id ]">
        <div class="card-body">
            <div class="media" >
                <img class="mr-3" style="width:25%; border-radius: 100%;" [ngStyle]="{'filter': estadoUsuario(usuario?.estado)}" [src]="(usuario.imagen)? usuario.imagen : 'assets/imgs/images/no-image.png'" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0"><b>{{usuario.nombre}} {{usuario.apellido}}</b></h5>
                  <p class="mt-0">{{usuario.id_rol.nombre | nombre}}</p>
                </div>
              </div>
        </div>
      </div>
    </div>
    
  </div>
  
    <button mat-fab (click)="openDialog('crear-usuario')" class="boton-agregar wow fadeInRight" color="primary">+</button>
  