<div class="row contacto wow fadeInUpBig" data-wow-duration=".8s ">
  <div class="col-md-5">
    <h3>Estamos listos para atender <br> tu requerimiento </h3>
    <p>
      Direccion: Calle 114a #47a-21
    </p>
    <p>
     +57(1) Telefono: 746-2065
    </p>
    <p>
      info@econtainers.co
    </p>
    <ul>
      <li>
          <i class="fab fa-instagram"></i>
      </li>
      <li>
          <i class="fab fa-facebook"></i>
      </li>
      <li>
          <i class="fab fa-twitter"></i>
      </li>
      <li>
          <i class="fab fa-youtube"></i>
      </li>
    </ul>
  </div>
  <div class="col-md-7">
    <div class="formulario">
      <form ngValidate [formGroup]="forma" (submit)="sendEmail(message)" >
        <input type="text" placeholder="Nombre" name="nombre" formControlName="nombre" [(ngModel)]="message.nombre">
        <input type="text" placeholder="Telefono" name="cel" formControlName="cel" [(ngModel)]="message.cel">
        <input type="email" placeholder="Correo" name="correo" formControlName="correo" [(ngModel)]="message.correo">
        <textarea placeholder="Mensaje" name="" id="" cols="30" rows="10" [(ngModel)]="message.mensaje"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>




<!-- redireccion a catalina, y a juanmanuel -->