<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 611 768"><defs><style>.cls-1{fill:url(#Degradado_sin_nombre_30);}</style><linearGradient id="Degradado_sin_nombre_30" x1="-1.64" y1="-33.63" x2="360.36" y2="458.59" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#44decd"/><stop offset="1" stop-color="#41a7cd"/></linearGradient></defs><title>Recurso 3</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polygon class="cls-1" points="611 0 0 0 0 768 179 768 611 0"/></g></g></svg> -->
<div class="main">
    <div class="header">
        <img src="assets/imgs/e-commerce/logo-blanco.png" alt="">
        <ul>
            <li class="pointer" [routerLink]="[ '/refrigerados' ]">Contenedores Refrigerados</li>
            <li class="pointer" [routerLink]="[ '/cotizacion/5bd8fc05b71ca700131deca3' ]">Contenedor Salas de Ventas</li>
        </ul>
    </div>
    <div class="container wow fadeIn">
        <div class="row">
          <div class="informacion">
            <div class="texto">
              <p>
                 <b>Politica de devolución y reembolsos</b><br>
                  Los terminos y condiciones para devoluciones y rembolsos estan sujetos a las condiciones comerciales de E-Containers y su acuerdo segun el contrato que se halla realizado.
            </div>
          </div>
        </div>
    </div>
   
    <svg class="svg_derecha" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1187 768"><defs><style>.cls-1{fill:url(#Degradado_sin_nombre_9);}</style><linearGradient id="Degradado_sin_nombre_9" x1="283.83" y1="267.68" x2="1144.15" y2="590.84" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#334364"/><stop offset="1" stop-color="#171834"/></linearGradient></defs><title>Recurso 4</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polygon class="cls-1" points="1187 0 1187 768 0 768 432 0 1187 0"/></g></g></svg>
    
</div>
