// DEMO

$color-main: #59bcf4;
$black: #202020;
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.seccion-titulo{
  background:#f0f4f5; 
  height: 100px;
}

.text.hidden {
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: black;
  opacity: 1;
  transition: all 3s ease-in-out;
  max-width: 300px;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.2em;}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}


.bigger {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
  padding: 20px;
  text-transform: uppercase;
  color: $black;
  display: inline-block;
  position: relative;
}
label{
  display: block;
}

.imagen-contenedor{
  overflow: hidden;
  max-height: 400px;
}

.imagen-contenedor img {
  width: 95%;
  bottom: 25%;
}

.text {
  max-width: 800px;
  font-size: 2em!important;
  width: 100%;
  line-height: 24px;
  text-align: left;
  color: #404040;
  padding: 20px;
  &.txt-center {
    text-align: center;
  }
  a {
    color: $color-main;
  }
}

// ANIMATION

.has-animation {
  position: relative;
  p, img {
      opacity: 0;
  }
  &.animate-in {
    p, img {
      animation: textHidden 0.1s 1.1s forwards;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 10;
    }
    &:before {
      background-color: $color-main;
    }
    &:after {
      background-color: $black;
      animation-delay: .5s;
    }
  }
  &.animation-ltr.animate-in {
    &:before {
      animation: revealLTR 1.8s ease;
    }
    &:after {
      animation: revealLTR 1s .6s ease;
    }
  }
  &.animation-rtl.animate-in {
    &:before {
      animation: revealRTL 1.8s ease;
    }
    &:after {
      animation: revealRTL 1s .6s ease;
    }
  }
}

@keyframes revealRTL {
  0%{
    width: 0;
    right: 0;
  }
  65%{
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealLTR {
  0%{
    width: 0;
    left: 0;
  }
  65%{
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}




@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
