<header class="header">

  <div class="row">
    <div class="col-md-6 contenedor">
      <div class="titulo wow fadeIn">
        <h1>TAILOR MADE</h1>
        <h2>Proyectos a tu medida</h2>
      </div>
      <div class="seccion-video">
        <p>Construimos Espacios Únicos <br> en Diseño y Confort.</p>
        <a href="https://player.vimeo.com/video/318221694?byline=0&portrait=0" data-fancybox data-caption="Casa Container">
        <button class="btn boton">Ver <i class="fas fa-play"></i> </button>
        </a>
      </div>
    </div>
    <div class="col-md-6 text-align-responsive">
          <button class="btn boton producto" [routerLink]="[ '/landing']">Conoce otros productos <i class="fas fa-play"></i> </button>
    </div>
  </div>
  <div class="circulos  d-none d-sm-block">
    <ul>
        <li>
          <div class="circulo circulo-1 wow flipInX" data-wow-duration="2s">
           <div class="border">
             <img src="assets/imgs/tailorMade/icono-1.png" alt="">
           </div>
          </div>
        <p>Cada espacio que contruimos <br>
              esta lleno de originalidad e innovación </p>
        </li>
        <li class="abajo">
          <div class="circulo circulo-2 wow flipInX" data-wow-duration="2s">
              <div class="border">
                <img src="assets/imgs/tailorMade/icono-2.png" alt="">
                </div>
          </div>
          <p>Con cada proyecto disminuimos <br>
              el impvacto ambiental. </p>

        </li>
        <li class="abajo">
          <div class="circulo circulo-3 wow flipInX" data-wow-duration="2s">
              <div class="border">
                <img src="assets/imgs/tailorMade/icono-3.png" alt="">
                </div>
          </div>
          <p>Te apoyamos y asesoramos<br>
              de principio a fin en el <br>
              desarrollo de tu proyecto</p>

        </li>
        <li>
          <div class="circulo circulo-4 wow flipInX" data-wow-duration="2s">
              <div class="border">
                <img src="assets/imgs/tailorMade/icono-4.png" alt="">
                </div>
          </div>
          <p>Optimizamos al máximo<br>
              tu presupuesto manteniendo<br>
              siempre la calidad y la garantia<br>
              en nuestros productos. </p>

        </li>
      </ul>
  </div>
  <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1402.01 128.71"><defs><style>.cls-1{fill:#fff;stroke:#fff;stroke-miterlimit:10;}</style></defs><path class="cls-1" d="M1400.5,177.46A2158.11,2158.11,0,0,1,727.5,289,2159.22,2159.22,0,0,1-.5,166.5V294h1400Z" transform="translate(1 -165.79)"/></svg>
</header>

<section class="s2  mb-5 wow fadeIn">
  <p>Aquí te ayudamos a hacer realidad tus sueños,apoyamos tus ideas paso a paso, <br>
      para esto sigue cada una de las indicaciones hasta finalizar tu proceso.</p>
      <i class="far fa-circle"></i>
      <i class="far fa-circle"></i>
      <i class="far fa-circle"></i>
</section>

<div class="s3 wow fadeIn">
  <div class="row">
    <div class="col-md-6 contenedor seccion-3-iz">
      <p>NUESTRO EQUIPO DE  PROYECTOS Y<br>
          ARQUITECTURA ESTA LISTO PARA<br>
          INICIAR TU PROYECTO</p>
      <img class="imagen-arqui" src="assets/imgs/tailorMade/arqui.png" alt="">
      <button class=" btn boton">INICIAR PROYECTO <img class="img-cursor" src="assets/imgs/tailorMade/cursor.png" alt=""></button>
    </div>
    <div class="col-md-6 seccion-3-de contenedor ">
      <p class="texto-3" >HACER REALIDAD EL PROYECTO DE TUS<br><b>SUEÑOS</b> NUNCA FUE TAN FACIL </p>
      <ul>
        <li>
          <p class="numero">1</p>
          <p class="parrafo">Antes de comenzar, ten presente tu idea inicial de <br>
              tu proyecto arquitectónico.</p>
        </li>
        <li>
          <p class="numero">2</p>
          <p class="parrafo">Identifica y relaciona la medida de cada tipo<br>
              de contenedor con relación al area aprox. de tu <br>
              proyecto (20Pies / 40 Pies).</p>
        <li>
          <p class="numero">3</p>
          <p class="parrafo">Selecciona la cantidad de contenedores que<br>
              crees que pueden relacionarse con el area aprox.<br>
              de tu proyecto, y te mostraremos el presupuesto<br>
              de inversión con el cual podras adquirirlo.</p>
        </li>
        <li>
          <p class="numero">4</p>
          <p class="parrafo">Una vez seleccionada la cantidad y previsualizado<br>
              la inversión, podras acceder al pago, registra tus <br>
              datos en el formulario Payu.</p>
        </li>
        <li>
          <p class="numero">5</p>
          <p class="parrafo">Inmediatamente recibido el pago, recibiras la confrimación<br>
              via correo electronico y llamada telefónica , tendras a tu <br>
              disposición nuestro equipo de proyectos y arquitectura<br>
              para dar incio a la siguiente etapa del proyecto. </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="s4 wow fadeIn">
  <img class="familia" src="assets/imgs/tailorMade/familia.png" alt="">
  <img class="imagen-contenedor" src="assets/imgs/tailorMade/container.png" alt="">
</div>

<div class="seccion-2 " style="margin-bottom: 30px;">
    <div class="container">
      <div class="tarjetas row">
        <p class="texto-1 col-md-12" >OTROS PROYECTOS DE TU INTERES</p>
        <div class="tarjeta col-md-3 wow fadeIn" data-wow-duration="2s" *ngFor="let arquitectonico of arquitectonicos; let i = index">
            <div class="grid">
            <figure class="effect-lily">
                <img [src]="arquitectonico.imgs.img_1" alt="img12"/>
                <figcaption>
                  <div>
                    <h2>{{arquitectonico.nombre}}</h2>
                    <p>{{arquitectonico.descripcion_corta}}</p>
                  </div>
                  <a (click)="verArquitectonico(i)" >View more</a>
                </figcaption>			
              </figure>
            </div>
            <div class="datos">
              <p class="precio">
                  <b>Desde {{arquitectonico.precio.desde}} $COP</b>
              </p>  
                <span class="descripcion">
                  <p>{{(arquitectonico.caracteristicas[0].a.cocina == null) ? '' : 'Cocina |'}}  {{alcobas(arquitectonico.caracteristicas[0].a.alcoba)}}  {{(arquitectonico.caracteristicas[0].a.banio == null) ? '' : 'Baño |'}}  {{arquitectonico.caracteristicas[0].a.medida}} <sup>2</sup> </p>
              </span>  
            </div>
        </div>
      </div>
      </div>
  </div>

  <!-- <footer class="mt-5 wow fadeIn">
    <div class="row">
      <div class="col-md-4 contacto">
        <ul>
          <li>
            <i class="fas fa-globe fa-2x mr-2"></i>
            <a [routerLink]="[ '/home' ]">www.econtainers.co</a>
          </li>
          <li>
              <i class="fas fa-phone fa-2x mr-2"></i>
            <a href="">(+57) 3116394356</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="redes">
          <img src="assets/imgs/tailorMade/logos.png" alt="">
          <p>@econtainers</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="iso">
          <img src="assets/imgs/tailorMade/ISO9001.png" alt="">
          <img src="assets/imgs/tailorMade/ISO14001.png" alt="">
        </div>
      </div>
    </div>
  </footer> -->
  <app-footer-landing></app-footer-landing>



