<form #form method="post" [action]="prueba">
  <input name="merchantId" type="hidden" [(ngModel)]="payuMessage.merchantId">
  <input name="referenceCode" type="hidden" [(ngModel)]="payuMessage.referenceCode">
  <input name="description" type="hidden" [(ngModel)]="payuMessage.description">
  <input name="amount" type="hidden"  [(ngModel)]="payuMessage.amount">
  <input name="tax" type="hidden" [(ngModel)]="payuMessage.tax">
  <input name="taxReturnBase" type="hidden" [(ngModel)]="payuMessage.taxReturnBase">
  <input name="signature" type="hidden" [(ngModel)]="payuMessage.signature">
  <input name="accountId" type="hidden" [(ngModel)]="payuMessage.accountId">
  <input name="currency" type="hidden" [(ngModel)]="payuMessage.currency">
  <input name="buyerFullName" type="hidden" [(ngModel)]="payuMessage.buyerFullName">
  <input name="buyerEmail" type="hidden" [(ngModel)]="payuMessage.buyerEmail">
  <input name="shippingAddress" type="hidden" [(ngModel)]="payuMessage.shippingAddress">
  <input name="shippingCity" type="hidden" [(ngModel)]="payuMessage.shippingCity">
  <input name="shippingCountry" type="hidden" [(ngModel)]="payuMessage.shippingCountry">
  <input name="telephone" type="hidden" [(ngModel)]="payuMessage.telephone">
  <input name="test" type="hidden" [(ngModel)]="payuMessage.test">
  <input name="responseUrl" type="hidden" value="http://localhost:4200/payu-response">
  <input name="confirmationUrl" type="hidden" value="http://localhost:4200/payu-response">
  <input *ngIf="!disablePaymentButton" (click)="enviarPago(form)" name="Submit" type="submit" value="Enviar">
</form>

{{payuMessage | json}}