  .reefer-card-about-us img{
    max-width: 80px !important;
    text-align: center !important;
  }

  .reefer-card-about-us {
    text-align: center !important;
  }

  .card-border-right {
    border-right: none !important;
  }

  .reefer-card-about-us h1 {
    font-size: 18px !important;
    line-height: 20px !important;
  }

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) {
    .card-border-right {
        border-right: 1px solid #37505D !important;
    }
}