<h1 mat-dialog-title>{{lead.data.id_cliente.nombre}} {{lead.data.id_cliente.apellido}}</h1>
<div mat-dialog-content>
<div class="row">

       

    <div class="col-md-12">
        <div class="linea-de-tiempo">
            <ul>
              <li class="active pointer">
                <div [ngbPopover]="lead.data?.estado.primerPaso.fecha_inicial || '0 dias'" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Lead en proceso" class="seccion-negocio">
                  <span class="">Lead en proceso</span>
                </div>
               
              </li>
              <li  [ngClass]="{'verde': lead.data?.estado.segundoPaso.estado === true, 
              'gris':lead.data?.estado.segundoPaso.estado === false }" class="transition-effect pointer">
                  <div [ngbPopover]="lead.data?.estado.segundoPaso.fecha_inicial  || '0 dias' " placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Contacto Establecido" class="seccion-negocio">
                      <span  class="">Contacto Establecido</span>
                      <span class="flecha-inicial"></span>
                    </div>
                 
                   
                </li>
              <li [ngClass]="{'verde': lead.data?.estado.tercerPaso.estado === true, 
              'gris':lead.data?.estado.tercerPaso.estado === false }" class="transition-effect pointer">
                  <div [ngbPopover]=" lead.data?.estado.tercerPaso.fecha_inicial || '0 dias'" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Propuesta Realizada" class="seccion-negocio">
                      <span class="">Propuesta Realizada</span>
                      <span class="flecha-inicial"></span>
                    </div>
                   
                   
                </li>
              <li [ngClass]="{'verde': lead.data?.estado.cuartoPaso.estado === true, 
              'gris':lead.data?.estado.cuartoPaso.estado === false }" class="pointer"  class="transition-effect">
                    <div  [ngbPopover]="lead.data?.estado.cuartoPaso.fecha_final || '0 dias'" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Negociación Terminada" class="seccion-negocio pointer">
                      <span class="">Negociación Terminada</span>
                      <span class="flecha-inicial"></span>
                  </div>
                </li>
            </ul>
          </div>
      </div>
      
      <div class="col-lg-4">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title"><span class="lstick"></span>Datos</h4>
                  <div style="height: 220px" class="text-center">
                      <img [src]="lead.data.id_cliente.id_segmento.foto" width="150" class="img-circle" alt="">
                  </div>
                  <mat-button-toggle  (click)="borrarLead(lead.data._id)" value="bold">Borrar <i class="fa fa-trash"></i></mat-button-toggle>
                  <table class="table vm font-12 m-b-0">
                     
                      <tr>
                          <td>Estado</td>
                          <td class="text-right font-medium">
                            <small class="font-medium text-{{lead.data.id_semaforo.color}}" style="transition: color 0.5s ease;"> 
                              <i class="fa fa-circle  m-r-5 font-10" ></i> <p style="display: inline;">{{estadoFinal}}</p>
                          </small> 

                        </td>
                      </tr>
                      <tr>
                          <td>Fecha</td>
                          <td class="text-right font-medium">{{lead.data.id_cliente.fecha_creacion}} - {{lead.data.id_cliente.hora_creacion}}</td>
                      </tr>
                      <tr>
                          <td>Correo</td>
                          <td class="text-right font-medium">{{lead.data.id_cliente.correo}}</td>
                      </tr>
                      <tr>
                          <td>Celular</td>
                          <td class="text-right font-medium">{{lead.data.id_cliente.celular}}</td>
                      </tr>
                      <tr>
                          <td>Ciudad</td>
                          <td class="text-right font-medium">{{lead.data.id_cliente.id_ciudad.nombre}}</td>
                      </tr>
                      <tr>
                          <td>Documento</td>
                          <td class="text-right font-medium">{{lead.data.id_cliente.documento.tipo_documento}}: {{lead.data.id_cliente.documento.numero}}</td>
                      </tr>
                      <tr>
                          <td>Segmento</td>
                          <td class="text-right font-medium">{{lead.data.id_cliente.id_segmento.nombre}}</td>
                      </tr>
                      <tr>
                          <td>Modalidad</td>
                          <td class="text-right font-medium">{{lead.data.id_cliente.modalidad}}</td>
                      </tr>
                     
                  </table>
              </div>
          </div>
      </div>
      <div class="col-lg-8">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title"><span class="lstick"></span>Mensaje del cliente</h4>
 
                  <p style="font-size: 12px; font-family:Montserrat">{{lead.data.id_cliente.mensajeCliente}}</p>
              </div>
          </div>
          <div class="card">
               <ul  class="timeline" *ngIf="mensajes.length > 0">
                      <li *ngFor="let mensaje of mensajes"  class="timeline-inverted" >
                          <div class="timeline-badge success"><i [class]="mensaje.id_tipo?.icono"></i> </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h5 class="timeline-title">{{mensaje.id_tipo.nombre}}</h5>
                                  <p><small class="text-muted"><i class="icon-clock"></i> {{mensaje.fecha_inicial}}</small> </p>
                              </div>
                              <div class="timeline-body">
                                  <p>{{mensaje.mensaje}}</p>
                              </div>
                          </div>
                      </li>
                      </ul>
                      <h4 *ngIf="mensajes.length === 0" class="card-title text-center" style="margin-bottom: 0;">SIN EVENTOS</h4>
          </div>
      </div>
    </div>
</div>