<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Referidos Redes Sociales</h4>
                <h5 class="card-subtitle">Formulario</h5>
                <form [formGroup]="forma" (submit)="sendEmail(message)" class="form p-t-20">
                    <!-- ============================================================== -->
                    <!-- NOMBRE
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-user"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="exampleInputuname3" name="noombre" formControlName="nombre" placeholder="Nombre"
                                    [(ngModel)]="message.nombre">
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- APELLIDO
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Apellido</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-user"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="exampleInputuname3" name="apellido" formControlName="apellido" placeholder="Apellido"
                                    [(ngModel)]="message.apellido">
                            </div>
                        </div>
                    </div>
                     <!-- ============================================================== -->
                    <!-- CORREO
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="exampleInputEmail3" class="col-sm-12 control-label">Correo Electronico</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-email"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Correo electronico" name="correo" formControlName="correo"
                                    [(ngModel)]="message.correo">
                            </div>
                        </div>
                    </div>
                     <!-- ============================================================== -->
                    <!-- CELULAR
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="web" class="col-sm-3 control-label">Celular</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-mobile"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="celular" placeholder="celular" name="celular" formControlName="celular" required [(ngModel)]="message.celular">
                            </div>
                        </div>
                    </div>
                    <!--============================================================== -->
                    <!--TIPO DE CLIENTE
                    <!--============================================================== -->
                    <div class="form-group ">
                        <label for="web" class="col-sm-12 control-label">Tipo cliente</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-briefcase"></i>
                                    </span>
                                </div>
                                <select class="form-control custom-select" name="tipo_cliente" formControlName="tipo_cliente" [(ngModel)]="message.tipo_cliente.tipo" tabindex="1">
                                    <ng-container *ngFor="let tipo_cliente of tiposDeCliente">
                                        <option *ngIf="tipo_cliente.nombre != 'Natural'"  [value]="tipo_cliente._id">{{tipo_cliente.nombre}}</option>
                                    </ng-container>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                     <!-- ============================================================== -->
                    <!-- EMPRESA
                    <!-- ============================================================== -->
                    <div *ngIf="message.tipo_cliente.tipo == '5ca53c8ac2ba0b0017eccd89'" class="form-group ">
                        <label for="web" class="col-sm-12 control-label">Empresa</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-user"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" name="empresa" formControlName="empresa" placeholder="Nombre Empresa"
                                    [(ngModel)]="message.tipo_cliente.nombre">
                            </div>
                        </div>
                    </div>
                     <!-- ============================================================== -->
                    <!-- NIT
                    <!-- ============================================================== -->
                    <div *ngIf="message.tipo_cliente.tipo == '5ca53c8ac2ba0b0017eccd89' || message?.tipo_cliente.tipo  === '5ca53ca4c2ba0b0017eccd8a'" class="form-group ">
                        <label for="web" class="col-sm-12 control-label">Nit</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-user"></i>
                                    </span>
                                </div>
                                <input type="number" class="form-control" name="documento" formControlName="empresa" placeholder="NIT"
                                    [(ngModel)]="message.documento.numero">
                            </div>
                        </div>
                    </div>
                     <!-- ============================================================== -->
                    <!-- CEDULA
                    <!-- ============================================================== -->
                    <div *ngIf="message.tipo_cliente.tipo == '5ca53c81c2ba0b0017eccd87'" class="form-group ">
                            <label for="web" class="col-sm-12 control-label">Cedula</label>
                            <div class="col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon11">
                                            <i class="ti-user"></i>
                                        </span>
                                    </div>
                                    <input type="number" class="form-control" name="documento" formControlName="documento" placeholder="CEDULA"
                                        [(ngModel)]="message.documento.numero">
                                </div>
                            </div>
                        </div>
                    
                     <!-- ============================================================== -->
                    <!-- MODALIDAD
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="web" class="col-sm-12 control-label">Modalidad</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-bag"></i>
                                    </span>
                                </div>
                                <select class="form-control custom-select" name="modalidad" formControlName="modalidad" [(ngModel)]="message.modalidad" tabindex="1">
                                    <option>¿Lo quieres para?</option>
                                    <option *ngIf="message.tipo_cliente.tipo == '5ca53c81c2ba0b0017eccd87' || message.tipo_cliente.tipo == '5ca53c8ac2ba0b0017eccd89' || message.tipo_cliente.tipo == '5ca53ca4c2ba0b0017eccd8a'">Compra</option>
                                    <option *ngIf="message.tipo_cliente.tipo != '5ca53c81c2ba0b0017eccd87'">Alquiler</option>
                                </select>
                            </div>
                        </div>
                    </div>
                     <!-- ============================================================== -->
                    <!--   SEGMENTO
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="web" class="col-sm-3 control-label">Segmento</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-world"></i>
                                    </span>
                                </div>
                                <select class="form-control custom-select" name="tipo" formControlName="id_segmento" [(ngModel)]="message.id_segmento" tabindex="1">
                                     <ng-container *ngFor="let segmento of segmentos">
                                        <option [value]="segmento._id">{{segmento.nombre}}</option>
                                     </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- CIUDAD
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="web" class="col-sm-3 control-label">Ciudad</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-direction-alt"></i>
                                    </span>
                                </div>
                                <select class="form-control custom-select" name="ciudad" formControlName="ciudad" tabindex="1" [(ngModel)]="message.id_ciudad">
                                    <ng-container *ngFor="let ciudad of ciudades">
                                            <option [value]="ciudad._id"> {{ciudad.nombre}}</option>
                                    </ng-container>
                                 </select>
                            </div>
                        </div>
                    </div>
                     <!-- ============================================================== -->
                    <!-- LEAD REFERIDO
                    <!-- ============================================================== -->
                    <div class="form-group ">
                        <label for="web" class="col-sm-3 control-label">Referido</label>
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">
                                        <i class="ti-rss-alt"></i>
                                    </span>
                                </div>
                                <select class="form-control custom-select" name="fuente" formControlName="fuente" [(ngModel)]="message.fuente" tabindex="1">
                                    <option value="Facebook">Facebook</option>
                                    <option value="instagram">instagram</option>
                                    <option value="Whatsapp">Whatsapp</option>
                                    <option value="Twitter">Twitter</option>
                                    <option value="Mercado Libre">Mercado Libre</option>
                                    <option value="Publicar">Publicar</option>
                                    <option value="Noticias">Noticias</option>
                                    <option value="Blog">Blog</option>
                                </select>
                                <!-- <div class="custom-control custom-checkbox ml-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="referido2" [(ngModel)]="message.referido2">
                                    <label class="custom-control-label" for="customCheck1">24-7</label>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group  m-b-0">
                        <div class="offset-sm-3 col-sm-12">
                            <button [disabled]="carga" type="submit" class="btn btn-success m-r-10">Guardar</button>
                            <button (click)="limpiar()" class="btn btn-dark">Limpiar</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
            <div class="card ">
                    <div class="card-body ">
                            <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
                                </mat-form-field>
                                <div class="mat-elevation-z8">
                                  <table mat-table [dataSource]="dataSource" matSort>
                                
                                    <!-- Nombre Column -->
                                    <ng-container matColumnDef="Nombre">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                      <td class="text-white" mat-cell *matCellDef="let row"  [ngClass]="{
                                        'table-verde':row.fuente === 'Whatsapp',
                                        'table-info':row.fuente === 'Facebook',
                                        'table-amarilla':row.fuente === 'Mercado Libre',
                                        'table-azul-claro':row.fuente === 'Twitter',
                                        'table-roja':row.fuente === 'instagram'
                                        }"> {{row.nombre}} {{row.apellido}} </td>
                                    </ng-container>
                                    <!-- Correo Column -->
                                    <ng-container matColumnDef="Referido">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Referido </th>
                                      <td class="text-white" mat-cell *matCellDef="let row"  [ngClass]="{
                                        'table-verde':row.fuente === 'Whatsapp',
                                        'table-info':row.fuente === 'Facebook',
                                        'table-amarilla':row.fuente === 'Mercado Libre',
                                        'table-azul-claro':row.fuente === 'Twitter',
                                        'table-roja':row.fuente === 'instagram'
                                        }"> <i *ngIf="row.fuente != 'Mercado Libre'" class="fa-2x facebook fab mr-2" [ngClass]="{
                                            'fa-whatsapp':row.fuente === 'Whatsapp',
                                            'fa-facebook':row.fuente === 'Facebook',
                                            'fa-twitter':row.fuente === 'Twitter',
                                            'fa-instagram':row.fuente === 'instagram'
                                            }"></i>{{row.fuente}} </td>
                                    </ng-container>
                                    <!-- Correo Column -->
                                    <ng-container matColumnDef="hora">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Creación </th>
                                      <td class="text-white" mat-cell *matCellDef="let row"  [ngClass]="{
                                        'table-verde':row.fuente === 'Whatsapp',
                                        'table-info':row.fuente === 'Facebook',
                                        'table-amarilla':row.fuente === 'Mercado Libre',
                                        'table-azul-claro':row.fuente === 'Twitter',
                                        'table-roja':row.fuente === 'instagram'
                                        }"> {{row.hora_creacion}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row">
                                    </tr>
                                  </table>
                                  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                                </div>
                        </div>
                    </div>

    </div>


</div>