
<div [ngClass]="{'degradado-homepage': router.url == '/reefer/inicio' }" class="ec-font-supermolo-regular">
  <div class="reefer-header ec-container ec-margin-bottom-small">
    <div class="reefer-nav">
      <img *ngIf="router.url == '/reefer/inicio'; else otro" [routerLink]="['/reefer/inicio']" class="log-r" src="../../../assets/images/logo-reefer.png" alt="" />
      <ng-template #otro>
        <img class="log-r" [routerLink]="['/reefer/inicio']"  src="../../../assets/images/logo-reefer-azul.png" alt="" />
      </ng-template>
    </div>
    <div *ngIf="router.url == '/reefer/inicio'; else menuOnMobile" class="reefer-nav hide-on-mobile">
      <a routerLinkActive="reefer-activo" routerLink="/reefer/inicio" class="link-1"> INICIO </a>
      <a [matMenuTriggerFor]="menuc" routerLinkActive="reefer-activo" class="link-1">
        PRODUCTOS Y SERVICIOS
        <i class="fas fa-chevron-down ec-color-white ec-margin-left-xsmall"></i>
      </a>
      <a routerLinkActive="reefer-activo" routerLink="/reefer/nosotros" class="link-1"> NOSOTROS </a>
      <a routerLinkActive="reefer-activo" routerLink="/reefer/contacto" class="link-1"> CONTACTO</a>
    </div>
    <ng-template #menuOnMobile>
        <div class="reefer-nav hide-on-mobile">
          <a routerLinkActive="reefer-activo" routerLink="/reefer/inicio" class="link-2"> INICIO </a>
          <a [matMenuTriggerFor]="menuc" routerLinkActive="reefer-activo" routerLink="/reefer/productos-y-servicios" class="link-2">
            PRODUCTOS Y SERVICIOS
            <i class="fas fa-chevron-down ec-reefer-color-blue-dark  ec-margin-left-xsmall"></i>
          </a>
          <a routerLinkActive="reefer-activo"  routerLink="/reefer/nosotros" class="link-2"> NOSOTROS </a>
          <a routerLinkActive="reefer-activo" routerLink="/reefer/contacto" class="link-2"> CONTACTO</a>
        </div>
    </ng-template>

    <div [matMenuTriggerFor]="menum" class="hide-on-desktop menu">
      <a [ngClass]="{'ec-color-white': router.url == '/reefer/inicio', 'ec-color-reefer': router.url !== '/reefer/inicio'}"
       class="menu ec-font-supermolo-regular ec-margin-right-xsmall">
        MENU
      </a>
      <i [ngClass]="{'ec-color-white': router.url == '/reefer/inicio', 'ec-color-reefer': router.url !== '/reefer/inicio'}" class="fas fa-chevron-down"></i>
    </div>

    <div class="social-menu hide-on-mobile">
      <a href="https://www.instagram.com/econtainers/" target="_blank">
        <img class="logo" src="../../../assets/images/reefer-instagram.png" alt="">
      </a>
      <a href="https://www.facebook.com/EContainers/" target="_blank">
        <img class="logo" src="../../../assets/images/reefer-facebook.png" alt="">
      </a>
      <a href="https://www.youtube.com/channel/UCc9_pDkvmipTo5aXavS9inQ" target="_blank">
        <img class="logo" src="../../../assets/images/reefer-youtube.png" alt="">
      </a>
    </div>
  </div>
  <mat-menu #menum="matMenu" class="menu-mobile">
      <button mat-menu-item routerLink="/reefer/inicio"  class="ec-reefer-color-blue-dark">Inicio</button>
      <button mat-menu-item [matMenuTriggerFor]="menuc" class="ec-reefer-color-blue-dark ">Productos y servicios</button>
      <button mat-menu-item routerLink="/reefer/nosotros" class="ec-reefer-color-blue-dark">Nosotros</button>
      <button mat-menu-item routerLink="/reefer/contacto" class="ec-reefer-color-blue-dark">Contacto</button>
    </mat-menu>

    <mat-menu #menuc="matMenu" class="menu-mobile">
      <button routerLink="/reefer/productos-y-servicios/contenedores-de-20-y-40-pies" mat-menu-item class="ec-reefer-color-blue-dark">
        Contenedores de 20 y 40 pies
      </button>
      <button routerLink="/reefer/productos-y-servicios/como-funciona-un-reefer" mat-menu-item class="ec-reefer-color-blue-dark ">
        ¿Porqué es mejor un reefer?
      </button>
      <button routerLink="/reefer/productos-y-servicios/accesorios-adicionales" mat-menu-item class="ec-reefer-color-blue-dark ">
        Accesorios adicionales
      </button>
      <button routerLink="/reefer/productos-y-servicios/servicio-tecnico" mat-menu-item class="ec-reefer-color-blue-dark ">
        Servicio técnico
      </button>
      <button routerLink="/reefer/productos-y-servicios/transporte" mat-menu-item class="ec-reefer-color-blue-dark ">
        Transporte
      </button>
      <button
        routerLink="/reefer/productos-y-servicios/proyectos-especiales"
        mat-menu-item
        class="ec-reefer-color-blue-dark"
      >
        Proyectos especiales
      </button>
    </mat-menu>
  <router-outlet></router-outlet>
</div>
