.degradado-homepage {
  height: 700px !important;
  width: 100% !important;
  background: rgb(255,255,255) !important;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(141,194,221,1) 54%) !important;;
}

.reefer-header {
  margin-bottom: 30px !important;
}


.link-1 {
    transition: 0.3s ease !important;
    color: #ffffff !important;
    cursor: pointer !important;
    font-size: 13px !important;
    text-decoration: none !important;
    border-top: 4px solid  rgb(141, 194, 221) !important;
    border-bottom: 4px solid rgb(141, 194, 221) !important;
    padding: 20px 0 !important;
    margin: 0 20px !important;
    font-family: 'SupermolotNeue-regular' !important;
  }


  .link-2 {
    transition: 0.3s ease !important;
    color: rgb(141, 194, 221) !important;
    cursor: pointer !important;
    font-size: 13px !important;
    text-decoration: none !important;
    border-top: 4px solid  white !important;
    border-bottom: 4px solid white !important;
    padding: 20px 0 !important;
    margin: 0 20px !important;
    font-family: 'SupermolotNeue-regular' !important;
  }

  .reefer-nav {
    margin-top: 15px !important;
  }

  .menu{
    font-size: 13px !important;
    margin-top: 25px !important;
  }

  .menu-mobile button{
    color: #37505D !important;
  }

  .social-menu {
    margin-top: 15px !important;
  }

  .link-1:hover {
    border-top: 4px solid #37505D !important;
    border-bottom: 4px solid #37505D !important;
    color: #37505D  !important;
    padding: 6px 0 !important;
  }

  .link-2:hover {
    border-top: 4px solid #37505D !important;
    border-bottom: 4px solid #37505D !important;
    color: #37505D  !important;
    padding: 6px 0 !important;
  }

  .reefer-activo {
    border-top: 4px solid #37505D !important;
    border-bottom: 4px solid #37505D !important;
    color: #37505D  !important;
    padding: 6px 0 !important;
  }

  .social-menu img {
    width: 30px;
    margin-right: 5px !important;
  }

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) {

}
