.degradado-homepage {
  height: 600px !important;
  width: 100% !important;
  background: rgb(255,255,255) !important;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(141,194,221,1) 64%) !important;;
}


.link-1 {
    transition: 0.3s ease !important;
    color: #ffffff !important;
    cursor: pointer !important;
    font-size: 15px !important;
    text-decoration: none !important;
    border-top: 4px solid  rgb(141, 194, 221) !important;
    border-bottom: 4px solid rgb(141, 194, 221) !important;
    padding: 20px 0 !important;
    margin: 0 20px !important;
  }

  .reefer-nav {
      margin-top: 40px !important;
  }

  .link-1:hover {
    border-top: 4px solid #37505D !important;
    border-bottom: 4px solid #37505D !important;
    color: #37505D  !important;
    padding: 6px 0 !important;
  }
