<div class=" row wow fadeIn">
        <div class="col-12 ">
            <div class="card ">
                <div class="card-body ">
                        <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
                            </mat-form-field>
                      <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource" matSort>
                            
                                <!-- Nombre Column -->
                                <ng-container matColumnDef="p1">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ¿ Por que medio o canal digital nos encontraste ?. </th>
                                  <td mat-cell *matCellDef="let row" (click)="getLead(row._id)"> {{row.p1}} </td>
                                </ng-container>
                                <!-- Celular Column -->
                                <ng-container matColumnDef="p2">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ¿ Encontraste la información que buscabas ?. </th>
                                  <td mat-cell *matCellDef="let row" (click)="getLead(row._id)"> {{row.p2}} </td>
                                </ng-container>
                                <!-- Correo Column -->
                                <ng-container matColumnDef="p3">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ¿ Que tan agradable fue tu interacción con la pagína ?. </th>
                                  <td mat-cell *matCellDef="let row" (click)="getLead(row._id)"> {{row.p3}} </td>
                                </ng-container>
                                <!-- Modalidad Column -->
                                <ng-container matColumnDef="p4">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Si no encontraste nada de lo que necesitabas, comunicanos qué tipo de información estabas buscando. </th>
                                  <td mat-cell *matCellDef="let row" (click)="getLead(row._id)"> {{row.p4}} </td>
                                </ng-container>
                                <!-- Ciudad Column -->
                                <ng-container matColumnDef="p5">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ¿ Segun tu opinion que crees que podria mejorar en la pagína que visitaste ? </th>
                                  <td mat-cell *matCellDef="let row" (click)="getLead(row._id)"> {{row.p5}} </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row">
                                    
                                </tr>
                              </table>
                            
                              <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                            </div>
                    </div>
                </div>
            </div>
        </div>
      
      
      
      
