.sombras{
    -webkit-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
}
h4{
    color: #022356;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
        z-index: 99;
}

h3{
    margin-left: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: white;
    z-index: 99;
    
}


h5{
    color: #022356;
    font-size: 1.5em;
}

.bg-blue{
    background: #4654a9;
    height: 100px;
    margin: 10px;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon {
    width: 50px;
    height: 50px;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
    top: 50px!important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 50px!important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
    top: 50px!important;
}

.form-group {
    margin-bottom: 0;
}



/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .8s;
  }

  .container-image{
      width: 100%;
  }

  .button-formulario{
      background: #4252af;
      color: white;
  }