

<div class="conocenos">

        <div routerLink="/freight-forwarding/que-ofrecemos" class="volver cursor pointer">
            <img src="assets/imgs/shipping-line/back.png" alt="">
            <span class="ml-2">Volver</span>
        </div>

    <div class="header">
        <img class="wow fadeIn" src="assets/imgs/shipping-line/maritimo-banner.png" alt="">
        <h2 class="wow fadeInLeft rellax" >TRANSPORTE <br> MARÍTIMO</h2>
    </div>
    
    <div class="row ">
        <div class="col-md-6 d-flex align-items-center mb-5">
                <div class="map"></div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row rellax" data-rellax-speed="-4">
                <div class="col-md-8 ">
                    <div class="borde animated fadeInLeft">
                          
                        <h4 class="wow fadeInDown " >Lcl – Importación</h4>
                    </div>
                    <p class="">Uno de nuestros servicios especializados, es la consolidación de carga para minimizar los
                        costos de nuestros clientes. Gracias a Nuestra red de agentes a nivel mundial, podemos
                        contar con más de 900 orígenes semanalmente vía servicios directos.
                    </p>
                </div>
                <div class="col-md-4 ">
                </div>
            </div>
        </div>
        <div class="col-md-6 movil-bottom">
                <div class="row">
                        <div class="col-md-8 rellax" data-rellax-speed="1">
                            <div class="borde animated fadeInLeft" >
                                <h4 class="wow fadeInDown ">Lcl - EXPO </h4>
                            </div>
                            <p class="">Buscamos aportar en el desarrollo de nuestro mercado nacional, por eso pensamos de
                                igual forma en las empresas nacionales, que buscan un crecimiento internacionalmente.
                                Para esto contamos con más de 600 destinos atendidos a través de servicios directos.
                            </p>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
        </div>
        <div class="col-md-6">
           
        </div>
        <div class="col-md-12 valores-seccion pb-5">
            <h4 class="texto-mediano">Fcl</h4>
           <p class="text-left">Nuestra cobertura a nivel mundial con nuestra alianza y su red de agentes nos garantiza
            una experiencia en el manejo operativo de 55 mil teus por año a diversos destinos. Un
            control total de la operación, contratos a nivel mundial con preferencias en tarifas de
            exportación, condiciones en destino que ningún agente de carga puede ofrecer. El
            resultado es agilidad en la entrega de su carga y control de costos, ng  de contar
            con la dedicación y soporto integral de los profesionales de la empresa.</p>
        </div>

        <div class="row contacto" >
            <div class="col-md-12">
                <h4 routerLink="/freight-forwarding/contacto" class="wow fadeIn rellax-title" data-rellax-speed="-1">Contacto</h4>
            </div>
            <div class="col-md-12 aliados">
                <div class="wrapper">
                    <div class="slider">
                        <div class="slide">
                            <img src="assets/imgs/shipping-line/logo-24-7.png" />
                            <img src="assets/imgs/shipping-line/logo-24-7.png" />
                        </div>
                        <div class="slide">
                            <img src="assets/imgs/shipping-line/logo-24-7.png" />
                            <img src="assets/imgs/shipping-line/logo-24-7.png" />
                        </div>
                     </div>
                </div> 
            </div>
        </div>  
    </div>
</div>