<!-- Lcl – impo
Uno de nuestros servicios especializados, es la consolidación de carga para minimizar los
costos de nuestros clientes. Gracias a Nuestra red de agentes a nivel mundial, podemos
contar con más de 900 orígenes semanalmente vía servicios directos.
➢ Lcl - EXPO 
Buscamos aportar en el desarrollo de nuestro mercado nacional, por eso pensamos de
igual forma en las empresas nacionales, que buscan un crecimiento internacionalmente.
Para esto contamos con más de 600 destinos atendidos a través de servicios directos.
➢ Fcl
nuestra cobertura a nivel mundial con nuestra alianza y su red de agentes nos garantiza
una experiencia en el manejo operativo de 55 mil teus por año a diversos destinos. Un
control total de la operación, contratos a nivel mundial con preferencias en tarifas de
exportación, condiciones en destino que ningún agente de carga puede ofrecer. El
resultado es agilidad en la entrega de su carga y control de costos, ademá -->


<div class="conocenos">

    <div class="header">
        <img class="wow fadeInTop" src="assets/imgs/shipping-line/maritimo-banner.png" alt="">
        <h2 class="wow fadeInLeft" >TRANSPORTE <br> MARÍTIMO</h2>
    </div>
    
    <div class="row">
        <div class="col-md-6">
                <div class="map"></div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="borde animated fadeInLeft">
                          
                        <h4 class="wow fadeInDown">Lcl – Importación</h4>
                    </div>
                    <p>Uno de nuestros servicios especializados, es la consolidación de carga para minimizar los
                        costos de nuestros clientes. Gracias a Nuestra red de agentes a nivel mundial, podemos
                        contar con más de 900 orígenes semanalmente vía servicios directos.
                    </p>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <div class="row">
                        <div class="col-md-8">
                            <div class="borde animated fadeInLeft">
                                <h4 class="wow fadeInDown">Lcl - EXPO </h4>
                            </div>
                            <p>Buscamos aportar en el desarrollo de nuestro mercado nacional, por eso pensamos de
                                igual forma en las empresas nacionales, que buscan un crecimiento internacionalmente.
                                Para esto contamos con más de 600 destinos atendidos a través de servicios directos.
                            </p>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
        </div>
        <div class="col-md-6">
           
        </div>
        <div class="col-md-12 valores-seccion pt-5 pb-5">
            <h4 class="texto-mediano">Fcl</h4>
           <p>Nuestra cobertura a nivel mundial con nuestra alianza y su red de agentes nos garantiza
            una experiencia en el manejo operativo de 55 mil teus por año a diversos destinos. Un
            control total de la operación, contratos a nivel mundial con preferencias en tarifas de
            exportación, condiciones en destino que ningún agente de carga puede ofrecer. El
            resultado es agilidad en la entrega de su carga y control de costos, además de contar
            con la dedicación y soporto integral de los profesionales de la empresa.</p>
        </div>
      
    </div>
    
    </div>