<div class="contenedor trabaja animated fadeIn fast">
  <!-- Seccion principal -->
  <div class="container-fluid img-principal">

    <div class="texto-principal container">
      <h2 translate class="texto-1">TrabajaConNosotros</h2>
      <h2 class="texto-2 hidden-sm-down">En E-Containers Colombia buscamos personas que se esfuerzan por lograr sus metas, de manera responsable y ética. Queremos su compromiso y creatividad para que juntos, podamos transformar la sociedad de una manera positiva. </h2>
    </div>
  </div>

  <div class="container seccion-2">

    <span>¿Dónde te gustaría trabajar?</span>

    <div class="row">
      <div class="col-12">
        <div class="card-columns">
          <div class="card wow flipInX" *ngFor="let trabajo of trabajos">
            <div class="card-block ">
              <h4 class="card-title">{{trabajo.nombre}}</h4>
              <p class="card-text">{{trabajo.bio}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- seccion 9 formulario -->

    <div id="9" class="container-fluid-s9 section-9">
      <div class="container margin-top-50 ">
        <h2 class=" h2-s9 wow zoomIn text-white">
            APLICAR
        </h2>
        <p class="p-s9">Si estás interesado en aplicar a uno de nuestros cargos por favor déjanos tus datos:</p>
        <div class="container ">
          <form [formGroup]="forma" (submit)="sendEmail(message)" enctype="multipart/form-data">
            <div class="form-group row">
              <div class=" col-sm-12 col-lg-6">
                <input name="nombre" formControlName="nombre" required type="text" class="form-control"  required placeholder="Nombre y Apellido" [(ngModel)]="message.nombre">
              </div>
              <div class="form-group col-lg-6">
                <input name="celular" formControlName="celular" required type="text"  class="form-control" placeholder="Celular" [(ngModel)]="message.celular" >
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-lg-6">
                <input name="correo" formControlName="correo" required type="email" class="form-control"  placeholder="Correo Electronico" [(ngModel)]="message.correo">
              </div>
              <div class="form-group col-lg-6">
                <select name="cargo" formControlName="cargo" required class="form-control" [(ngModel)]="message.cargo">
            <option disabled selected >¿Cual cargo aplicas?</option>
            <option>Comercial</option>
            <option>Administrativa</option>
            <option>Producción</option>
            <option>Logística</option>
            <option>Comercio Exterior</option>
            <option>Estrategias Comerciales</option>
          </select>
              </div>
            </div>
            <!-- <div class="form-group row">
              <div class=" col-lg-6">
                <div class="form-group">
                   <label for="exampleInputFile">Adjunta tu hoja de vida</label>
                   <input type="file" name="archivo" class="form-control-file" [(ngModel)]="message.archivo">
                   <small id="fileHelp" class="form-text text-muted">Formato Word o PDF</small>
                 </div>          </div>

            </div> -->

            <div class="submit-s9">
              <button [disabled]="!forma.valid" type="submit" class="btn btn-primary submit-1">ENVIAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>



</div>
