<!-- ============================================================== -->
<!-- Projects of the month -->
<!-- ============================================================== -->
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title">
                            <span class="lstick"></span>Leads por Comerciales {{inicio}}</h4>
                    </div>
                </div>
                <form ngNativeValidate #myForm="ngForm" (ngSubmit)="getLeads( myForm )" class="">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fecha inicial</label>
                            <my-date-picker ngModel [placeholder]="placeholder" [locale]="locale" name="start" [options]="startDate" (dateChanged)="onStartDateChanged($event)"
                                required></my-date-picker>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha final</label>
                            <my-date-picker ngModel name="end" [locale]="locale" [placeholder]="placeholder" [options]="endDate" (dateChanged)="onEndDateChanged($event)"
                                required></my-date-picker>
                        </div>
                        <div class="col-md-3 boton-consulta">
                            <button type="submit" class="btn color-azul ">Consultar</button>
                        </div>
                    </div>
                </form>
                <div>
                    <button class="mr-3 btn color-azul" (click)="getLeadsHoy()">Fecha de hoy ({{date | date}})</button>
                    <button class="btn color-azul" (click)="getLeadsMes()">Ultimo mes ({{mesInicio | date}} - {{mesFin | date}})</button>
                </div>
            </div>
                            <!-- Nav tabs -->
                            <!-- <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                        <span class="hidden-sm-up">
                                            <i class="ti-home"></i>
                                        </span>
                                        <span class="hidden-xs-down">Colombia
                                            <span class="flag-icon flag-icon-co"></span>
                                        </span>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                        <span class="hidden-sm-up">
                                            <i class="ti-user"></i>
                                        </span>
                                        <span class="hidden-xs-down">Ecuador
                                            <span class="flag-icon flag-icon-ec"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul> -->
                            <!-- Tab panes -->
                            <div class="container">
                                <ngb-tabset >
                                    <ng-container *ngFor="let pais of paises">
                                        <ngb-tab [title]="pais.nombre">
                                       <ng-template ngbTabContent>
                                           <div class="table-responsive m-t-0 no-wrap" *ngIf="comerciales">
                                               <table class="table vm no-th-brd pro-of-month table-hover">
                                                   <thead>
                                                       <tr>
                                                           <th colspan="2">Nombre</th>
                                                           <th>Bodegas</th>
                                                           <th>Oficinas</th>
                                                           <th>Salas de venta</th>
                                                           <th>Productos Especiales</th>
                                                           <th>Refrigerados</th>
                                                           <th>Total</th>
                                                       </tr>
                                                   </thead>
                                                   <tbody class="pointer">
                                                       <ng-container *ngFor="let comercial of comerciales">
                                                           <tr  (click)="comercialInfo(comercial.comercial._id,inicio ,fin )" *ngIf="comercial?.comercial.id_rol?.nombre != 'ADMIN' && comercial?.comercial.id_rol?.nombre != 'MERCADEO' && comercial?.comercial.id_pais?.nombre === pais.nombre">
                                                               <td style="width:50px;">
                                                                   <img [src]="comercial.comercial.imagen" alt="user" class="img-circle" style="width: 70px;" />
                                                               </td>
                                                               <td>
                                                                   <h6>{{comercial.comercial.nombre}} {{comercial.comercial.apellido}}</h6>
                                                                   <small class="text-muted">Comercial</small>
                                                               </td>
                                                               <td>
                                                                   <span></span>
                                                               </td>
                                                               <td>
                                                                   <span></span>
                                                               </td>
                                                               <td>
                                                                   <span></span>
                                                               </td>
                                                               <td>
                                                                   <span></span>
                                                               </td>
                                                               <td>
                                                                   <span></span>
                                                               </td>
                                                               <td>
                                                                   <span class="label label-success label-rounded">{{comercial.total}}</span>
                                                               </td>
                                                           </tr>
                                                       </ng-container>
                                                       <tr>
                                                           <td></td>
                                                           <td>TOTAL: </td>
                                                           <td>{{comerciales.totalBodegas}}</td>
                                                           <td>{{comerciales.totalOficinas}}</td>
                                                           <td>{{comerciales.totalSalas}}</td>
                                                           <td>{{comerciales.totalProyectos}}</td>
                                                           <td>{{comerciales.totalRefrigerados}}</td>
                                                           <td>
                                                               <span class="label label-success label-rounded">{{totalLeads}}</span>
                                                           </td>
                                                       </tr>
                                                   </tbody>
                                               </table>
                                           </div>
                                       </ng-template >
                                       </ngb-tab>
                                    </ng-container>
                            </ngb-tabset>
                            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Activity widget find scss into widget folder-->
<!-- ============================================================== -->