<div>
  <h2 class="ec-main-title ec-reefer-color-blue-dark ec-text-align-center">
    PROYECTOS ESPECIALES
  </h2>
  <div class="banner">
  </div>
  <div class="ec-background-dark">
    <div class="ec-container">
      <div class="row ec-text-align-center">
        <div class="col col-md-8 ec-margin-center">
          <p class="ec-color-white ec-padding-top-small ec-padding-bottom-small">
            En E-Containers queremos solucionar el problema de capacidad de almacenamiento en cadena de frío, 
            por eso nos dedicamos a la comercialización de contenedores marítimos para refrigeración o proyectos especiales. Adicionalmente ofrecemos asesoramiento y servicio técnico a nuestros clientes de manera permanente.
          </p>
          <div class="row justify-content-center ec-margin-top-medium ec-margin-bottom-small">
            <div class="col col-md-4">
              <div class="reefer-card-about-us">
                <img class="row-reefer-img ec-margin-top-xsmall" src="../../../assets/images/3d.png" alt="">
                <p class="ec-color-white ec-padding-top-small ec-padding-bottom-small">
                  MAYOR CAPACIDAD CÚBICA
                  DE ALMACENAMIENTO
                </p>
             </div>
            </div>
            <div class="col col-md-4">
              <div class="reefer-card-about-us">
                <img class="row-reefer-img" src="../../../assets/images/snow.png" alt="">
                <p class="ec-color-white ec-padding-top-small ec-padding-bottom-small">
                  SOLUCIÓN EN CÁMARAS
                  FRIGORÍFICAS HASTA -30°C
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ec-container">
        <h4
          class="ec-font-supermolo-regular ec-color-reefer ec-padding-bottom-small ec-text-align-center ec-margin-bottom-xsmall">
            Nuestros Proyectos Especiales
        </h4>
        <div>
          <div class="row justify-content-md-center">
            <div class="align-self-center ec-margin-right-small ec-cursor-pointer" (click)="prevTestimonials()">
              <i class="fas fa-chevron-left fa-3x  ec-color-white"></i>
            </div>
            <div class="col col-md-10 ec-margin-bottom-small">
              <img
                src="../../../assets/images/Proyectos/proyecto0{{index}}.jpg"
                class="img-fluid mx-auto d-block img-galeria"
                alt="Responsive image"
              />
            </div>
            <div class="align-self-center ec-margin-right-small ec-cursor-pointer" (click)="nextTestimonials()">
              <i class="fas fa-chevron-right fa-3x ec-color-white"></i>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
