.banner {
  background: url('../../../assets/images/proyectos-espe.png');
  width: 100%;
  height: 240px;
  background-size: cover !important;
}

.reefer-card-about-us img{
    max-width: 80px !important;
    text-align: center !important;
  }

  .reefer-card-about-us {
    text-align: center !important;
  }


  @media only screen and (min-width: 768px) {
    .banner {
        height: 540px;
      }
  }