   <div class="row">
      <div class="col-md-12">
          <div class="card wow fadeIn">
              <div class="card-body">
                  <div class="row p-t-10 p-b-10">
                      <!-- Column -->
                      <div class="col p-r-0 datos mb-3">       
                          <!-- <h1 class="font-light">Negocio</h1> -->
                          <div class="display-4 nombre mr-3" ><i class="mdi mdi-account-circle text-info" style="    font-size: 2rem;"></i><span style="font-size: initial;">{{negocio?.lead.id_cliente.nombre}} {{negocio?.lead.id_cliente.apellido}}</span></div>
                          <div *ngIf="negocio?.lead.id_cliente.tipo_cliente.tipo == 'Empresa'" class="display-4 nombre" ><i class="mdi mdi-city text-info" style="    font-size: 2rem;"></i><span style="font-size: initial;">{{negocio?.lead.id_cliente.tipo_cliente.nombre}}</span></div>
                      <!-- Column -->
                  </div>
                  <div class="col-md-12">
                      <div class="linea-de-tiempo">
                          <ul>
                            <li class="active pointer">
                              <div  *ngIf="!estadoGeneral?.segundoPaso.estado" ngbPopover="Has estado aqui {{tiempoInicial_1}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Lead en proceso" class="seccion-negocio">
                                <span class="">{{estado_1_dias}} días</span>
                              </div>
                              <div *ngIf="estadoGeneral?.segundoPaso.estado" ngbPopover="Fecha final: {{tiempoFinal_1}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Lead en proceso" class="seccion-negocio">
                                <span class="">{{estado_1_dias}} días</span>
                              </div>
                            </li>
                            <li (click)="estado(2)" [ngClass]="{'verde': estadoGeneral?.segundoPaso.estado === true, 
                                                                                'gris':estadoGeneral?.segundoPaso.estado === false }" class="transition-effect pointer">
                                <div  *ngIf="!estadoGeneral?.tercerPaso.estado" ngbPopover="{{(tiempoInicial_2) ? 'Has estado aqui' : '...' }} {{tiempoInicial_2}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Contacto Establecido" class="seccion-negocio">
                                    <span  class="">0 días</span>
                                    <span class="flecha-inicial"></span>
                                  </div>
                                  <div *ngIf="estadoGeneral?.tercerPaso.estado" ngbPopover="{{(tiempoFinal_2) ? 'Fecha Final' : '...' }} {{tiempoFinal_2}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Contacto Establecido" class="seccion-negocio">
                                    <span  class="">0 días  </span> 
                                      <span class="flecha-inicial" [ngClass]="{'flecha-inicial-verde': estadoGeneral?.primerPaso.estado == true}"></span>
                                  </div>
                                 
                              </li>
                            <li (click)="estado(3)" [ngClass]="{'verde': estadoGeneral?.tercerPaso.estado === true, 
                                                                                'gris':estadoGeneral?.tercerPaso.estado === false }" class="transition-effect pointer">
                                <div  *ngIf="!estadoGeneral?.cuartoPaso.estado" ngbPopover="{{(tiempoInicial_3) ? 'Has estado aqui' : '...' }}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Propuesta Realizada" class="seccion-negocio">
                                    <span class="">0 días</span>
                                    <span class="flecha-inicial"></span>
                                  </div>
                                  <div *ngIf="estadoGeneral?.cuartoPaso.estado" ngbPopover="{{(tiempoFinal_3) ? 'Fecha Final' : '...' }} {{tiempoFinal_3}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Propuesta Realizada" class="seccion-negocio">
                                    <span class="">0 días</span>
                                    
                                    <span class="flecha-inicial" [ngClass]="{'flecha-inicial-verde': estadoGeneral?.segundoPaso.estado == true}"></span>
                                </div>
                                 
                              </li>
                            <li (click)="estado(4)" class="pointer" [ngClass]="{'verde': estadoGeneral?.cuartoPaso.estado === true, 
                                                                                'gris':estadoGeneral?.cuartoPaso.estado === false }" class="transition-effect">
                                  <div  ngbPopover="{{(tiempoFinal_4) ? 'Fecha Final' : '...' }} {{tiempoFinal_4}}" placement="bottom" triggers="mouseenter:mouseleave" popoverTitle="Negociación Terminada" class="seccion-negocio pointer">
                                    <span class="">0 días</span>
                                    
                                    <span class="flecha-inicial" [ngClass]="{'flecha-inicial-verde': estadoGeneral?.tercerPaso.estado == true}"></span>
                                </div>
                                  
                              </li>
                          </ul>
                        </div>
                    </div>
                    
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-5">
       
           
              <div class="card wow fadeIn">
                    <div class="card-body">
                        <h4 class="card-title"><span class="lstick"></span>Datos</h4>
                        <div style="height: 220px" class="text-center">
                            <img [src]="persona?.id_segmento.foto" width="150" class="img-circle" alt="">
                        </div>
                        <table class="table vm font-12 m-b-0">


                            <tr>
                                <td>Fecha</td>
                                <td class="text-right font-medium">{{persona?.fecha_creacion}} - {{persona?.hora_creacion}}</td>
                            </tr>
                            <tr>
                                <td>Correo</td>
                                <td class="text-right font-medium">{{persona?.correo}}</td>
                            </tr>
                            <tr>
                                <td>Celular</td>
                                <td class="text-right font-medium">{{persona?.celular}}</td>
                            </tr>
                            <tr>
                                <td>Ciudad</td>
                                <td class="text-right font-medium">{{persona?.id_ciudad.nombre}}</td>
                            </tr>
                            <tr>
                                <td>Documento</td>
                                <td class="text-right font-medium">{{persona?.documento.tipo_documento}}: {{persona?.documento.numero}}</td>
                            </tr>
                            <tr>
                                <td>Segmento</td>
                                <td class="text-right font-medium">{{persona?.id_segmento.nombre}}</td>
                            </tr>
                            <tr>
                                <td>Modalidad</td>
                                <td class="text-right font-medium">{{persona?.modalidad}}</td>
                            </tr>
                           
                        </table>
                    </div>
                </div>
      </div>
      <div class="col-md-7">
            <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span class="lstick"></span>Mensaje del cliente</h4>
       
                        <p style="font-size: 12px; font-family:Montserrat">{{persona?.mensajeCliente}}</p>
                    </div>
                </div>
          <div class="card wow fadeIn" style="margin-bottom: 0;">
              <div class="card-body" style="padding: 0;">
                  <div class="row p-t-10 p-b-10" style="padding: 0;">
                  <div class="col-md-12">
                     <ngb-tabset>
                        <ngb-tab title="Tomar Notas">
                          <ng-template ngbTabContent>
                                <div class="row">
                                        <div class="col-12">
                                                <quill-editor [style]="{height: '154px'}" [(ngModel)]="mensajeAccion.mensaje" placeholder="Haz click aquí para tomar notas..." >
                                                        <div quill-editor-toolbar>
                                                         
                                                                      <span class="ql-formats">
                                                                        <button class="ql-bold"></button>
                                                                        <button class="ql-italic"></button>
                                                                        <button class="ql-underline"></button>
                                                                      </span>
                                                                      <span class="ql-formats">
                                                                        <button class="ql-list" value="ordered"></button>
                                                                        <button class="ql-list" value="bullet"></button>
                                                                       
                                                                      </span>
                                                                      <span class="ql-formats">
                                                                        <button class="ql-link"></button>
                                                                      </span>
                                                        </div>
                                                    </quill-editor>
                                                   
                                                    <div class="botonera">
                                                        <button type="button" (click)="limpiarMensaje()" class="btn btn-rounded mr-2 btn-secondary">Limpiar</button>
                                                        <button type="button" class="btn btn-rounded btn-success" [disabled]="mensajeAccion.mensaje === '' || mensajeAccion.mensaje === null" (click)="agregarTipoMensaje('nota')">Guardar</button>
                                                        {{mensaje}}
                                                    </div>
                                                    
                                        </div>
                                    </div>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                          <ng-template ngbTabTitle ><b (click)="limpiarMensaje()">Añadir acción</b></ng-template>
                          <ng-template ngbTabContent>
                                            <ng-template #modalContent let-close="close">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Event action occurred</h5>
                                                    <button type="button" class="close" (click)="close()"> <span aria-hidden="true">&times;</span> </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div> Action: <pre>{{ modalData?.action }}</pre> </div>
                                                    <div> Event: <pre>{{ modalData?.event | json }}</pre> </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                                                </div>
                                            </ng-template>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-6 "  style="    overflow: scroll;
                                                    height: 355px;">
                                                        <div class="top-accion mb-2 mt-2" >
                                                            <div class=" text-center">
                                                                <h5 style="margin: 0;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h5>
                                                            </div>
                                                                        <div class="btn-group">
                                                                            <a class="btn btn-success" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false"> < </a>
                                                                            <!-- <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"> Hoy </div> -->
                                                                            <a class="btn btn-info" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false"> > </a>
                                                                        </div>
                                                        </div>
                                                        <mwl-calendar-day-view locale="es" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"> </mwl-calendar-day-view>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6">
                                                            <div class="btn-group tipos-denotas mt-3 mb-3">
                                                                <ng-container *ngFor="let mensajes of tipoMensaje">
                                                                    <a  *ngIf="mensajes.nombre != 'Nota'" ngbPopover="" triggers="mouseenter:mouseleave" [popoverTitle]="mensajes.nombre"  (click)="llenarTipoMensaje(mensajes)" class="btn btn-success"><i [class]="mensajes.icono"></i></a>
                                                                </ng-container>
                                                                
                                                                    <!-- <a (click)="mensajeAccion.tipo = 'reunion'" class="btn btn-info"><i class="mdi mdi-account-multiple"></i></a>
                                                                    <a (click)="mensajeAccion.tipo = 'correo electronico'" class="btn btn-success"><i class="mdi mdi-email-alert"></i></a> -->
                                                                    <h4 class="ml-3 ">{{mensajeAccion.nombre}}</h4>
                                                                </div>
                                                                <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="card card-body">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-xs-12">
                                                                                        <form>
                                                                                                <div class="form-group">
                                                                                                        <label>Notas</label>
                                                                                                        <textarea [disabled]="mensajeAccion.id_tipo == ''" name="mensaje" [(ngModel)]="mensajeAccion.mensaje" class="form-control" rows="5"></textarea>
                                                                                                    </div>
                                                                                                    <div class="botonera" style="position: relative; right: 0;">
                                                                                                            <button type="button" (click)="limpiarMensaje()" class="btn btn-rounded mr-2 btn-secondary">Limpiar</button>
                                                                                                            <button type="button" (click)="agregarTipoMensaje('tipo')" class="btn btn-rounded btn-success" [disabled]="carga">Guardar</button>
                                                                                                        </div>
                                                                                        </form>
                                                                                    </div>
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                         </div>            
                                    </div>
                                 </div>
                          </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                  </div>
                    
                  </div>
              </div>
          </div>
        

                  <ul *ngIf="mensajes != null"  class="timeline">
                    
                      <li *ngFor="let mensaje of mensajes" class="timeline-inverted" >
                          <div class="timeline-badge success"><i [class]="mensaje.id_tipo?.icono"></i> </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h5 class="timeline-title" >{{mensaje.id_tipo.nombre}}</h5>
                                  <p *ngIf="mensaje.fecha_inicial"><small class="text-muted"><i class="icon-clock"></i> {{mensaje.fecha_inicial}}</small> </p>
                              </div>
                              <div class="timeline-body">
                                  <p [innerHTML]="mensaje.mensaje" >{{mensaje.mensaje}}</p>
                              </div>
                          </div>
                      </li>
                    </ul>
                    
   </div>
  

   
