@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700,900');


p{
  font-family: 'Oswald'!important;
  font-size: 1.2em;
}

a{
  font-size: 1.5em;
}

.contenedor-img {
  padding-top: 70px;
}

.img-principal {
  position: relative;
  display: flex;

  height: 500px;
  background-position: center;
  background-size: cover;
}

.texto-1 {
  font-size: 4em;
}

.texto-principal {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 10;
}



.img-principal:before {
  content: "";
  display: block;
  position: absolute;
  transition: 10ms;
  /* Todas las posiciones a cero */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.54);
  /*Sepia*/
}

.imagenes-portafolio .col-md-4{
  margin-bottom: 30px;
  z-index: 2;
}

.imagenes-portafolio .col-md-4 img{
  width: 100%;

      height: 310px;
    }

.cuadro-azul{
  z-index: 1;
  position: absolute;
  bottom: -11px;
  right: -270px;
  height: 180px;
  width: 100%;
  background: #00a8ff;

}
.cuadro-azul2{
  z-index: 1;
  position: relative;
  bottom: 750px;
  height: 650px;
  width: 72%;
  background: #00a8ff;
}

.imagen-portafolio-b{
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.imagen-portafolio-b img{
  width: 100%;

}

.nombre_container{
  padding-top: 80px;
  font-size: 3em;
}

.info2{
      margin-top: 40px;
  padding-bottom: 120px;
}

.info2 p{
  font-weight: lighter;
  line-height: 2;

}

/*FOOTER*/

.footer {
  z-index: 5;
  height: 30vh;
}

@media (min-width: 1200px) {
  .containerf {
    padding-left: 220px;
    padding-right: 220px;
  }
}

ul li {
  font-size: .7em;
  list-style: none;
}

.padding-40 {
  padding-top: 40px!important;
}

.margin-0{
  margin:0!important;

}

i {}

.redes-footer {
  display: flex;
  justify-content: space-around;
  max-width: 100%!important;

}

.sgs{
  display: flex;
  justify-content: space-between;

}
.texto-2{
  font-weight: 100!important;
}

@media screen and (max-width: 576px)  {

  #nav-icon3 span:nth-child(1) {
    top: 6px;
}

#nav-icon3 span:nth-child(4) {
    top: 30px;
}

  .logo {
    width: 230px!important;
}
  .cuadro-azul {
    right: -184px;
    height: 994px;
}

.cuadro-azul2 {
  bottom: 250px;
height: 270px;
}

.imagen-portafolio-b .container p {
  font-weight: lighter;
  position: absolute;
  top: 32px;
}


}


@media screen and (max-width: 768px) and (min-width:577px){

 }

@media screen and (max-width: 992px)  and (min-width:769px){


 }

 @media (min-width: 1200px) {

}


 @media (min-width: 1600px) {

	}
