<div class="principal animated bounceInDown">
  <div class="container-fluid">
    <section class="seccion-1">
      <div class="logo ">
          <a routerLink="/home">
              <img src="assets/imgs/logo-nuevo-negro.png" class="img-logo" alt="logo">
          </a>
      </div>
      
      <div class="gracias">
        <div class="gracias-1">
          <h1>Hola soy {{comercial_nombre}} tu comercial asignado!</h1>
          <h2>Pronto me contactare contigo para informarte sobre nuestro portafolio de productos y responder
            dudas e inquietudes para ofrecerte una grata experiencia.</h2>
            <div class="datos">
              <h3 class="datos-comerciales mr-5"><i class="far fa-envelope mr-2"></i>{{correo}}</h3>
              <h3 class="datos-comerciales"><i class="fab fa-whatsapp mr-2"></i>{{numeroComercial(correo)}}</h3>
            </div>

        </div>
        <img class="comercial-img d-none d-lg-flex" [src]="ultimo" alt="comercial" style="max-width: 250px;">
      </div>
    </section>
    <section class="seccion-2">
      <div class="row">
        <div class="col-md-6 proyectos-seccion">
          <div class="vimeo" style="width: 100%; margin-top: 0px;">
              <p style=" margin-top: 30px; margin-bottom: 0">
                <b>
                  Proyectos
                </b>
              </p>
            <iframe style="width: 500px; " src="https://player.vimeo.com/video/234784754?byline=0&portrait=0" width="640" height="360"
              frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <p>
              <b>
                Nuestro Blog
              </b>
            </p>
            <a [href]="post.URL" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let post of posts">
              <div class="d-flex w-100 justify-content-between">
                <img *ngIf="!loading" [src]="post.featured_image" class="imagen" alt="">
                <div class="title-section">
                  <h5 class="mb-1 titulo">{{post.title}}</h5>
                  <p class="mb-1 subtitulo">{{post.excerpt | rmEtiquetas | slice:0:80}}... Leer más</p>
                </div>
                <small class="text-muted">{{post.date | date}}</small>
              </div>
            </a>

          </div>
          
        </div>

      </div>

    </section>

  </div>
  
</div>