<div class="contenido">
  <div class="sec-1">

    <nav class="container center">
      <ul class="redes d-none d-sm-flex">

        <li>
          <a href="https://www.facebook.com/EContainers/" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/econtainers/" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/econtainerscol?lang=es" target="_blank">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </li>

      </ul>

      <img class="logo" src="/assets/imgs/info/logo.png">

      <span class="d-none d-sm-flex">Contáctanos</span>

    </nav>
    <div class="container"> 
      <div class="row" style="text-align: center;">
        <div class="col-md-6">
          <div class="texto">
            <h1> ¡Hola! gracias por contactarnos 
  
            </h1>
            <h2>Estare encargado de brindarte asesoría permanente, informarte sobre nuestro portafolio de productos, responder dudas
              e inquietudes para ofrecerte una grata experiencia. </h2>
  
          </div>
        </div>
  
  
        <div class="col-md-6">
          <img  class="comercial-img" [src]="ultimo" alt="comercial">
            <!-- <nav class="container center" style="display: flex!important;justify-content: center;">
              <ul class="redes d-none d-sm-flex">
            
                <li>
                  <a href="https://www.facebook.com/econtainerscolombia/" target="_blank">
                    <i class="fab fa-facebook-f fa-lg"></i>
                  </a>
                </li>
            
                <li>
                  <a href="https://www.instagram.com/econtainers/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/econtainerscol?lang=es" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                  </a>
                </li>
            
              </ul>
            

            
            </nav> -->
  
        </div>
      </div>
    </div>


  </div>


</div>
<!-- <footer>
  <svg id="curva" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 156.5">
    <path class="cls-2" d="M.5,72.5c708,223.37,1400-1.5,1400-1.5V227.5H.5Z" transform="translate(-0.5 -71)" />
  </svg>
  <span>E-Containers Colombia - Copyright © 2018</span>

</footer> -->