
            <!-- <a [href]="post.URL" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let post of posts">
              <div class="d-flex w-100 justify-content-between">
                <img *ngIf="!loading" [src]="post.featured_image" class="imagen" alt="">
                <div class="title-section">
                  <h5 class="mb-1 titulo">{{post.title}}</h5>
                  <p class="mb-1 subtitulo">{{post.excerpt | rmEtiquetas | slice:0:80}}... Leer más</p>
                </div>
                <small class="text-muted">{{post.date | date}}</small>
              </div>
            </a> -->
         
<div class="hero padding-gracias">

<div class="modal-principal hide" id="modal" >
  <div class="modal-encuesta wow bounceIn" data-wow-duration="3s">
    <div class="botonera">
      <button (click)="abrirModal()">¡SI! 😄</button>
      <button (click)="cerrarModal()">No, gracias 😢</button>
    </div>
  </div>
  </div>

    <header>
        <img class="logo" src="/assets/imgs/logo-nuevo.png" alt="">
        <ul class="links d-none d-md-flex d-lg-flex">
          <!-- <li routerLink="/arquitectonicos" class="pointer"> Arquitectónicos</li> -->
          <li routerLink="/refrigerados" class="pointer">Refrigerados</li>
          <li routerLink="/landing" class="pointer">Productos Estándar</li>
        </ul>
        <ul class="lista-redes d-none d-md-flex d-lg-flex"> 
          <li><a href="https://es-la.facebook.com/EContainers/"><img src="/assets/imgs/gracias/Icono-FB-landing.png" alt=""></a> </li>
          <li><a href="https://www.instagram.com/econtainers/"><img src="/assets/imgs/gracias/Icono-IG-landing.png" alt=""></a> </li>
          <li><a href="https://co.linkedin.com/company/e-containers"><img src="/assets/imgs/gracias/Icono-linkedin-landing.png" alt=""></a></li>
          <li><a href="https://twitter.com/econtainerscol?lang=es"><img src="/assets/imgs/gracias/Icono-twitter-landing.png" alt=""></a></li>
        </ul>
      </header>
  <div class="row ">
    <div class="col-md-7 hero-text text-center wow fadeInLeft">
      <h2>¡HOLA!</h2>
      <div class="noombre text-center ">
        <p style="margin-bottom: 0;">Soy <span>{{comercial.lead.id_usuario.nombre}} {{comercial.lead.id_usuario.apellido}}</span></p>
        <p>tu comercial asignado</p>
      </div>

      <p class="hero-message">Pronto me contactaré contigo para informarte sobre nuestro portafolio de productos y responder dudas e inquietudes para ofrecerte una grata experiencia.</p>
      <div class="redes">
        <ul>
          <li><img src="/assets/imgs/gracias/Icono-mail.png" alt=""> {{comercial.lead.id_usuario.correo}}</li>
          <li><img src="/assets/imgs/gracias/Icono-whatsapp.png" alt=""> +(57) {{comercial.lead.id_usuario.celular}} </li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 seccion-comercial wow fadeIn " data-wow-duration="3s">
      <img class="img-fluid" [src]="imagen" alt="">    
    </div>
  </div>
</div>

