.modal-principal{
  position: fixed;
  top: 0;
  background: #0000007d;
  width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: center;
  z-index: 99;
  align-items: center;
}
.modal-encuesta{
  
  background: url(/assets/imgs/gracias/modal.png);
  width: 512px;
  height: 600px;
}
.hero {
  background: url(/assets/imgs/gracias/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}

.hide{
  display: none;
}

.botonera{
  position: relative;
  color: white;
  font-size: 1.5em;
  
  left: 23%;
  right: 0;
  top: 88%;

}

.modal-principal button{
  color: black;
  font-size: 1.2em;
  top: 78%;
  background: white;
  font-family: 'brandon-black'!important;
  margin-right: 10px;
}


header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

header ul li {
  margin-right: 15px;
  color: #fff;
  font-family: 'brandon-regular';

}

.padding-gracias {
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo{
  width: 300px;
}

.seccion-comercial{
  text-align: left;
}

.hero .row{
  width: 100%;
}

h2{
  font-family: 'brandon-black'!important;
  color: white;
  font-size: 8em;
}
.hero-text p {
  font-family: 'brandon-regular';
  font-size: 2.5em;
  color: white;
  display: inline-block;
  margin-left: 25%;
}
.hero-text p span {
  font-family: 'brandon-medium';
  background: #171832;
  color: white;
  padding: 1px;
}

.hero-message{
  font-size: 1.2em!important;
  text-align: left;
}

.redes{
  margin-left: 25%;
  margin-top: 30px;
  text-align: left;
}

.redes ul li{
  font-size: 1.5em;
  list-style: none;
  font-family: 'brandon-regular';
  color: white;
  display: flex;
  align-items: center;
}

.img-fluid{
  width: calc(100% - 100px);
}





	@media screen and (max-width: 380px){
    .hero .row {
      width: initial;
  }

  .logo {
    width: 200px;
  }
  .text-center {
    text-align: center !important;
}
  h2 {
    font-family: 'brandon-black'!important;
    color: white;
    font-size: 5em;
  }
  .hero-text p {
    font-family: 'brandon-regular';
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin-left: 0;
    text-align: center;
  }

  .redes ul li {
    font-size: 1em;
   }

  .redes {
    margin-left: 0;
    margin-top: 30px;
  }

  .seccion-comercial{
    text-align: center;
  }

.modal-encuesta{
  background: url(/assets/imgs/gracias/modal.png);
  width: 345px;
  height: 556px;
  background-size: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
}

	@media screen and (max-width: 480px){
    .hero .row {
      width: initial;
  }

  .redes ul{
    padding: 0;
  }

  .redes ul li {
    font-size: 1em;
   }

  .logo {
    width: 200px;
  }
  .text-center {
    text-align: center !important;
}
  h2 {
    font-family: 'brandon-black'!important;
    color: white;
    font-size: 5em;
  }
  .hero-text p {
    font-family: 'brandon-regular';
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin-left: 0;
    text-align: center;
  }

  .redes {
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
  }

  .redes ul li {
    display: inline-block;
  }
  .hero-message {
    font-size: 1em!important;
 }
  .seccion-comercial{
    text-align: center;
  }

  .botonera {
    position: relative;
    color: white;
    font-size: 1.5em;
    left: 7%;  /* right: 25px; */
    top: 64%;
}

  
	}


	@media screen and (max-width: 768px){

   
	}


	@media screen and (max-width: 1024px){
	}


	@media screen and (min-width: 1900px) and (max-width: 4000px){
    .hero-text p {
      font-size: 3.5em;
    }
    .hero-message {
      font-size: 2.2em!important;
  }

  
  }

