/* seccion 2 ⁄ */

/* .texto-light-s3 {
  font-weight: lighter;
}

.section-2 {
  z-index: 5;
  background: url("/assets/imgs/seccion-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 {
  position: relative;
  top: 680px;
  height: 90vh;
  z-index: 5;
  background: url("/assets/imgs/seccion-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-slide {
  position: relative;
  top: 680px;
  height: 90vh;
  z-index: 5;
  background: url("/assets/imgs/seccion-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-4 {
  min-height: 829px;
  padding-top: 40px;
  position: relative;
  top: 680px;
  z-index: 5;
}

.section-5 {
  position: relative;
  top: 680px;
  z-index: 5;
  height: 500px;
  background: url("/assets/imgs/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-6 {
  position: relative;
  top: 680px;
  z-index: 5;
}

.section-7 {
  position: relative;
  top: 680px;
  z-index: 5;
  background: #1677dd;
}

.section-8 {
  position: relative;
  top: 680px;
  z-index: 5;
  background: #eff4f5;
}

.section-9 {
  position: relative;
  top: 680px;
  z-index: 5;
  background: #1677dd;
}

.section-10 {
  position: relative;
  top: 680px;
  z-index: 5;
}

.section-11 {
  position: relative;
  top: 680px;
  height: 10%;
  z-index: 5;
  background: #21232f;
}

.azul-1 {
  background: #0197f8;
}

.blanco {
  background: white;
}

.cuadros-container {
  padding: 35px 10px;
  margin: 0 0 35px;
  border: 1px solid #efefef;
  height: 300px;
  position: relative;
  transition: all 0.3s;
}

.cuadros-container:hover {
  padding: 35px 10px;
  margin: 0 0 35px;
  height: 300px;
}

.cuadros-container:hover::before, .cuadros-container:hover::after {
  content: "";
  width: 30%;
  height: 10px;
  top: 93%;
  left: 69%;
  transform: rotate(5deg);
  background-color: transparent;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.6);
}

.cuadros-container:hover::after {
  left: 1%;
  transform: rotate(-5deg);
}

.margin-top-70 {
  padding-top: 80px;
}

.margin-top-50 {
      padding-top: 90px;
}

.parrafo-seccion-2 {
  margin-top: 30px;
  font-size: 1.07em;
  line-height: 35px
}

.cuadros {
  margin-top: 80px;
}

.subtitulo {
  margin-top: 30px;
  font-weight: 500;
  font-size: 1.2em;
}

.texto-seccion-1 {
  font-size: .9em;
  font-weight: lighter;
} */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700,900');

.container-fluid{
  background: url("/assets/imgs/seccion-2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p{
  font-family: 'Oswald';
  font-size: 1.2em;
}

.vimeo{
  width: 100%;
}

.principal{
  padding-top: 80px;
  padding-bottom: 80px;}

  .isla-morada{
    position: relative;
  }

  .isla-morada::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: -43px 0 0 -43px;
    width: 86px;
    height: 86px;
    background: #34ccff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

  }
  .isla-morada:hover:before{

    background: #1576dd;
  }

  .isla-morada::after{
    content: '\25B6';
    position: absolute;
    left: 50%;
    margin: -12px 0 0 -7px;
    top: 50%;
    font-family: 'stm';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    color: #fff;
    z-index: 20;
  }

  a:active{
    color: #34ccff;
outline: none !important;
  }

  h3::before{
    content: "";
    border-bottom: 3px solid #34cdff;
    width: 50px;
    display: block;
    border-radius: 2px;
    margin-bottom: 35px;
  }

  h3{
    margin-bottom: 35px;
  }
