
<div parallax [config]="config" class="container-fluid parallax">
  <div class="container principal">
    <div class="row">
      <div class="col-md-6">
        <h3>NUESTRA TRAYECTORIA</h3>
        <p>Llevamos más de 10 años en el mercado, dedicados a la venta, alquiler y <br>adecuación de contenedores marítimos, a nivel nacional. Contamos con<br> certificación ISO 9001 e ISO 14001.</p>
      </div>
      <div class="col-md-6">
        <a class="isla-morada" href="https://player.vimeo.com/video/234784754?byline=0&portrait=0" data-fancybox data-caption="Proyecto Isla morada">
          <img  class="vimeo" src="assets/imgs/vimeo-image.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
