* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.redes li a {
    color: white;
}

path {
    color: white;
}

.owl-dots {
    display: none!important;
}

.casa {
    bottom: 94px!important;
    right: 50%!important;
    margin-right: -125px;
    width: 250px!important
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(30, 145, 194, 1.000)!important;
}

span {
    color: white;
}

.contenido {
    flex: 1;
}

nav {
    height: 100px;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 12px;
}

nav li i {
    color: white;
}

nav .logo {
    height: 50px;
}

nav span {
    color: transparent;
}

.sec-1 {
    height: 550px;
    background-color: #103f6d;
}

.sec-1 .texto {
    margin-top: 30px;
    max-width: 430px;
    position: relative;
    left: 15%;
    display: inline-block;
}

.sec-1 h1 {
    color: white;
}

.sec-1 h2 {
    color: #1e91c2;
}

.sec-1 .carrusel {
    margin-top: 9px;
    position: absolute;
    left: 54%;
    display: inline-block;
    width: 380px;
}

.sec-1 .carrusel img {
    /*width: 339px;*/
}

.sec-1 .cuadro {
    position: absolute;
    top: 399px;
    left: 50%;
    margin-left: -35%;
    height: 410px;
    width: 70%;
    background: #ffffffed;
    z-index: 3;
    -webkit-box-shadow: -6px -1px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px -1px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -6px -1px 30px 0px rgba(0, 0, 0, 0.75);
}

.cuadro .formulario {
    height: 410px;
    width: 100%;
}

.cuadro .formulario span {
    color: #1e91c2;
    font-size: 1.5em;
}

.cuadro .formulario .mensaje {
    text-align: right;
}

.cuadro .formulario svg {
    color: #1e91c2;
}

.cuadro .formulario .boton {
    width: 100px;
}
.btn{
    background: rgb(76, 209, 241)!important;
    border-color: rgb(76, 209, 241)!important; 
}

.cuadro .formulario button {
    /* border-radius: .25rem;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #1e91c2;
    overflow: hidden; */
}

.cuadro .formulario button:before {
    /* content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: #1e91c2;
    transition: .5s; */
}

.cuadro .formulario button:hover::before {
    height: 100%;
}

.cuadro .formulario button span {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    color: #1e91c2;
    font-size: 1rem;
}

.cuadro .formulario button:hover span {
    transition: transform 0.5s;
    transform: translateY(-100%);
}

.cuadro .formulario button:hover span:before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    padding: 5px 20px;
}

.cuadro .contact {
    background: #1e91c2;
    height: 410px;
    width: 100%;
}

.cuadro .contact h3 {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.cuadro .contact img {
    opacity: 0.7;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cuadro .contact ul {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.cuadro .contact ul li {
    list-style: none;
}

.cuadro .contact ul li a {
    position: relative;
    width: 50px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.cuadro .contact ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.cuadro .contact ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(50px - 12px);
    font-size: 20px;
    color: #262626;
    transition: .5s;
}

.cuadro .contact ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.cuadro .contact ul li:nth-child(2) a:hover .fab {
    color: #1DA1F2;
}

.cuadro .contact ul li:nth-child(3) a:hover .fab {
    color: #C32AA3;
}

.sec-2 {
    position: relative;
    height: 450px;
}

#curva {
    z-index: 2;
}

#curva path {
    fill: #1e91c2;
}

.imagen {
    position: relative;
    background: url('/assets/imgs/info/fondo-2.jpg');
    background-size: cover;
    background-position: center;
    height: 394px;
    max-height: 2000px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 55, 99, .7); 
}

footer {
    z-index: 2;
    position: relative;
}

footer span {
    color: white!important;
    margin-left: -164px;
    left: 50%;
    position: absolute;
    bottom: 17px;
    font-size: 1.3em!important;
}

@media screen and (max-width: 576px) {
    nav .logo {
        margin: 0 auto;
    }
    .sec-1 {
        height: 650px;
    }
    .sec-1 .texto {
        margin-left: 20px;
        margin-right: 20px;
    }
    .sec-1 .carrusel {
        margin-top: 9px;
        position: absolute;
        margin-left: -175px;
        left: 50%;
        display: inline-block;
        width: 350px;
    }
    .sec-1 .cuadro {
        top: 680px;
        height: 750px;
    }
    .cuadro .formulario {
        height: 730px;
    }
    .cuadro .contact {
        top: 43px;
        height: 250px;
    }
    .cuadro .contact ul {
        z-index: 2;
        top: 57%;
    }
    .casa {
        bottom: 94px;
        right: 50%;
        margin-right: -125px;
        width: 250px;
    }
    .sec-2 {
        height: 1080px;
    }
    .imagen {
        height: 1120px
    }
    .texto {
        position: initial!important;
        display: block!important;
        text-align: center;
    }
    h1 {
        font-size: 2rem!important;
    }
    h2 {
        font-size: 2rem!important;
    }
    footer span {
        margin-left: -164px;
        left: 65%;
        bottom: 2px;
        font-size: .8em!important;
    }
}

@media screen and (max-width: 768px) and (min-width:577px) {
    .sec-1 .cuadro {
        height: 475px;
    }
    .cuadro .contact ul {
        top: 47%;
    }
    .cuadro .contact ul li {
        margin-top: 15px;
    }
    .cuadro .contact {
        height: 475px;
    }
    .sec-1 .carrusel {
        width: 345px;
    }
    .sec-1 .texto {
        z-index: 2;
    }
    .imagen {
        height: 500px;
    }
}

@media screen and (max-width: 992px) and (min-width:769px) {
    .imagen {
        height: 500px;
    }
}

@media (min-width: 1200px) {
    .imagen {
        height: 570px;
    }
}