<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav mr-auto float-left">
    <!-- This is  -->
    <li (click)="toggleSidebar.emit()" class="nav-item m-l-10">
        <a class="nav-link sidebartoggler text-muted waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
        </a>
    </li>
</ul>
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<ul class="navbar-nav my-lg-0 float-right">
    <!-- ============================================================== -->
    <!-- Search -->
    <!-- ============================================================== -->
    <li class="nav-item hidden-sm-down search-box">
        <a (click)="showSearch = !showSearch" class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-search"></i>
        </a>
        <form class="app-search" [ngClass]="{'show-search': showSearch}">
            <input type="text" class="form-control" placeholder="Buscador">
            <a (click)="showSearch = !showSearch" class="srh-btn">
                <i class="ti-close"></i>
            </a>
        </form>
    </li>
    <!-- ============================================================== -->
    <!-- Messages -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <!-- dropdown-toggle -->
        <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark" href="javascript:void(0)">
            <i class="mdi mdi-email"></i>
            <!-- notify -->
            <!-- <div class="notify">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                        </div> -->
        </a>
        <div class="dropdown-menu mailbox animated slideInDown" ngbDropdownMenu>
            <ul>
                <li>
                    <div class="drop-title">Tienes 0 mensajes nuevos</div>
                </li>
                <li>
                    <div class="message-center">
                        <!-- Message -->
                        <!-- <a href="#">
                                        <div class="user-img"> <img src="assets/css/backend/images/users/vila.png" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>{{datos.name}}</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                    </a> -->
                    </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="javascript:void(0);">
                        <strong>Ver todos</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <!-- ============================================================== -->
    <!-- End Messages -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Profile -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img [src]="fotoPrincipal()" alt="user" class="profile-pic" />
        </a>
        <div class="dropdown-menu animated slideInDown" ngbDropdownMenu>
            <ul class="dropdown-user">
                <li>
                    <div class="dw-user-box">
                        <div class="u-img">
                            <img [src]="fotoPrincipal()" alt="user">
                        </div>
                        <div class="u-text">
                            <h4>{{datos.name + ' ' + datos.surname}}</h4>
                            <p class="text-muted">{{datos.email}}</p>
                            <a class="btn btn-rounded btn-danger btn-sm">Ver Perfil</a>
                        </div>
                    </div>
                </li>
                <!-- <li role="separator" class="divider"></li> -->
                <!-- <li><a href="#"><i class="ti-user"></i> Mi Perfil</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li> -->
                <!-- <li role="separator" class="divider"></li> -->
                <li>
                    <a (click)="_usuarioService.logout()" routerLink="/login" class="pointer">
                        <i class="fa fa-power-off"></i> Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </li>
</ul>

<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->