<div id="contenedor-principal" class="principal-side-bar">
  <ul id="menu-secciones">
    <li></li>
    <li> 
      <div class="hamburguer animated fadeIn" (mouseenter)='colorMenu(true)' (mouseleave)='colorMenu(false)'>
        <svg (click)="abrirMenu()"  class="ham ham6 " viewBox="0 0 135 100" width="80" onclick="this.classList.toggle('active')">
          <path id="menus"
                class="line top"
                d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272" />
          <path
                class="line middle"
                d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272" />
          <path
                class="line bottom"
                d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272" />
              </svg>
              <p id="text-1" class="text-menu">Menú</p>
        
      </div>
    </li>
   <li class="redes-container animated fadeIn">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
   </li>
  </ul>

</div>

<!-- MENU -->
<div id="black" class="black-background hide wow ">
</div>
  <div id="menu-principal" class="menu hide wow" data-wow-duration="1.5s">
      <div id="side-bar-2" class=""></div>
      <div class="menus">
          <ul>
            <li (click)="abrirMenu()"  routerLink="inicio" routerLinkActive="active-blue"  >Inicio</li>
            <li (click)="abrirMenu()"  routerLink="conocenos" routerLinkActive="active-blue" class="wow fadeInLeft faster" data-wow-duration="1.5s "  >Conócenos</li>
            <li (click)="abrirMenu()"  routerLink="mas-informacion" routerLinkActive="active-blue"class="wow fadeInLeft faster"  data-wow-duration="1.8s "  >+ Información</li>
            <li (click)="abrirMenu()"  routerLink="que-ofrecemos" routerLinkActive="active-blue" class="wow fadeInLeft faster"  data-wow-duration="2s "> Que ofrecemos </li> 
            <li (click)="abrirMenu()"  class="wow fadeInLeft faster"  data-wow-duration="2.2s " >Pagos en línea</li>
            <li (click)="abrirMenu()"  class="wow fadeInLeft faster"  data-wow-duration="2.4s " >Alianzas</li>
          </ul>
          <p (click)="abrirMenu()" routerLink="contacto" routerLinkActive="contact-activo" class="contact pointer">Contáctanos</p>
      </div>
      <div class=""></div>
      <div class=""></div>
      <div class="transportes-img">
        <img src="assets/imgs/shipping-line/avion-3.png" alt="" class="wow fadeIn">
      </div>
  </div>