.accesorios-card img{
  max-width: 250px !important;
  cursor: pointer !important;
}

.selected-item img {
  max-width: 340px !important;
}

.degradado {
  background: rgb(21,86,118);
  background: linear-gradient(0deg, rgba(21,86,118,1) 11%, rgba(255,255,255,0.5452556022408963) 98%);
  padding: 0px !important;
}

.footer-linea {
  width: 100% !important;
  height: 272px !important;
  background-color: white !important;
  margin-bottom: -312px !important;
}
