p{
    color: white;
}

.header{
    width: 100%;
}

.valores-seccion h4{
    color: white;
    font-size: 4em;
}
.valores-seccion{
    background: black;
    text-align: center;
}


/* .valores-seccion p{
    font-size: 3em;
} */

.valores-seccion ul li {
    color: white;
    list-style: none;
    font-size: 3em;
}


.conocenos .header{
    /* height: 100vh; */
    display: inline-block;
}

.conocenos .header img{
    width: 70%;
    position: relative;
    top: -56px;
    right: 10%;
    float: right;
}

.conocenos .header h2 {
    position: absolute;
    color: white;
    font-size: 10em;
    margin-top: 10%;
    
}

.conocenos .row .col-md-6 h4{
    color: white;
    font-size: 3em;
    text-transform: capitalize;
}

.conocenos .row .col-md-6 .borde {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.conocenos .row .col-md-6 p {
    padding-top: 20px;
}
.conocenos .row .col-md-6 .borde h4 {
    padding: 20px 0;
    margin: 0;
}

.contacto{
    width: 95%;
    text-align: center;
}

.contacto h4{
    color: white;
    font-size: 12rem;
    font-family: 'grotesk'!important;
    transition: 1s;
    cursor: pointer;
    margin-bottom: 13%;
}
.contacto h4:hover{
    color: rgba(42, 97, 149, 1);
    
}

/* fin conocenos */



/* globo */

  .map {
   
    /* margin: auto; */
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: inset -30px -20px 0 0 rgba(0, 0, 0, 0.1), inset -70px -30px 0 0 rgba(0, 0, 0, 0.1), inset 5px 5px 0 0 rgba(255, 255, 255, 0.2);
    background: url("http://tirsolecointere.com.ve/palebluedot/img/map.png") lightblue;
    background-size: cover;
    animation: earth-rotation 10s linear infinite;
  }

  
  @keyframes earth-rotation {
    from {
      background-position: left center;
    }
    to {
      background-position: -396px center;
    }
  }





  /* SLIDER */
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider {
    width: 1000px;
    height: 100px;
    position: relative;
    background: black;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
  }

  .slide {
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 8s linear infinite;
  }
  .slide img {
    height: 70px;
    padding: 0 30px 0 30px;
  }

  @keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }

  .slider::before, .slider::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, black 0%, rgba(255,255,255,0) 100%);
    /* z-index: 2; */
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
  }




  /* plane */

  @keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes flying {
    0% {
      -moz-text-shadow: rgba(0, 0, 0, 0.42) 0px 0px 0px;
      -webkit-text-shadow: rgba(0, 0, 0, 0.42) 0px 0px 0px;
      text-shadow: rgba(0, 0, 0, 0.42) 0px 0px 0px;
      font-size: 60px;
    }
    15% {
      -moz-text-shadow: rgba(0, 0, 0, 0.42) 3px 3px 3px;
      -webkit-text-shadow: rgba(0, 0, 0, 0.42) 3px 3px 3px;
      text-shadow: rgba(0, 0, 0, 0.42) 3px 3px 3px;
      font-size: 63px;
    }
    25% {
      -moz-text-shadow: rgba(0, 0, 0, 0.42) 10px 10px 20px;
      -webkit-text-shadow: rgba(0, 0, 0, 0.42) 10px 10px 20px;
      text-shadow: rgba(0, 0, 0, 0.42) 10px 10px 20px;
      font-size: 70px;
    }
    50% {
      -moz-text-shadow: rgba(0, 0, 0, 0.42) 10px -10px 20px;
      -webkit-text-shadow: rgba(0, 0, 0, 0.42) 10px -10px 20px;
      text-shadow: rgba(0, 0, 0, 0.42) 10px -10px 20px;
    }
    75% {
      -moz-text-shadow: rgba(0, 0, 0, 0.42) -10px -10px 20px;
      -webkit-text-shadow: rgba(0, 0, 0, 0.42) -10px -10px 20px;
      text-shadow: rgba(0, 0, 0, 0.42) -10px -10px 20px;
      font-size: 70px;
    }
    85% {
      -moz-text-shadow: rgba(0, 0, 0, 0.42) -3px -3px 3px;
      -webkit-text-shadow: rgba(0, 0, 0, 0.42) -3px -3px 3px;
      text-shadow: rgba(0, 0, 0, 0.42) -3px -3px 3px;
      font-size: 63px;
    }
    100% {
      -moz-text-shadow: rgba(0, 0, 0, 0.42) 0px 0px 0px;
      -webkit-text-shadow: rgba(0, 0, 0, 0.42) 0px 0px 0px;
      text-shadow: rgba(0, 0, 0, 0.42) 0px 0px 0px;
      font-size: 60px;
    }
  }
  .positioning-container {
    position: fixed;
    z-index: 5;
    height: 46%;
    width: 100%;
    text-align: center;
  }
  .spinning-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 100%;
    animation: spin-right 8s ease-in-out infinite;
    padding: 25px;
  }
  .airplane-container {
    transform: rotate(45deg);
  }
  .airplane-container .fa.fa-plane {
    margin: 0;
    color: #00ACE4;
    animation: flying 8s linear infinite;
  }

  svg{
    color: rgba(42, 97, 149, 1);
    font-size: 4em;
  }

  .volver span{
    color: #fff;
  }


  @media screen and (max-width: 576px) {

    .conocenos {
      margin-top: 3em;
    }
    .conocenos .header h2 {
      z-index: 2;
      font-size: 4.5em;
    }
    .movil-bottom{
      margin-top: 43em;
    }
  
    .contacto h4 {
      position: absolute;
      font-size: 4rem;
      bottom: -60px;
  }
  .wrapper {
    margin-top: 90px;
}
  
  
    .aliados{
      margin-top: 200px;
    }

    .contacto h4 {
      font-size: 4rem;
  }
  .text-left {
    margin-top: 90px;
}
  
  }


  
  

  