<div id="main-wrapper" [ngClass]=" { 'defaultdark': color == 'defaultdark', 'greendark': color == 'greendark', 'reddark': color == 'reddark', 'bluedark':
color == 'bluedark', 'purpledark': color == 'purpledark', 'megnadark': color == 'megnadark', 'default': color == 'default',
'green': color == 'green', 'red': color == 'red', 'blue': color == 'blue', 'purple': color == 'purple', 'megna': color ==
'megna', 'mini-sidebar': showMinisidebar } ">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div toastEstado></div>
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/admin/dashboard">
                    <!-- Logo icon -->
                    <b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="assets/imgs/loading1.png" alt="homepage" class="dark-logo econtainers-logo" />
                        <!-- Light Logo icon -->
                        <img src="assets/imgs/loading1.png" alt="homepage" class="light-logo econtainers-logo" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span>
                        <!-- dark Logo text -->
                        <img src="assets/imgs/texto-logo.png" alt="homepage" class="dark-logo econtainers-texto" />
                        <!-- Light Logo text -->
                        <img src="assets/imgs/texto-logo.png" class="light-logo" alt="homepage econtainers-texto" />
                    </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <app-header class="w-100" (toggleSidebar)="toggleSidebar()"></app-header>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" [perfectScrollbar]="config">
            <app-sidebar></app-sidebar>
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <app-breadcrumbs></app-breadcrumbs>
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
          
                    <router-outlet (deactivate)="onDeactivate()"></router-outlet>
             
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2018 E-Containers Colombia
        <span>Conexion al servidor: <span [ngClass]="{
            'text-success':wsService.socketStatus === true,
            'text-danger':wsService.socketStatus === false
          }">{{(wsService.socketStatus)? 'Online' : 'Offline'}}</span></span>
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>