<div class="main animated fadeIn container-fluid">
  <div class="logo">
    <img src="assets/imgs/logo-nuevo.png" [routerLink]="['/home']" class="img-logo" alt="logo">
  </div>



  <h1 class='deepshadow'>Black Friday

  </h1>

<div class="container seccion-producto">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/imgs/contenedores/bodega-2.png" alt="" class="img-producto">
    </div>
    <div class="col-md-6">
      <h3 class="nombre-producto">Contenedor Maritimo E-Containers</h3>
      <p class="precio-producto">$1.000.000</p>
      <p class="seleccion-producto">Tamaño</p>
      <div class="tamanio-producto">
        <button type="button" class="btn btn-outline-primary mr-2">20 Pies</button>
        <button type="button" class="btn btn-outline-primary">40 Pies</button>
      </div>
      <hr>
      <div class="form-group ">
        <div class="cantidad-seccion">
          <div class="cantidad-group">
            <input type="text" id="disabledTextInput" class="form-control cantidad-productos" placeholder="1">
            <div class="signo-producto">
              <i class="fas fa-plus"></i>
              <i class="fas fa-minus"></i>
            </div>
          </div>
          <button type="button" class="btn btn-primary ml-4 btn-lg btn-block btn-comprar">Comprar</button>
        </div>
      </div>
      <hr>
      <p class="seleccion-producto">Metodos de Pago</p>
      <img class="metodos-de-pago" src="assets/imgs/e-commerce/medios-de-pago-payu.png" alt="">

    </div>
  </div>
</div>
  </div> 