<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 611 768"><defs><style>.cls-1{fill:url(#Degradado_sin_nombre_30);}</style><linearGradient id="Degradado_sin_nombre_30" x1="-1.64" y1="-33.63" x2="360.36" y2="458.59" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#44decd"/><stop offset="1" stop-color="#41a7cd"/></linearGradient></defs><title>Recurso 3</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polygon class="cls-1" points="611 0 0 0 0 768 179 768 611 0"/></g></g></svg> -->
<div class="main">
    <div class="header">
        <img src="assets/imgs/e-commerce/logo-blanco.png" alt="">
        <ul>
            <li class="pointer" [routerLink]="[ '/refrigerados' ]">Contenedores Refrigerados</li>
            <li class="pointer" [routerLink]="[ '/cotizacion/5bd8fc05b71ca700131deca3' ]">Contenedor Salas de Ventas</li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 seccion-2">
                <img class="img-producto" src="assets/imgs/e-commerce/image-1.png" alt="">
            </div>
            <div class="col-md-6">
                <h2 class="nombre-producto">CONTENEDOR MARÍTIMO</h2>
                <h3 class="tamanio-producto">{{tamano}} PIES</h3>
                <ngb-tabset>
                        <ngb-tab title="Descripción">
                          <ng-template ngbTabContent>
                            <p class="p-t-20 descripcion-producto">Contenedor marítimo en condiciones originales. <br>Puertas y herrajes originales.
                                  </p>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Dimensiones">
                          <ng-template ngbTabContent>
                            <p *ngIf="tamano == 20" class="p-t-20 descripcion-producto">Medidas: 6 metros de largo, 2,44 metros de ancho y 2,44 metros de alto.<br> Área: 14,4 metros cuadrados. Carga útil: 27 toneladas.
                                  </p>
                            <p *ngIf="tamano == 40" class="p-t-20 descripcion-producto">Medidas: 12 metros de largo, 2,44 metros de ancho y 2,44 metros de alto.<br> Área: 28,8 metros cuadrados. Carga útil: 27 toneladas.
                                  </p>
                          </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
            </div>
        </div>
    </div>
    <div class="cuadro">
       <div class="container-fluid">
           <div class="row propiedades">
               <div class="col-md-3">
                   <label for="" class="subtitulo">Tamaño</label>
                   <button (click)="cambiarTamanio(20)" class="button-size btn btn-outline-primary mr-2 ">20 Pies</button>
                   <button (click)="cambiarTamanio(40)" class="button-size btn btn-outline-primary " >40 Pies</button>
               </div>
                 <div class="col-md-3">
                    <label for="" class="subtitulo">Tipo de Pago</label>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineRadio1"><img src="assets/imgs/images/payu.png" class="imagen-s" alt="" ></label>
                </div>
               </div>
               <div class="col-md-3">
                    <label for="" class="subtitulo">Precio</label>
                    <h4 class="precio">${{total/1000 | currency:'COP':true:'1.3-3'}} + IVA</h4>
               </div>
               <div class="col-md-3" style="    display: flex;
               justify-content: center;
               align-items: center;">

      <form #form method="post" [action]="prueba">
        <input name="merchantId" type="hidden" [(ngModel)]="payuMessage.merchantId">
        <input name="referenceCode" type="hidden" [(ngModel)]="payuMessage.referenceCode">
        <input name="description" type="hidden" [(ngModel)]="payuMessage.description">
        <input name="amount" type="hidden" [(ngModel)]="payuMessage.amount">
        <input name="tax" type="hidden" [(ngModel)]="payuMessage.tax">
        <input name="taxReturnBase" type="hidden" [(ngModel)]="payuMessage.taxReturnBase">
        <input name="signature" type="hidden" [(ngModel)]="payuMessage.signature">
        <input name="accountId" type="hidden" [(ngModel)]="payuMessage.accountId">
        <input name="currency" type="hidden" [(ngModel)]="payuMessage.currency">
        <input name="buyerFullName" type="hidden" [(ngModel)]="payuMessage.buyerFullName">
        <input name="buyerEmail" type="hidden" [(ngModel)]="payuMessage.buyerEmail">
        <input name="shippingAddress" type="hidden" [(ngModel)]="payuMessage.shippingAddress">
        <input name="shippingCity" type="hidden" [(ngModel)]="payuMessage.shippingCity">
        <input name="shippingCountry" type="hidden" [(ngModel)]="payuMessage.shippingCountry">
        <input name="telephone" type="hidden" [(ngModel)]="payuMessage.telephone">
        <input name="test" type="hidden" [(ngModel)]="payuMessage.test">
        <input name="responseUrl" type="hidden" value="http://localhost:4200/payu-response">
        <input name="confirmationUrl" type="hidden" value="http://localhost:4200/payu-response">
        <input  class="btn btn-comprar" (click)="enviarPago(form)" name="Submit"
          type="submit" value="Comprar">
      </form>
               </div>
           </div>
       </div>
    </div>
    <div class="cuadro2">
       <div class="container-fluid">
           <div class="row propiedades">
              
               <div class="col-md-6 pointer">
                   <a [routerLink]="[ '/pagos-online/terminos-y-condiciones' ]" >Terminos y condiciones.</a> 
               </div>
               <div class="col-md-6 pointer">
                   <a [routerLink]="[ '/pagos-online/devolucion-y-reembolsos' ]" >Politica de devoluciones y reembolsos.</a>
               </div>
              
           </div>
       </div>
    </div>
    <svg class="svg_derecha" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1187 768"><defs><style>.cls-1{fill:url(#Degradado_sin_nombre_9);}</style><linearGradient id="Degradado_sin_nombre_9" x1="283.83" y1="267.68" x2="1144.15" y2="590.84" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#334364"/><stop offset="1" stop-color="#171834"/></linearGradient></defs><title>Recurso 4</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polygon class="cls-1" points="1187 0 1187 768 0 768 432 0 1187 0"/></g></g></svg>
    
</div>
