<h2 class="wow fadeInLeft">Que ofrecemos</h2>

<div class="panels mb-2">
  <div class="panel panel1 wow fadeIn" data-wow-duration="4.5s">
    <p></p>
    <p>Transporte marítimo internacional</p>
       <p routerLink="/path">Más información</p>
  </div>
  <div class="panel panel2 wow fadeIn" data-wow-duration="2.2s">
    <p></p>
    <p>Transporte aéreo internacional</p>
       <p routerLink="/path">Más información</p>
  </div>
  <div class="panel panel3 wow fadeIn" data-wow-duration="2s">
    <p></p>
    <p>Transporte Terrestre – OTM/DTA</p>
       <p routerLink="/path">Más información</p>
  </div>
  <!-- <div class="panel panel4 wow fadeIn" data-wow-duration="1.7s">
    <p></p>
    <p>Logística integral – proyectos</p>
    <p routerLink="/path">Más información</p>
  </div>
  <div class="panel panel5 wow fadeIn" data-wow-duration="1.5s">
    <p></p>
    <p>Intermediación aduanera</p>
    <p routerLink="/path">Más información</p>
  </div> -->
</div>


<section id="portfolio" class="wow fadeIn" data-wow-duration="4.5s">
 
  
  <div class="project">
    <img class="project__image" src="assets/imgs/shipping-line/logistica.jpg" />
    <p>Logística integral</p>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>
  <div class="project">
    <img class="project__image" src="assets/imgs/shipping-line/aduana.jpg" />
    <p>Intermediación aduanera</p>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>
  <div class="project">
    <img class="project__image" src="https://images.unsplash.com/photo-1481762554390-ff5562748bdf?ixlib=rb-0.3.5&s=1b7f850b7f8f702e237b0f81c0ec0bf5&auto=format&fit=crop&w=700&q=80" />
    <p>Seguros</p>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>
  
  <div class="project">
    <img class="project__image" src="https://images.unsplash.com/photo-1463620695885-8a91d87c53d0?ixlib=rb-0.3.5&s=e5bf2f64858b8abe2a386b0c6df594e4&auto=format&fit=crop&w=700&q=80" />
    <p>Almacenamiento y centros de distribución</p>
    <h3 class="grid__title"> ui/ux design</h3>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>
  <div class="overlay">
    <div class="overlay__inner">
      <button class="close">Cerrar</button>
      <img>
    </div>
  </div>
</section>

