<h2 class="wow fadeInLeft">Que ofrecemos</h2>

<div class="panels mb-2">
  <div class="panel panel1 wow fadeIn" data-wow-duration="4.5s">
    <p></p>
    <p class="sombra">Transporte marítimo internacional</p>
       <p routerLink="/freight-forwarding/transporte-maritimo">Más información</p>
  </div>
  <div class="panel panel2 wow fadeIn" data-wow-duration="2.2s">
    <p></p>
    <p class="sombra" >Transporte aéreo internacional</p>
       <p routerLink="/freight-forwarding//transporte-aereo">Más información</p>
  </div>
  <div class="panel panel3 wow fadeIn" data-wow-duration="2s">
    <p></p>
    <p class="sombra" >Transporte Terrestre – OTM/DTA</p>
       <p routerLink="/freight-forwarding/transporte-terrestre">Más información</p>
  </div>
</div>


<section id="portfolio" class=" pb-3 bg-black" data-wow-duration="4.5s">
 
  
  <div class="project wow fadeIn" data-wow-duration="4.5s" data-wow-offset="-200">
    <img class="project__image" src="assets/imgs/shipping-line/logistica.jpg" />
    <p>Logística integral</p>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>

  <div class="project wow fadeIn" data-wow-duration="7.5s" data-wow-offset="-200">
    <img class="project__image" src="assets/imgs/shipping-line/aduana.jpg" />
    <p>Intermediación aduanera</p>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>

  <div class="project wow fadeIn" data-wow-duration="10.5s" data-wow-offset="-200">
    <img class="project__image" src="assets/imgs/shipping-line/seguros.png" />
    <p>Seguros</p>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>
  
  <div class="project wow fadeIn" data-wow-duration="13.5s" data-wow-offset="-200">
    <img class="project__image" src="assets/imgs/shipping-line/impor-expor.jpg" />
    <p>Almacenamiento y centros de distribución</p>
    <div class="grid__overlay">
      <button class="viewbutton">Más información</button>
    </div>
  </div>

</section>

