<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 611 768"><defs><style>.cls-1{fill:url(#Degradado_sin_nombre_30);}</style><linearGradient id="Degradado_sin_nombre_30" x1="-1.64" y1="-33.63" x2="360.36" y2="458.59" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#44decd"/><stop offset="1" stop-color="#41a7cd"/></linearGradient></defs><title>Recurso 3</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polygon class="cls-1" points="611 0 0 0 0 768 179 768 611 0"/></g></g></svg> -->
<div class="main">
    <div class="header">
        <img src="assets/imgs/e-commerce/logo-blanco.png" alt="">
        <ul>
            <li class="pointer" [routerLink]="[ '/refrigerados' ]">Contenedores Refrigerados</li>
            <li class="pointer" [routerLink]="[ '/cotizacion/5bd8fc05b71ca700131deca3' ]">Contenedor Salas de Ventas</li>
        </ul>
    </div>
    <div class="container wow fadeIn">
        <div class="row">
          <p class="titulo">Terminos y Condiciones</p> 
          <div class="informacion">
            <div class="texto">
                <div [routerLink]="['/pagos-online']" class="pointer mb-2 volver">
                  <img src="assets/imgs/images/back-arrow.png" style="width: 25px;" class="mb-2"> Volver
                </div>
              <p>
                 <b style="display: block" >1. CONDICIONES COMERCIALES:</b>
                  1.1. La presente oferta tendrá una vigencia de treinta (30) días calendario, contados a partir de la
                  fecha de su emisión.<br>
                  1.2. La garantía está indicada en la descripción del producto, y estará condicionada a la atención de
                  las condiciones definidas en el Manual de Buen Uso del Contenedor.<br>
                  1.3. Sitio de entrega: A convenir<br>
                  <b> 2. NOTAS GENERALES: </b><br>
                  2.1. El alcance del suministro y servicios indicados en la oferta, se refieren única y exclusivamente a
                  lo expresamente descrito. Si existe una omisión o una discrepancia entre la oferta y sus
                  especificaciones, debe ser considerada ésta como una excepción a las mismas.<br>
                  2.2. El tiempo de entrega, empezará a contarse a partir del día hábil siguiente a que sea recibido y
                  confirmado efectivamente por E-CONTAINERS S.A.S. el soporte de pago según corresponda
                  a la forma de pago.<br>
                  2.3. E-CONTAINERS S.A.S. no será responsable por retrasos o daños que originen en
                  eventos de fuerza mayor, caso fortuito o hechos de un tercero que impidan razonablemente dar
                  cumplimiento con el tiempo de entrega ofertado. Para todos los efectos, son hechos eximentes de
                  responsabilidad: huelgas, asonadas, disputas laborales, hechos delictivos, desastres naturales u orden
                  de autoridad que impida la importación, conducción, desde o a hacia las instalaciones de la Empresa o
                  al lugar de destino, de las unidades.<br>
                  2.4. La ambientación fotográfica utilizada es a modo ilustrativo de manera que puede diferir de los
                  bienes finalmente suministrados o dados en alquiler.<br>
                  2.5. Las órdenes recibidas y aceptadas por E-CONTAINERS S.A.S. no son cancelables. A
                  entera discreción de E-CONTAINERS S.A.S. y previa cancelación de los cargos
                  correspondientes.<br>
                  2.6. El cliente deberá garantizar las vías de acceso para el transporte y descargue de la unidad. Para
                  el descargue el cliente debe garantizar una adecuada compactación y nivelación en el terreno para la
                  completa funcionalidad del contenedor. Cualquier costo adicional en el que incurra E-CONTAINERS S.A.S. deberá ser asumido por el cliente.<br>
                  2.7. La presente oferta hará parte integral del contrato o la Orden de Compra a ser emitida por el
                  cliente.<br>
                  2.8. Los precios ofertados incluyen un descuento del nueve (9%) por ciento de descuento y
                  únicamente es aplicable para ventas con pago ciento por ciento (100%) anticipado.<br>
                  2.9. El cliente deberá proveer y garantizar condiciones de trabajo apropiadas y seguras en el lugar
                  de destino de los bienes a ser suministrados o alquilados.<br>
                  2.91. Se debe contar con la colaboración necesaria por parte del cliente para la conducción, izaje, y
                  descargue de la(s) unidad(es).</p><br>
            </div>
          </div>
        </div>
    </div>
   
    <svg class="svg_derecha" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1187 768"><defs><style>.cls-1{fill:url(#Degradado_sin_nombre_9);}</style><linearGradient id="Degradado_sin_nombre_9" x1="283.83" y1="267.68" x2="1144.15" y2="590.84" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#334364"/><stop offset="1" stop-color="#171834"/></linearGradient></defs><title>Recurso 4</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><polygon class="cls-1" points="1187 0 1187 768 0 768 432 0 1187 0"/></g></g></svg>
    
</div>
