
  <div class="slider__warpper hidden-sm-down animated fadeIn fast" id="este">
    <div class="flex__container flex--pikachu flex--active" data-slide="1">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h2 class="text--big">UN CONTENEDOR QUE SE TRANSFORMA</h2>
          <h2 class="text--normal">Para mover <br>Un país</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>ALQUILER</button></a>

          <a href="https:/www.econtainerscolombia.com/info"><button>COMPRA</button></a>

          <a href="https://blog.econtainerscolombia.com" target="_blank">
            <button class="button-comprar">BLOG</button>
          </a>
        </div>
        <h2 class="text__background">ECO AMIGABLE</h2>
        <section id="section05" class="demo">
          <a href="#2">
            <span>

          </span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/contenedor-azul.png" />
    </div>

    <div class="flex__container flex--piplup animate--start" data-slide="2">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h2 class="text--big">SOLUCIÓN RÁPIDA Y PORTABLE</h2>
          <h2 class="text--normal wow shake">  PARA CONSERVAR SUS PRODUCTOS.</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com" target="_blank"><button class="button-comprar">BLOG</button></a>
        </div>
        <h2 class="text__background">REFRIGERADOS</h2>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/conte-refi (1).png" />
    </div>

    <div class="flex__container flex--blaziken animate--start" data-slide="3">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <p class="text--sub"></p>
          <h2 class="text--big"> ALMACENAMIENTO DE CARGA,</h2>
          <h2 class="text--normal"> MERCANCÍAS, HERRAMIENTAS.</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com" target="_blank"><button class="button-comprar">BLOG</button></a>
        </div>
        <h2 class="text__background">BODEGAS</h2>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img" src="assets/imgs/contenedor-seco.png" />
    </div>

    <div class="flex__container flex--dialga animate--start" data-slide="4">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h2 class="text--big">VITRINA EQUIPADA </h2>
          <h2 class="text--normal">PARA LA EXHIBICIÓN DE SU PROYECTO</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com" target="_blank"><button class="button-comprar">BLOG</button></a>
        </div>
        <h2 class="text__background">SALAS DE VENTA</h2>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img tamaño_3" src="assets/imgs/contenedor-4.png" />
    </div>
    <div class="flex__container flex--dialga animate--start" data-slide="5">
      <div class="flex__item flex__item--left">
        <div class="flex__content">
          <h2 class="text--big">SOLUCIONES A LA MEDIDA </h2>
          <h2 class="text--normal">Diseño e innovación</h2>
          <a href="https:/www.econtainerscolombia.com/info"><button>Alquiler</button></a>
          <a href="https:/www.econtainerscolombia.com/info"><button class="button-comprar">COMPRA</button></a>
          <a href="https:/blog.econtainerscolombia.com" target="_blank"><button class="button-comprar">BLOG</button></a>
        </div>
        <h2  class="text__background">ARQUITECTONICOS</h2>
        <section id="section05" class="demo">
          <a href="#2"><span></span>SCROLL</a>
        </section>
      </div>
      <div class="flex__item flex__item--right"></div>
      <img class="pokemon__img tamaño_3" src="assets/imgs/contenedor5.png" />
    </div>

  </div>
  <!-- movil -->


  <!-- <div class="slider__navi  hidden-sm-down">
    <a class="slide-nav active" data-slide="1">.01</a>
    <a class="slide-nav" data-slide="2">.02</a>
    <a class="slide-nav" data-slide="3">.03</a>
    <a class="slide-nav" data-slide="4">.04</a>
    <a class="slide-nav" data-slide="5">.05</a>
    <a class="slide-nav" data-slide="6">.06</a>
  </div> -->
  <!-- movil -->
