<!-- ============================================================== -->
<!-- Stats box -->
<!-- ============================================================== -->

<div toastContainer></div>

<div class="row wow fadeIn">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <form ngNativeValidate #myForm="ngForm" (ngSubmit)="getGrafica( myForm )" >
                    <div class="row">
                        <div class="col-md-5">
                            <label>Fecha inicial</label>
                            <my-date-picker  ngModel on-click="toast()"  [placeholder]="placeholder" [locale]="locale" name="start" [options]="startDate" (dateChanged)="onStartDateChanged($event)"
                                required></my-date-picker>
                        </div>
                        <div class="col-md-5">
                            <label>Fecha final</label>
                            <my-date-picker ngModel name="end" [locale]="locale" [placeholder]="placeholder" [options]="endDate" (dateChanged)="onEndDateChanged($event)"
                                required></my-date-picker>
                        </div>
                        <div class="col-md-2 boton-consulta">
                            <button type="submit" class="btn color-azul " (click)="toast2(false)" >Consultar</button>
                        </div>
                    </div>
                </form>
                <!-- <div>
                    <button class="btn color-azul" (click)="getLeadsHoy()">Fecha de hoy ({{date | date}})</button>
                    <button class="btn color-azul" (click)="getLeadsMes()">Ultimos 30 dias ({{mesInicio | date}} - {{mesFin | date}})</button>
                </div> -->
            </div>

        </div>
    </div>
    <div class="col-lg-2">
        <div class="card bg-morado pointer" (click)="graficaDona('bodega')" on-click="toast()">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div *ngIf="graficas != null" class="m-r-5 align-self-center ">
                        <img src="assets/css/backend/images/icon/staff-w.png " alt="Income " />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0"> Bodegas</h6>
                        <h2 class="m-t-0 text-white">{{graficas?.bodegas.total}}</h2>
                        <h2 class="m-t-0 text-white" *ngIf="graficas == null">Cargando..</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card bg-verde pointer" (click)="graficaDona('oficina')" on-click="toast()">
            <div class=" card-body ">
                <div class="d-flex no-block ">
                    <div *ngIf="graficas != null" class="m-r-5 align-self-center ">
                        <img src="assets/css/backend/images/icon/expense-w.png " alt="Income " />
                    </div>
                    <div class="align-self-center ">
                        <h6 class="text-white m-t-10 m-b-0 "> Oficinas</h6>
                        <h2 class="m-t-0 text-white ">{{graficas?.oficinas.total}}</h2>
                        <h2 class="m-t-0 text-white" *ngIf="graficas == null">Cargando..</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 ">
        <div class="card bg-primary pointer" (click)="graficaDona( 'sala')" on-click="toast()">
            <div class=" card-body ">
                <div class="d-flex no-block ">
                    <div *ngIf="graficas != null" class="m-r-20 align-self-center ">
                        <img src="assets/css/backend/images/icon/assets-w.png " alt="Income " />
                    </div>
                    <div class="align-self-center ">
                        <h6 class="text-white m-t-10 m-b-0 "> Salas de Venta</h6>
                        <h2 class="m-t-0 text-white ">{{graficas?.salas.total}}</h2>
                        <h2 class="m-t-0 text-white" *ngIf="graficas == null">Cargando..</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 ">
        <div class="card bg-rojo pointer" (click)="graficaDona( 'arq')" on-click="toast()">
            <div class=" card-body ">
                <div class="d-flex no-block ">
                    <div *ngIf="graficas != null" class="m-r-20 align-self-center ">
                        <img src="assets/css/backend/images/icon/staff-w.png " alt="Income " />
                    </div>
                    <div class="align-self-center ">
                        <h6 class="text-white m-t-10 m-b-0 "> Proyectos Arq</h6>
                        <h2 class="m-t-0 text-white ">{{graficas?.proyectos.total}}</h2>
                        <h2 class="m-t-0 text-white" *ngIf="graficas == null">Cargando..</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 ">
        <div class="card bg-azul pointer" (click)="graficaDona( 'refrigerado')" on-click="toast()">
            <div class=" card-body ">
                <div class="d-flex no-block ">
                    <div *ngIf="graficas != null" class="m-r-5 align-self-center ">
                        <img src="assets/css/backend/images/icon/staff-w.png " alt="Income " />
                    </div>
                    <div class="align-self-center ">
                        <h6 class="text-white m-t-10 m-b-0 "> Reefer</h6>
                        <h2 class="m-t-0 text-white ">{{graficas?.refrigerados.total}}</h2>
                        <h2 class="m-t-0 text-white" *ngIf="graficas == null">Cargando..</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab title="Ciudades">
                        <ng-template ngbTabContent>

                            <div style="display: block">
                                <canvas baseChart [colors]="colores" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                                    [chartType]="barChartType"></canvas>
                            </div>


                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Compra/Alquiler">
                        <ng-template ngbTabContent>
                            <div style="display: block ">
                                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels " [chartType]="doughnutChartType " [options]=""></canvas>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>

            </div>
        </div>
    </div>
</div>