h5{
  margin: 0;
}

p {
  margin: 0px;
}
.barra-instagram{
  background: linear-gradient( to right, rgba(7, 67, 140, 1) 0%, rgba(60, 196, 220, 1) 100% );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}


.barra-instagram h3{
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1.2em!important;
}

.post{
  height: 330px;
  max-height: 330px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* border: 1px solid lightgrey; */
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  transition: .5s filter linear, 1s -webkit-filter linear;

}

.btn-padre{
 width: 100% !important;
 margin: 0 auto !important;
 text-align: center !important;
 margin-bottom: 10px !important;
}


.post:hover{
  filter: none;
}
.insta-data{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insta-data h5{
  color: white;
}
.insta-data svg{
  margin-right: 5
}

.bannerStyle h1 {
  background-color: #ccc;
  min-height: 300px;
  text-align: center;
  line-height: 300px;
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 100px;
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  /* height: 50px; */
      height: 100px;
  border-radius: 999px;
  right: 0;
}
.leftRs2 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}

.rightRs2 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}


.principal {
  width: 100vw;
  background: url("/../assets/imgs/info/background.jpg");
  background-size: cover;
}

.images-instagram{
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);}

::ng-deep .ngucarousel{
  position: initial!important;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 1100px; */
}

.seccion-2 {
  margin-bottom: 10px !important;
}

ul {
  display: inline-block;
}


ul li {
  list-style: none;
  display: inline-block;
  margin-top: 12px;
  max-height: 65px;
  background: rgba(7, 67, 140, 1);
  background: -moz-linear-gradient(
    left,
    rgba(7, 67, 140, 1) 0%,
    rgba(60, 196, 220, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(7, 67, 140, 1)),
    color-stop(100%, rgba(60, 196, 220, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(7, 67, 140, 1) 0%,
    rgba(60, 196, 220, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(7, 67, 140, 1) 0%,
    rgba(60, 196, 220, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(7, 67, 140, 1) 0%,
    rgba(60, 196, 220, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(7, 67, 140, 1) 0%,
    rgba(60, 196, 220, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07438c', endColorstr='#3cc4dc', GradientType=1 );
}

ul li:last-child {
  position: relative;
  left: 50px;
  top: -11px;
  background: black;
  transform: rotateZ(-3deg);
}

.rotate {
  font-size: 1.3em;
  font-family: "CenturyGothic";
  color: #ffff;
  font-weight: bold;
  font-style: italic;
}

.text-principal {
  font-size: 2.9em !important;
  font-family: "brandon";
  margin-top: 30px;
  color: #ffff;
  font-style: normal !important;
}

.text-principal-1 {
  font-size: 1.9em !important;
  font-family: "brandon";
  color: #ffff;
}

.text-principal-2 {
  font-size: 1.2em !important;
  color: #ffff;
  margin-top: 15px;
  font-weight: 200 !important;
}

.textos {
  margin: 0 auto;
}

.margin-auto {
  margin: 0 auto !important;
}

.btn-mas-info {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #1245f5 !important;
}

.mensaje-principal .text-font {
  margin-top: 15px;
}

.card {
  /* position: absolute; */
  /* transition: ease; */
  top: 22px;
  border-radius: 2%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0px 2px 10px rgba(0, 0, 0, 0.12);
  max-height: 370px !important;
  min-height: 370px !important;
  width: 92%;
  color: #294c99 !important;
  transition: background-color 0.2s ease;
}

.card:hover {
  background: #3096f7;;
  color: white !important;
  transition-duration: 0.2s;
}

.card-title {
  font-family: "CenturyGothic-bold" !important;
  border-top: 1px solid black;
  font-size: 15px !important;
  padding-top: 10px;
  text-align: center;
}
.card-text {
  font-family: "CenturyGothic";
  text-align: center;
  font-weight: normal;
  font-size: 12px;
}

.imagen-contenedor {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 25px;
}

.cotiza {
  /* margin-top: 70px; */
  cursor: pointer;
  text-align: center !important;
  font-size: 1.5em;
  display: block;
  bottom: 10px;
  color: white;
  margin: 0 auto !important;
  position: absolute !important;
}

.card img {
  width: 90% !important;
  margin: 0 auto;
  height: 150px;
  border-radius: 10%;
  margin-top: 10px;
}

.cotiza svg {
  margin-left: 10px;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  color: #9a9a9c;
  font-size: 5em;
  bottom: 0;
  background: transparent;
  border: none;
  left: -100px;
}

.carga {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  color: #9a9a9c;
  height: 120px;
  font-size: 5em;
  bottom: 0;
  background: transparent;
  border: none;
  /* width: 20px; */
  /* height: 50px; */
  /* box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3); */
  /* border-radius: 999px; */
  right: -74px;
}


.imagen-derecha {
  width: 100%;
  position: absolute;
  right: 60px;
  top: 80px;
}

.carrusel {
  margin: 0 auto;
}

::ng-deep .ngucarousel-items {
  position: relative;
  height: 380px;
}

@media screen and (max-width: 576px) {


  .container{
    height: inherit;
  }


  .imagen-derecha {
    width: 100%;
    position: relative;
    top: 0px;
    margin: 0 auto;
    right: 25px;
  }

  .principal {
    background-position-x: -370px;
  }

  #texto-principal {
    font-size: 2.9em;
    padding-left: 0;
  }

  .text-principal {
    font-size: 1.9em !important;
    font-family: "brandon";
    margin-top: 30px;
    color: #ffff;
  }
  
  .text-principal-1 {
    font-size: 1.4em !important;
    font-family: "brandon";
    color: #ffff;
  }
  
  .text-principal-2 {
    font-size: 0.9em !important;
    color: #ffff;
    margin-top: 15px;
    font-weight: 200 !important;
  }

  .card {
    width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    /* margin-left: 12%; */
  }

  .icon {
    margin-left: 3px;
    font-size: 20px;
  }

  .leftRs {
    left: -40px !important;
  }
  .rightRs {
    right: -40px !important;
  }

}

.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  display: none;
  background: rgba(103, 102, 102, 0.7019607843137254);
}

.active{
  display: flex!important;
    justify-content: center;
    align-items: center;
}
.popup img{
    width: 80%;
    cursor: pointer;
}
/* //PANTALLAS GRANDES */
@media (min-width: 1300px) {
  .container {
    justify-content: center;
    max-width: 1500px !important;
  }
  .card {
    max-height: 430px !important;
    min-height: 430px !important;
    color: #294c99 !important;
  }

  ::ng-deep .ngucarousel-items {
    height: 450px;
  }
  .card-text {
    font-size: 0.9em;
  }

  .card-title[_ngcontent-c1] {
    font-size: 1rem;
  }


  ul li {
    max-height: 82px;
  }

  ul {
    font-size: 1em;
  }
}

@media (min-width: 1600px) {
  .card {
    max-height: 410px !important;
    min-height: 410px !important;
  }
}

@media (min-width: 1600px) {
  .card {
    max-height: 410px !important;
    min-height: 410px !important;
  }
  ul {
    font-size: 1.3em !important;
  }

  .imagen-derecha {
    width: 80%;
  }
}
