<div class="main animated fadeIn">
    <div class="row principal">
      <section class="container-fluid hero">
        <div class="logo">
          <img src="assets/imgs/logo-nuevo.png" [routerLink]="['/home']" class="img-logo pointer" alt="logo">
        </div>
        <div class="row" >
          <div class="col-md-6">
            <div class="left">
              <span class="titulo animated fadeIn">CONTENEDORES MARITIMOS</span>
              <span class="texto-1 animated fadeIn">SOLUCIÓN RÁPIDA Y PORTABLE PARA CONSERVAR SUS PRODUCTOS.</span>
              <span class="texto-2 animated fadeIn">
                  Somos expertos en la cadena de frío, brindamos soluciones rápidas y portables de almacenamiento en contenedores refrigerados para conservar sus productos. 
              </span>
              <a class="pagina-refrigerados" href="https://econtainersreefer.com">Más información</a>
            </div>
          </div>
          <div class="col-md-6">
            <img [src]="imagenContenedor('Contenedores Refrigerados')" class="contenedor-reefer animated fadeIn" alt="contenedor">
          </div>
        </div>
      </section>
    <!-- ---------------------- -->
    <!--       FORMULARIO -->
    <!-- ---------------------- -->
    <section class="col-md-12 seccion-1" id="formulario">
        <div class="container animated fadeInUp">
          <mat-card>
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Datos Personales</ng-template>
                  <div class="row">
                    <div class="col-md-12">
                      <!-- ============================================================== -->
                      <!-- NOMBRE
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="" required formControlName="nombre" [(ngModel)]="message.nombre">
                        <mat-error *ngIf="firstFormGroup.get('nombre').invalid">{{getErrorMessage("nombre")}}</mat-error>
                      </mat-form-field>
                      <!-- ============================================================== -->
                      <!-- APELLIDO
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="" required formControlName="apellido" [(ngModel)]="message.apellido">
                        <mat-error *ngIf="firstFormGroup.get('nombre').invalid">{{getErrorMessage("nombre")}}</mat-error>
                      </mat-form-field>
                      <!-- ============================================================== -->
                      <!-- CELULAR
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="" type="number" #input required maxlength="10" [(ngModel)]="message.celular"
                          formControlName="celular">
                        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                        <mat-error *ngIf="firstFormGroup.get('celular').invalid">{{getErrorMessage("celular")}}</mat-error>
                      </mat-form-field>
                      <!-- ============================================================== -->
                      <!-- CORREO
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput placeholder="" required formControlName="correo" [(ngModel)]="message.correo">
                        <mat-error *ngIf="firstFormGroup.get('correo').invalid">{{getErrorMessage("correo")}}</mat-error>
                      </mat-form-field>
                      <!-- ============================================================== -->
                      <!-- CIUDAD
                      <!-- ============================================================== -->
                      <mat-form-field class="mr-4" appearance="outline">
                        <mat-label>Ciudad</mat-label>
                        <mat-select placeholder="Select" formControlName="ciudad" [(ngModel)]="message.id_ciudad">
                          <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad._id">
                            {{ciudad.nombre}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="firstFormGroup.get('ciudad').invalid">{{getErrorMessage("ciudad")}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                  </div>
                </form>
               
              </mat-step>
             
              <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>¿Que estas buscando?</ng-template>
                  <!-- ============================================================== -->
                  <!-- TIPO DE CLIENTE
                  <!-- ============================================================== -->
                  <mat-form-field class="mr-5" appearance="outline" >
                      <mat-label>Tipo de cliente</mat-label>
                      <mat-select placeholder="Tipo de cliente" formControlName="tipo_cliente" [(ngModel)]="message.tipo_cliente.tipo">
                        <mat-option *ngFor="let tipo_cliente of tiposDeCliente" [value]="tipo_cliente._id" (onSelectionChange) = "onEvent($event)" >
                          {{tipo_cliente.nombre}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="secondFormGroup.get('tipo_cliente').invalid">{{getErrorMessage2("tipo_cliente")}}</mat-error>
                    </mat-form-field>
                  <!-- ============================================================== -->
                  <!-- NIT
                  <!-- ============================================================== -->
                   <mat-form-field *ngIf="message?.tipo_cliente.tipo === '5ca53c8ac2ba0b0017eccd89' || message?.tipo_cliente.tipo  === '5ca53ca4c2ba0b0017eccd8a'" class="mr-4"
                    appearance="outline">
                    <mat-label>Nit</mat-label>
                    <input matInput placeholder="" type="number" required formControlName="documento" [(ngModel)]="message.documento.numero">
                    <mat-error *ngIf="secondFormGroup.get('documento').invalid">{{getErrorMessage2("documento")}}</mat-error>
                  </mat-form-field>
                  <!-- ============================================================== -->
                  <!-- CEDULA
                  <!-- ============================================================== -->
                  <mat-form-field *ngIf="message?.tipo_cliente.tipo  == '5ca53c81c2ba0b0017eccd87'" class="mr-4" appearance="outline">
                    <mat-label>Cedula</mat-label>
                    <input matInput placeholder="" type="number" required formControlName="documento" [(ngModel)]="message.documento.numero">
                    <mat-error *ngIf="secondFormGroup.get('documento').invalid">{{getErrorMessage2("documento")}}</mat-error>
                  </mat-form-field>
                  <!-- ============================================================== -->
                  <!-- Modalidad
                  <!-- ============================================================== -->
                  <mat-form-field class="mr-5" appearance="outline">
                    <mat-label>¿Lo quieres para?</mat-label>
                    <mat-select placeholder="¿Lo quieres para?" formControlName="modalidad" [(ngModel)]="message.modalidad">
                      <mat-option value="Compra" *ngIf="message.tipo_cliente.tipo == 'Natural' || message.tipo_cliente.tipo == 'Empresa' || message.tipo_cliente.tipo == 'Contratación estatal'">Compra</mat-option>
                      <mat-option value="Alquiler" *ngIf="message.tipo_cliente.tipo != 'Tipo de cliente' && message.tipo_cliente.tipo != 'Natural'">Alquiler</mat-option>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.get('modalidad').invalid">{{getErrorMessage2("modalidad")}}</mat-error>
                  </mat-form-field>
                  <!-- ============================================================== -->
                  <!-- Mensaje
                  <!-- ============================================================== -->
                  <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Mensaje</mat-label>
                    <textarea  [(ngModel)]="message.mensaje" formControlName="mensaje" matInput placeholder="Deja tu mensaje"></textarea>
                  </mat-form-field>
  
                  <div>
                    <button mat-raised-button color="warn" class="mr-3" matStepperPrevious>Atras</button>
                    <button [disabled]="!secondFormGroup.valid || disabled == true" mat-raised-button color="primary" (click)="sendEmail(message)">Enviar</button>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
          </mat-card>
        </div>
      </section>
    </div>
    <!-- ---------------------- -->
    <!--       FIN   FORMULARIO -->
    <!-- ---------------------- -->
  </div>
  <!-- <app-footer-landing></app-footer-landing> -->