

<div class="row reefer-form">
  <div class="col col-12 col-md-12">
    <h4 class="ec-font-supermolo-regular ec-reefer-color-blue-dark ec-margin-bottom-xsmall">
      Escribenos
    </h4>
  </div>
  <div class="col col-12 col-md-12">
    <input type="text" placeholder="Nombre">
  </div>
  <div class="col col-12 col-md-12 ec-margin-top-small">
    <input type="text" placeholder="Apellido">
  </div>
  <div class="col col-12 col-md-12 ec-margin-top-small">
    <input type="text" placeholder="Email">
  </div>
  <div class="col col-12 col-md-12 ec-margin-top-small">
    <input type="text" placeholder="Celular">
  </div>
   <div class="col col-12 col-md-12 ec-margin-top-small">
      <select>
        <option>Bogota</option>
      </select>
   </div>
   <div class="col col-12 col-md-6 ec-margin-top-small">
      <select>
        <option>Tipo de cliente</option>
        <option>Bogota</option>
      </select>
   </div>
   <div class="col col-12 col-md-6 ec-margin-top-small">
      <select>
          <option>Lo quieres para </option>
        <option>Bogota</option>
      </select>
   </div>
   <div class="col col-12 col-md-12 ec-margin-top-small">
      <textarea>
      </textarea>
   </div>
</div>
