
<div class="row reefer-form">
  <div class="col col-12 col-md-12">
    <h4 class="ec-font-supermolo-regular ec-reefer-color-blue-dark ec-margin-bottom-xsmall ec-text-align-center">
      Escribenos!!
    </h4>
  </div>
  <div class="col col-12 col-md-12">
    <input type="text" name="nombre" [(ngModel)]="message.nombre" placeholder="Nombre">
  </div>
  <div class="col col-12 col-md-12 ec-margin-top-small">
    <input type="text" name="apellido" [(ngModel)]="message.apellido" placeholder="Apellido">
  </div>
  <div class="col col-12 col-md-12 ec-margin-top-small">
    <input [(ngModel)]="message.correo" name="correo" type="text" placeholder="Email">
  </div>
  <div class="col col-12 col-md-12 ec-margin-top-small">
    <input type="text" name="celular" [(ngModel)]="message.celular" placeholder="Celular">
  </div>
   <div class="col col-12 col-md-12 ec-margin-top-small">
      <select name="id_ciudad" [(ngModel)]="message.id_ciudad">
        <option [ngValue]="undefined" disabled selected> Elige tu ciudad </option>
        <option *ngFor="let ciudad of ciudades" [value]="ciudad._id">
          {{ciudad.nombre}}
        </option>
      </select>
   </div>
   <div class="col col-12 col-md-6 ec-margin-top-small">
      <select name="tipo_ cliente" [(ngModel)]="message.tipo_cliente.tipo">
        <option [ngValue]="undefined" disabled selected> Tipo de cliente </option>
        <option *ngFor="let tipo_cliente of tiposDeCliente" [value]="tipo_cliente._id" (onSelectionChange)="onEvent($event)">
          {{tipo_cliente.nombre}}
        </option>
      </select>
   </div>
   <div class="col col-12 col-md-6 ec-margin-top-small">
     <!-- cedula -->
     <div *ngIf="message?.tipo_cliente.tipo  == '5ca53c81c2ba0b0017eccd87'">
        <input name="documento" type="number" [(ngModel)]="message.documento.numero" type="text" placeholder="Cedula">
     </div>

     <!-- NIT -->
     <div *ngIf="message?.tipo_cliente.tipo === '5ca53c8ac2ba0b0017eccd89' || message?.tipo_cliente.tipo  === '5ca53ca4c2ba0b0017eccd8a'" >
        <input name="documento" type="number" [(ngModel)]="message.documento.numero" type="text" placeholder="NIT">
     </div>
   </div>
   <div class="col col-12 col-md-6 ec-margin-top-small">
      <select [(ngModel)]="message.modalidad" name="modalidad" aria-placeholder="Modalidad">
        <option [ngValue]="undefined" disabled  selected> Modalidad </option>
        <option value="Compra" *ngIf="message.tipo_cliente.tipo == '5ca53c81c2ba0b0017eccd87' || message.tipo_cliente.tipo == '5ca53c8ac2ba0b0017eccd89' || message.tipo_cliente.tipo == '5ca53ca4c2ba0b0017eccd8a'">Compra</option>
        <option value="Alquiler" *ngIf="message.tipo_cliente.tipo != 'Tipo de cliente' && message.tipo_cliente.tipo != '5ca53c81c2ba0b0017eccd87'">Alquiler</option>
      </select>
   </div>

   <div class="col col-12 col-md-12 ec-margin-top-small">
      <textarea name="mensaje" [(ngModel)]="message.mensaje" placeholder="Mensaje">
      </textarea>
   </div>
   <div class="reefer-actions col col-12">
     <button type="submit" class="btn color-azul" (click)="enviar(message)">
        ENVIAR
      </button>
    </div>
</div>

