<div class="ec-reefer-franja">
  <div class="ec-container">
    <h2 class="wow fadeInLeft">
      CONTENEDORES DE 20 Y 40 PIES
    </h2>
  </div>
</div>
<div class="row banner-product ec-container ec-margin-bottom-medium">
  <div class="col col-12 col-md-6 ec-text-align-center">
    <img class="img-fluid" src="../../../assets/images/contenedor-blanco.png" alt="">
  </div>
  <div class="col col-12 col-md-6 ec-align-self-center">
    <div>
      <h4
        class="ec-font-supermolo-regular ec-color-reefer ec-margin-bottom-xsmall">
          ¿Qué es un Reefer?
      </h4>
      <p class="ec-reefer-color-blue-dark">
        Un contenedor reefer es una unidad de refrigeracion especialmente diseñada
        para almacenamiento y transporte de productos refrigerados y congelados a
        cualquier nivel de temperatura.
      </p>
       <p class="ec-reefer-color-blue-dark">
          Los contenedores reefer ayudan a mantener los productos parecederos a una
          temperatura controlada asegurando que se mantengan en optimas condiciones y
          preservando su presentacion original con frescura y calidad.
        </p>
      <div class="reefer-actions ec-margin-top-small">
        <button type="submit" class="btn color-azul" (click)="toast2(false)">
          ALQUILAR
        </button>
        <button type="submit" class="btn color-azul" (click)="toast2(false)">
          COMPRAR
        </button>
      </div>
    </div>
  </div>
</div>
<div class="ec-container ec-margin-bottom-medium">
  <hr class="reefer-line">
</div>
<div class="ec-container">
  <h4
    class="ec-font-supermolo-regular ec-color-reefer ec-padding-bottom-small ec-text-align-center ec-margin-bottom-xsmall">
      Características
  </h4>
  <div class="row justify-content-md-center ec-text-align-center">
    <div class="col col-md-4">
      <img class="row-reefer-img" src="../../../assets/images/Aislamiento-01.png" alt="">
      <p class="ec-reefer-color-blue-dark">
        Aislamiento en poliuritano inyectado de alta densidad
      </p>
    </div>
    <div class="col col-md-4">
      <img class="row-reefer-img" src="../../../assets/images/Revestimiento-02.png" alt="">
      <p class="ec-reefer-color-blue-dark">
        Revestiminto interior en acero inoxidable
      </p>
    </div>
    <div class="col col-md-4">
      <img class="row-reefer-img" src="../../../assets/images/Piso acanalado-03.png" alt="">
      <p class="ec-reefer-color-blue-dark">
        Piso acanalado que permite la correcta distribucion del frio
      </p>
    </div>
    <div class="col col-md-4">
      <img class="row-reefer-img" src="../../../assets/images/temperatura-04.png" alt="">
      <p class="ec-reefer-color-blue-dark">
        Rango de temperatura +25° / -25°C
      </p>
    </div>
    <div class="col col-md-4">
      <img class="row-reefer-img" src="../../../assets/images/voltaje-05.png" alt="">
      <p class="ec-reefer-color-blue-dark">
        Equipo eléctrico trifásico de 220V, 380V, 440V
      </p>
    </div>
  </div>
</div>
<div class="ec-container ec-margin-bottom-large">
  <hr class="reefer-line">
</div>
<div class="ec-container">
  <div class="row ec-margin-bottom-medium">
    <div class="col col-md-6">
      <table class="table reefer-size-table">
        <thead>
          <tr>
            <th scope="col">
              <h4 class="ec-font-supermolo-regular ec-color-blue-dark">
                Medidas internas
              </h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="ec-color-white">Medidas Internas(m)</td>
            <td class="ec-color-white">20"</td>
            <td class="ec-color-white">40"HC</td>
          </tr>
          <tr>
            <td class="ec-color-white">Largo</td>
            <td class="ec-color-white">5.45</td>
            <td class="ec-color-white">11.56</td>
          </tr>
          <tr>
            <td class="ec-color-white">Ancho</td>
            <td class="ec-color-white">2.29</td>
            <td class="ec-color-white">2.29</td>
          </tr>
          <tr>
            <td class="ec-color-white">Alto</td>
            <td class="ec-color-white">2.26</td>
            <td class="ec-color-white">2.50</td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class="col col-md-6">
        <table class="table ec-background-dark">
            <thead>
              <tr>
                <th scope="col">
                    <h4 class="ec-font-supermolo-regular ec-color-reefer">
                      Medidas externas
                    </h4>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ec-color-white">Medidas Externas(m)</td>
                <td class="ec-color-white">20"</td>
                <td class="ec-color-white">40"HC</td>
              </tr>
              <tr>
                <td class="ec-color-white">Largo</td>
                <td class="ec-color-white">6.06</td>
                <td class="ec-color-white">12.19</td>
              </tr>
              <tr>
                <td class="ec-color-white">Ancho</td>
                <td class="ec-color-white">2.44</td>
                <td class="ec-color-white">2.44</td>
              </tr>
              <tr>
                <td class="ec-color-white">Alto</td>
                <td class="ec-color-white">2.59</td>
                <td class="ec-color-white">2.90</td>
            </tr>
            </tbody>
      </table>

    </div>
  </div>
  <div class="row ec-margin-bottom-large">
    <div class="col col-md-12">
        <table class="table table-reefer-right">
            <thead class="ec-background-dark">
              <tr>
                <th>
                  <h4 class="ec-font-supermolo-regular ec-color-white">
                    Capacidad
                  </h4>
                </th>
                <th>
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ec-color-blue-dark">Medidas Externas(m)</td>
                <td class="ec-color-blue-dark">20"</td>
                <td class="ec-color-blue-dark">40"HC</td>
              </tr>
              <tr>
                <td class="ec-color-reefer">Largo</td>
                <td class="ec-color-reefer">6.06</td>
                <td class="ec-color-reefer">12.19</td>
              </tr>
              <tr>
                <td class="ec-color-reefer">Ancho</td>
                <td class="ec-color-reefer">2.44</td>
                <td class="ec-color-reefer">2.44</td>
              </tr>
              <tr>
                <td class="ec-color-reefer">Alto</td>
                <td class="ec-color-reefer">2.59</td>
                <td class="ec-color-reefer">2.90</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<div class="degradado">

<div class="ec-container ec-margin-bottom-large">
  <h4
    class="ec-font-supermolo-regular ec-color-reefer ec-padding-bottom-small ec-text-align-center ec-margin-bottom-xsmall">
    Galería Fotográfica
  </h4>
  <div>
    <div class="row justify-content-md-center ec-margin-bottom-large">
      <div class="align-self-center ec-margin-right-small ec-cursor-pointer" (click)="prevTestimonials()">
        <i class="fas fa-chevron-left fa-3x color-arrow"></i>
      </div>
      <div class="col col-md-10 ec-margin-bottom-small">
        <img
          src="../../../assets/images/reefer-01.jpg"
          class="img-fluid mx-auto d-block img-galeria"
          alt="Responsive image"
        />
      </div>
      <div class="align-self-center ec-margin-right-small ec-cursor-pointer" (click)="prevTestimonials()">
        <i class="fas fa-chevron-right fa-3x color-arrow"></i>
      </div>
    </div>
  </div>
</div>
<div class="footer-linea">
</div>
  <div class="ec-padding-bottom-small">
    <app-reefer-footer>
    </app-reefer-footer>
  </div>
</div>
