<div class="ec-reefer-franja">
  <div class="ec-container">
    <h2 class="wow fadeInLeft">
      CONTENEDORES DE 20 Y 50 PIES
    </h2>
  </div>
</div>
<div class="row banner-product ec-container">
  <div class="col col-12 col-md-6 ec-text-align-center">
    <img src="../../../assets/images/contenedor-blanco.png" alt="">
  </div>
  <div class="col col-12 col-md-6 ec-align-self-center">
    <div>
      <h4
        class="ec-font-supermolo-regular ec-color-reefer ec-margin-bottom-xsmall">
          ¿Qué es un Reefer?
      </h4>
      <p class="ec-reefer-color-blue-dark">
        Un contenedor reefer es una unidad de refrigeracion especialmente diseñada
        para almacenamiento y transporte de productos regrigerados y congelados a
        culquier nivel de temperatura.
      </p>
      <div class="reefer-actions ec-margin-top-small">
        <button type="submit" class="btn color-azul" (click)="toast2(false)">
          ALQUILAR
        </button>
        <button type="submit" class="btn color-azul" (click)="toast2(false)">
          COMPRAR
        </button>
      </div>
    </div>
  </div>
</div>
