<!-- seccion 3 -->
<div id="4" class="container section-4">
  <div class="container margin-top-70 ">
    <h2 class="text-center wow zoomIn">
      VENTAJAS DE CONSTRUIR
    </h2>
    <h5 class="texto-light-s3 text-center wow zoomIn">
      EN CONTENEDORES
    </h5>
  </div>
  <div class="row container-sp4">
    <div class="container">
    </div>
    <div class="col d-flex flex-column justify-content-between align-items-end">
      <div class="p-2 align-text-end-1 wow fadeInLeft">
        <h3 class="bold linea-right">Economía</h3>
        <p>Sus costos son inferiores a una construcción tradicional.</p>
      </div>
      <div class="p-2 align-text-end-1 wow fadeInLeft">
        <h3 class="bold linea-right">Unidades sismoresistentes</h3>
        <p>La resistencia es una de las caractersticas ya que fueron construidos pensando en el tiempo del clima marítimo, los golpes y movimientos que surgen de transporte en barco </p>
      </div>
    </div>
    <div class="col-lg img-fluid contenedor -sdv wow bounceInUp">
      <img class="contenedor-4-img" src="assets/imgs/contenedor-s4.png" alt="">
    </div>
    <div class="col d-flex flex-column justify-content-between align-items-start wow fadeInRight">
      <div class="p-2">
        <h3 class="bold linea-left ">Construcción Rápida</h3>
        <p>Tiempo de mano de obra, instalación y adecuación menor a la construcción tradicional.</p>
      </div>
      <div class="p-2">
        <h3 class="bold linea-left ">Portabilidad</h3>
        <p>Son soluciones móviles, están diseñados para facilitar su transporte, lo que los hacen ideales para moverlos de sitio en cualquier momento.</p>
      </div>
    </div>
  </div>
</div>
