

*{
    font-family: 'grotesk';
}

ul{
    padding: 0;
}

.texto-mediano{
    font-size: 3em;
}

.conocenos p, .resumen, .valores ul li{
    font-family: 'grotesk-ligth';
}


/* conocenos */

.valores-seccion h4{
    color: white;
    font-size: 4em;
}
.valores-seccion{
    text-align: center;
}




.valores-seccion ul li {
    color: white;
    list-style: none;
    font-size: 3em;
}


.conocenos .header{
    /* height: 100vh; */
    display: inline-block;
}

.conocenos .header img{
    width: 70%;
    position: relative;
    top: -56px;
    right: 0;
    float: right;
}

.conocenos .header h2 {
    position: absolute;
    color: white;
    font-size: 14em;
    margin-top: 10%;
    
}

.conocenos .row .col-md-6 h4{
    color: white;
    font-size: 3em;
    text-transform: capitalize;
}

.conocenos .row .col-md-6 .borde {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.conocenos .row .col-md-6 p {
    padding-top: 20px;
}
.conocenos .row .col-md-6 .borde h4 {
    padding: 20px 0;
    margin: 0;
}

/* fin conocenos */
    .principal{
        background: #000;
    }
    .pt-56{
        padding-top: 56px;
    }
    
    .row{
        margin: 0;
    }

.contenedor{
    padding-left: 16.67%;
}

p{
    color: white;
}

.page{
height: 100vh;
}


  .left-col {
    display: inline-block;
    position: relative;
    width: 33.4%;  
    height: 100vh;
    height: 700px;
  }  
  .right-col {
      display: inline-block;
    position: relative;
    width: 50%;   
    height: 100vh;
    height: 700px;
  }


.left-col {
    background: #3477d6;
}

.camion{
    width: 200px;
    position: relative;
    bottom: 31px;
    right: -100%;
}


.upper {
    position: absolute;
    width: 100%;
    height: 350px;
    background: white;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 3s;
}

.bottom {
    position: absolute;
    top: 50%;
    height: 350px;
        width: 100%;
    background: url(assets/imgs/shipping-line/aereo.png) no-repeat 50% 96%;
    background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 4.2s;
}


.logo {
    color: #fff;
    position: fixed;
    margin: 1.4em;
    font-weight: bolder;
    z-index: 1;
}

.year {
    position: absolute;
    color: #000;
    bottom: 8%;
    font-weight: bolder;
    transform: rotate(-90deg);
    left: 0%;
}

.buy {
    color: #f4c8ad;
    text-transform: uppercase;
    text-decoration: underline;
    position: absolute;
    right: 0%;
    top: -2.6%;
    margin: 1.4em;
}

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 60%;
    background: url(assets/imgs/shipping-line/barco.png) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2.6s;
    
}

.data {
    position: absolute;
    top: 36%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #cdbba5;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#name {
    font-weight: bolder;
}
.album-name3 #name {
    font-weight: bolder;
    text-shadow: 2px 2px 2px #000;
}

#artist {
    font-size: 10px;
}

.play, .next ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.6;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2em;
}

.about {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.about h1 {
    font-weight: bolder;
    color: #6f6457;
    text-transform: uppercase;
}

.about p {
    color: #bcac98;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    cursor: pointer;
}

.about span:hover {
    text-decoration: underline;
}

.media {
    /* margin-top: 40px; */
}

.media p {
    color: #6f6457;
    margin-bottom: 0;
}

.media ul {
    position: absolute;
    list-style: none;
    left: -24%;
}

.media ul li {
    display: inline-block;
    color: #bcac98;
    padding-right: 10px;
}

.next {
    position: absolute;
    top: 24%;
    left: 16%;
}

.data2 {
    position: absolute;
    top: 12%;
    left: 28%;
    color: #cdbba5;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.more {
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 15px;
    color: #64b5da;
    text-transform: uppercase;
    text-decoration: underline;
}

.block-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 60%;
}

.block-cover::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #4f4538;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 2s;
}

@keyframes rev-block {
    
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
    
}

@keyframes appear-text {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.upper-block {
    position: absolute;
    width: 100%;
    height:350px;
}

.upper-block::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #9a8b78;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 2.4s;
}

.block-bottom {
    position: absolute;
    top: 50%;
    height: 350px;
    width: 100%;
}

.block-bottom::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: antiquewhite;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 3.6s;
}


/* CONTACTO */

h3{
    color: #fff;
    font-family: 'grotesk'!important;
    font-size: 4vw;
}

.contacto{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea {
    display: block;
    width: 130%;
    padding: 10px;
}
input{
    height: 50px;
    margin-bottom: 20px;
    font-family: 'grotesk'!important;
    
}

textarea{
    height: 200px;
}

button{
    margin-top: 5%;
    width: 130%;
    height: 50px;
    background: rgba(42, 97, 149, 1);
    border: rgba(42, 97, 149, 1);
    color: white;
}

.formulario{
    display: flex;
    justify-content: center;
    align-content: center;
}

.contacto .col-md-5 ul li {
    list-style: none;
    color: white;
}
.contacto .col-md-5 ul  {
    display: flex;
    justify-content: left;
    font-size: 3em;
    
}    
.contacto .col-md-5 ul li  {
    margin-right: 20px;
}    

@media screen and (max-width: 576px) {

    .page{
        margin-top: 10%;
        height: initial;
    }


    .left-col{
        width: 100%!important;
        height: 200px;
        margin-bottom: 2%;
    }
     .right-col{
        padding: 0;
    }
     .upper {
        height: 200px;
    }
    .upper-block {
        height: 200px;
    }
    .about{
        top: 72%;
    }
    
.camion {
    width: 120px;
    bottom: 171px;
    left: 78%;
    top: 29.8%;
}

    .bottom, .block-bottom {
        top: 29.8%;
        height: 200px;
    }

    .conocenos .header h2 {
        font-size: 5em;
    }
    .valores-seccion ul li {
        font-size: 1em;
    }

    /* contactanos */
    .contacto {
        margin-top: 20%;
    }
    .formulario {
        width: 55vw;
        margin-bottom: 5%;    }
}
@media(max-width: 900px) {
    .left-col {
        width: 100%;
    }
    .right-col {
        top: 100%;
        left: 0%;
        width: 100%;
    }
}
    