<div class="degradado">
<div class="ec-container">
  <div class="ec-container">
    <div class="row">
      <div class="col col-md-6">
        <div>
          <h3 class="ec-main-title ec-reefer-color-blue-dark">
            ¿Quienes somos?
          </h3>
          <h3 class="ec-main-title ec-color-reefer">
            E-containers Colombia S.A.S
          </h3>
          <p class="ec-reefer-color-blue-dark">
            Somos una empresa experta en cadena de frío, con 10 años de experiencia en almacenaje, transporte y aseguramiento de mercancía en condiciones especiales de refrigeración.
          </p>
          <div class="ec-margin-top-medium">
            <h3 class="ec-main-title ec-color-reefer">
              ¿Porque elegirnos?
            </h3>
            <p class="ec-reefer-color-blue-dark">
              - Expertos en almacenamiento en frío.
            </p>
            <p class="ec-reefer-color-blue-dark">
                - Empresa certificada con ISO 9001 Y 14001.
            </p>
            <p class="ec-reefer-color-blue-dark">
              - Servicio de calidad y garantía.
            </p>
            <p class="ec-reefer-color-blue-dark">
                - Solución económica y portable.
            </p>
            <p class="ec-reefer-color-blue-dark">
                - Empresa 100% Colombiana.
            </p>
            <p class="ec-reefer-color-blue-dark">
                - Cobertura a nivel nacional.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div>
          <img class="img-fluid" src="../../../assets/images/certificacion.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-linea">
  </div>
<div class="ec-padding-bottom-small">
    <app-reefer-footer>
    </app-reefer-footer>
</div>
</div>