<div class="row ec-container">
  <div class="col col-12 col-md-4">
    <div class="ec-background-dark footer-reefer">
      <div class="ec-display-flex contacto-detalles">
         <img
           src="../../../assets/images/icon/ubicacion.png"
           class="ec-margin-right-xsmall" alt=""
          />
        <h5 class="ec-font-supermolo-regular ec-color-white">
          Calle 114 #474a-2l Bogotá, DC.
        </h5>
      </div>
        <div class="ec-display-flex contacto-detalles ec-margin-top-small">
         <img src="../../../assets/images/icon/ws.png" class="ec-margin-right-xsmall" alt="" />
         <a class="ec-font-supermolo-regular ec-color-white">
           +57 310-3617492
         </a>
       </div>
       <div class="ec-display-flex contacto-detalles ec-margin-top-small">
          <img src="../../../assets/images/icon/telefono.png" class="ec-margin-right-xsmall" alt="" />
          <div>
            <a class="ec-font-supermolo-regular ec-color-white">
              PBX: [+57] [1] 7462065 ext 112
            </a>
            <br/>
            <a class="ec-font-supermolo-regular ec-color-white">
              [+57] [4] 6049441
            </a>
            <br/>
            <a class="ec-font-supermolo-regular ec-color-white">
              [+57] [6] 8918650
            </a>
            <br/>
            <a class="ec-font-supermolo-regular ec-color-white">
              [+57] [2] 4850401
            </a>
            <br/>
            <a class="ec-font-supermolo-regular ec-color-white">
              [+57] [5] 6939833
            </a>
          </div>
       </div>
       <div class="ec-display-flex contacto-detalles ec-margin-top-small">
          <img
            src="../../../assets/images/icon/email.png"
            class="ec-margin-right-xsmall" alt=""
          />
          <h5 class="ec-font-supermolo-regular ec-color-white">
           regrigerados@econtainercolombia.com
          </h5>
       </div>
    </div>
  </div>

  <div class="col col-12 col-md-8 ec-margin-center">
    <div class="row shadow col-md-8 ec-background-color-white ec-margin-center">
      <app-reefer-form>
      </app-reefer-form>
    </div>
  </div>
</div>
