<div class="row ec-container">
  <div class="col col-12 col-md-4">
    <div class="ec-background-dark footer-reefer">
      <div class="ec-display-flex contacto-detalles">
         <img
           src="../../../assets/images/icon/ubicacion.png"
           class="ec-margin-right-xsmall" alt=""
          />
        <h5 class="ec-font-supermolo-regular ec-color-white">
          Calle 114 #474a-2l Bogotá, DC.
        </h5>
      </div>
      <div class="ec-display-flex contacto-detalles ec-margin-top-small">
        <img src="../../../assets/images/icon/ws.png" class="ec-margin-right-xsmall" alt="" />
        <a
           href="https://api.whatsapp.com/send?phone=573103617492" 
           target="_blank"
           class="ec-font-supermolo-regular ec-color-white cursor-pointer">
          +57 310-3617492
        </a>
       </div>
       <div class="ec-display-flex contacto-detalles ec-margin-top-small">
          <img src="../../../assets/images/icon/telefono.png" class="ec-margin-right-xsmall" alt="" />
          <div>
            <a href="tel:0317462065" class="ec-font-supermolo-regular ec-color-white cursor-pointer">
              PBX: [+57] [1] 7462065 ext 112
            </a>
            <br/>
            <a href="tel:0346049441" class="ec-font-supermolo-regular ec-color-white cursor-pointer">
              [+57] [4] 6049441
            </a>
            <br/>
            <a href="tel:0368918650" class="ec-font-supermolo-regular ec-color-white cursor-pointer">
              [+57] [6] 8918650
            </a>
            <br/>
            <a href="tel:0324850401" class="ec-font-supermolo-regular ec-color-white cursor-pointer">
              [+57] [2] 4850401
            </a>
            <br/>
            <a
             href="tel:0356939833"
             class="ec-font-supermolo-regular ec-color-white cursor-pointer">
              [+57] [5] 6939833
            </a>
          </div>
       </div>
       <div class="ec-display-flex contacto-detalles ec-margin-top-small">
          <img
            src="../../../assets/images/icon/email.png"
            class="ec-margin-right-xsmall" alt=""
          />
          <h5 class="ec-font-supermolo-regular ec-color-white">
            <a href="mailto:regrigerados@econtainers.com" class="cursor-pointer ec-color-white">
              regrigerados@econtainers.com
            </a>
          </h5>
       </div>
    </div>
  </div>

  <div class="col col-12 col-md-8 ec-margin-center">
    <div class="row shadow col-md-8 ec-background-color-white ec-margin-center">
      <app-reefer-form>
      </app-reefer-form>
    </div>
  </div>
</div>
