

<div id="2" class="carrousel hidden-sm-down">
    <ul>
      <li (click)="tipo = null">Todos</li>
      <li (click)="tipo = 'sala de venta'">Salas de ventas</li>
      <li (click)="tipo = 'oficina'">Oficinas</li>
      <li (click)="tipo = 'refrigerado'">Refrigerado</li>
      <li (click)="tipo = 'bodega'">Bodegas</li>
      <li (click)="tipo = 'arquitectonico'">Proy. Arquitectónicos</li>
    </ul>
  </div>
  
  
  <div class="container-2">
      <ngu-carousel myCarousel [inputs]="carouselOne" [dataSource]="contenedores">
          <div *nguCarouselDef="let item; let i = index" class="item" [ngStyle]= "{display: (item.tipo == tipo || tipo == null) ? 'inline-block' : 'none' }">
            <div class="" style="    margin: 10px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
              <div class="wBg">
                  <div  (click)="verContenedor(i)" class="tile" [style.background]="'url(' + item.img + ')'">
                  </div>
                  <h4>{{item.nombre}}</h4>
                </div>
                <div class="card-action">
                  <button class="card-btn margin-small" mat-button (click)="irLanding(item.linkId)">Alquiler</button>
                  <button class="card-btn" mat-button (click)="irLanding(item.linkId)">Venta</button>
                </div>
            </div>
          </div>
        <button NguCarouselPrev class='leftRs'>&lt;</button>
        <button NguCarouselNext class='rightRs'>&gt;</button>
      </ngu-carousel>
    </div>
    
  
  
  
    
  
    
       
                 
                
  