<div class="degradado">
    <div class="ec-container hey">
        <div class="ec-container">
      <div class="row">
        <div class="col col-md-6">
            <h3 class="ec-main-title ec-reefer-color-blue-dark">
              Servicio Técnico
            </h3>
            <p class="ec-reefer-color-blue-dark">
              Prestamos servicio técnico a nivel nacional con excelentes tiempos de respuesta.
            </p>
            <p class="ec-reefer-color-blue-dark">
              Contamos con profesionales certificados y avalados para la manipulación de equipos refrigerados, brindándole asistencia técnica de calidad y confianza.
             </p>
             <p class="ec-reefer-color-blue-dark">
                Se monitorea constantemente las unidades para prestar el servicio de mantenimiento preventivo, asegurando la calidad de la refrigeración y la conservación de sus productos.
             </p>
             <p class="ec-reefer-color-blue-dark">
                Se hace inducción general a la persona encargada de recibir el equipo por parte del personal técnico de E-Containers Colombia.
             </p>
             <p class="ec-reefer-color-blue-dark">
                Una vez puesto en sitio el equipo, nuestro personal instalará y graduará la temperatura adecuada para la perfecta conservación de sus productos
             </p>
        </div>
        <div class="col col-md-6">
          <img
            class="img-fluid"
            src="../../../assets/images/servicio tecnico.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    </div>
    <div class="footer-linea">
    </div>
    <div class="ec-padding-bottom-small">
        <app-reefer-footer>
        </app-reefer-footer>
    </div>
</div>