<!-- seccion 8 -->
<div  class="container-fluid section-8 hidden-md-down">
  <div class="container margin-top-50 ">
    <h2 class=" h2-s7 text-center wow zoomIn ">
        NUESTROS CLIENTES
    </h2>

    <div class="row container text-center d-flex flex-row logos-s8">

    </div>
  </div>
  <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col-lg-12 logo-s8 container">
          <img class="asd-1" src="/assets/imgs/logos/sodi.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/exi.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/prode.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/mini.png" alt="">
          <img class="asd" src="/assets/imgs/logos/chocolates.png" alt="">
          <img class="asd" src="/assets/imgs/logos/capi.png" alt="">
          <img class="asd" src="/assets/imgs/logos/reuano.png" alt="">
          <img class="asd" src="/assets/imgs/logos/javeri.png" alt="">
          <img class="asd" src="/assets/imgs/logos/city.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/armania.png" alt="">
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-lg-12 logo-s8">
          <img class="asd-1" src="/assets/imgs/logos/auto-fax.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/Universidad_Santo_Tomas.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/cam.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/camu.png" alt="">
          <img class="asd" src="/assets/imgs/logos/capi.png" alt="">
          <img class="asd" src="/assets/imgs/logos/cemex.png" alt="">
          <img class="asd" src="/assets/imgs/logos/ci2.png" alt="">
          <img class="asd" src="/assets/imgs/logos/ciac.png" alt="">
          <img class="asd" src="/assets/imgs/logos/COLACTEOS.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/ecopetrol.png" alt="">
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-lg-12 logo-s8">
          <img class="asd-1" src="/assets/imgs/logos/prosalon.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/cromantic.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/minerva.png" alt="">
          <img class="asd" src="/assets/imgs/logos/grupo_exito.jpg" alt="">
          <img class="asd" src="/assets/imgs/logos/bancolombia.png" alt="">
          <img class="asd" src="/assets/imgs/logos/opain.jpg" alt="">
          <img class="asd" src="/assets/imgs/logos/alpina.png" alt="">
          <img class="asd" src="/assets/imgs/logos/conequipos.png" alt="">
          <img class="asd" src="/assets/imgs/logos/epm.png" alt="">
          <img class="asd" src="/assets/imgs/logos/nalco.png" alt="">
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-lg-12 logo-s8">
          <img class="asd-1" src="/assets/imgs/logos/comfenalco.jpg" alt="">
          <img class="asd-1" src="/assets/imgs/logos/conalca.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/descafecol.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/escudo_pasto.png" alt="">
          <img class="asd-1" src="/assets/imgs/logos/postobon.png" alt="">
          <img class="asd" src="/assets/imgs/logos/roa.png" alt="">
          <img class="asd" src="/assets/imgs/logos/ibague.png" alt="">
          <img class="asd" src="/assets/imgs/logos/red-carnica.png" alt="">
          <img class="asd" src="/assets/imgs/logos/reuano.png" alt="">
          <img class="asd" src="/assets/imgs/logos/medicina-legal.png" alt="">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
