

<!-- seccion 8 -->
<div  class="container-fluid section-8 d-none d-md-block">
  <div class="container margin-top-50 ">
    <h2 class=" h2-s7 text-center wow zoomIn ">
        NUESTROS CLIENTES
    </h2>

    <div class="row container text-center d-flex flex-row logos-s8">

    </div>
  </div>
  <ngb-carousel class=" slide container">
      <ng-template ngbSlide>
            <div class="col-lg-12 logo-s8 container">
              <img class="asd-1" src="/assets/imgs/logos/sodi.png" alt="">
              <img class="asd-1" src="/assets/imgs/logos/exi.png" alt="">
              <img class="asd" src="/assets/imgs/logos/reuano.png" alt="">
              <img class="asd" src="/assets/imgs/logos/city.png" alt="">
              <img class="asd" src="/assets/imgs/logos/cemex.png" alt="">
              <img class="asd" src="/assets/imgs/logos/ci2.png" alt="">
              <img class="asd-1" src="/assets/imgs/logos/prosalon.png" alt="">
              <img class="asd-1" src="/assets/imgs/logos/cromantic.png" alt="">
              <img class="asd-1" src="/assets/imgs/logos/minerva.png" alt="">
              <img class="asd" src="/assets/imgs/logos/nalco.png" alt="">
            </div>
        </ng-template>          
  </ngb-carousel>
  
    <!-- <a class="carousel-control-prev" href="carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="carousel-control-next" href="carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
  </div>

