<!-- Gracias a nuestra alianza con una de las mejores agencias de aduana a nivel nacional,
podemos soportar a nuestros clientes en reglamentación aduanera para importación y
exportación. en Diferentes procesos aduaneros brindamos acompañamiento ante los
organismos de control. Y realizamos la coordinación y presentación ante la DIAN de las
operaciones de transito aduanero. -->

<div class="conocenos">

  <div routerLink="/freight-forwarding/que-ofrecemos" class="volver cursor pointer">
      <img src="assets/imgs/shipping-line/back.png" alt="">
      <span class="ml-2">Volver</span>
  </div>

<div class="header">
  <img class="wow fadeIn" src="assets/imgs/shipping-line/aduanero.png" alt="">
  <h2 class="wow fadeInLeft rellax" >Intermediación <br>Aduanera</h2>
</div>

<div class="row ">

  <div class="col-md-12 valores-seccion pb-5">
     <p class="text-left">Gracias a nuestra alianza con una de las mejores agencias de aduana a nivel nacional,
podemos soportar a nuestros clientes en reglamentación aduanera para importación y
exportación. en Diferentes procesos aduaneros brindamos acompañamiento ante los
organismos de control. Y realizamos la coordinación y presentación ante la DIAN de las
operaciones de transito aduanero.</p>
  </div>

  <div class="row contacto" >
      <div class="col-md-12">
          <h4 routerLink="/freight-forwarding/contacto" class="wow fadeIn rellax-title" data-rellax-speed="-1">Contacto</h4>
      </div>
      <div class="col-md-12">
          <div class="wrapper">
              <div class="slider">
                  <div class="slide">
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                  </div>
                  <div class="slide">
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                      <img src="assets/imgs/shipping-line/logo-24-7.png" />
                  </div>
               </div>
          </div> 
      </div>
  </div>  
</div>
</div>