<div class="page">
            <div class="row">
                  <div class="left-col " routerLink="/freight-forwarding/transporte-maritimo">       
                      <div class="cover">
                            <div class="play">               
                            </div>
                      </div>
                      <div class="data">
                            <div class="album-name">
                            <p id="name">Transporte marítimo internacional</p>
                            </div>
                      </div>          
                      <div  class="block-cover pointer"></div>
                </div>
                <div class="right-col col-md-7 col-lg-8">
                        <div class="upper">
                              <div class="about">
                                    <h1>Transporte Terrestre</h1>
                                   
                                    <div class="media pointer">
                                          <p>Más información </p>
                                    </div>
                                    <img class="camion" src="assets/imgs/shipping-line/camion.gif" alt="">
                              </div>
                        </div>
                        <div routerLink="/freight-forwarding/transporte-terrestre" class="upper-block pointer"></div>
              
                        <div class="bottom">
                              <div class="next">
                              </div>
              
                              <div class="data2">
              
                                    <div class="album-name3">
                                    <p id="name">Transporte aéreo internacional</p>
                                    </div>
              
              
                              </div>
              
              
                              <div class="more pointer">
                                    <p id="more">Más información</p>
                              </div>
              
                        </div>

                        <div routerLink="/freight-forwarding/transporte-aereo" class="block-bottom pointer"></div>
              
                  </div>
      
      </div>

</div>
   

   



 <!-- <div class="wrapper">
      <div class="slider">
        <div class="slide">
            <img src="https://www.icontainers.com/resources/img/home/logos-1.png" />
            <img src="https://www.icontainers.com/resources/img/home/logos-1.png" />
          </div>
        <div class="slide">
            <img src="https://www.icontainers.com/resources/img/home/logos-1.png" />
            <img src="https://www.icontainers.com/resources/img/home/logos-1.png" />
          </div>
      </div>
</div>  -->




