@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700,900');

@font-face {
    font-family: 'calibri-bold';
    src: url('assets/fonts/calibri/CALIBRIB.ttf');
}
@font-face {
    font-family: 'bebas-bold';
    src: url('assets/fonts/bebas_neue/BebasNeueBold.otf');
}
@font-face {
    font-family: 'bebas-bold';
    src: url('assets/fonts/bebas_neue/BebasNeueBold.otf');
}

@font-face {
    font-family: 'grotesk';
    src: url('assets/fonts/grotesk/grotesk.ttf');
}
@font-face {
    font-family: 'grotesk-bold';
    src: url('assets/fonts/grotesk/grotesk-bold.otf');
}
@font-face {
    font-family: 'grotesk-ligth';
    src: url('assets/fonts/grotesk/grotesk-ligth.otf');
}
@font-face {
    font-family: 'grotesk-medium';
    src: url('assets/fonts/grotesk/grotesk-medium.otf');
}
@font-face {
    font-family: 'grotesk-regular';
    src: url('assets/fonts/grotesk/grotesk-regular.otf');
}
@font-face {
    font-family: 'grotesk-semi-bold';
    src: url('assets/fonts/grotesk/grotesk-semi-bold.otf');
}

@font-face {
    font-family: 'bebas-book';
    src: url('assets/fonts/bebas_neue/BebasNeueBook.otf');
}

@font-face {
    font-family: 'bebas-light';
    src: url('assets/fonts/bebas_neue/BebasNeueLight.otf');
}
@font-face {
    font-family: 'brandon';
    src: url('assets/fonts/brandon/brandon-italic.otf');
}
@font-face {
    font-family: 'brandon-regular';
    src: url('assets/fonts/brandon/brandon-regular.woff');
}
@font-face {
    font-family: 'brandon-light';
    src: url('assets/fonts/brandon/brandon-light.woff');
}
@font-face {
    font-family: 'brandon-medium';
    src: url('assets/fonts/brandon/brandon-medium.woff');
}
@font-face {
    font-family: 'brandon-black';
    src: url('assets/fonts/brandon/brandon-black.woff');
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('assets/fonts/century-gothic/CenturyGothic.ttf');
}

@font-face {
    font-family: 'CenturyGothic-bold';
    src: url('assets/fonts/century-gothic/bold.ttf');
}

@font-face {
    font-family: 'SupermolotNeue-bold';
    src: url('assets/fonts/TTSupermolotNeue-Bold.ttf');
}

@font-face {
    font-family: 'SupermolotNeue-regular';
    src: url('assets/fonts/TTSupermolotNeue-Regular.ttf');
}

.ec-font-supermolo-regular {
    font-family: 'SupermolotNeue-regular' !important;
}

.ec-font-supermolo-bold {
    font-family: 'SupermolotNeue-bold' !important;
}


.ec-main-title {
    font-family: 'SupermolotNeue-bold' !important;
    font-size: 20px !important;
}

.ec-display-flex {
    display: flex !important;
}

.ec-padding-bottom-small {
    padding-bottom: 20px !important;
}

.ec-padding-top-small {
    padding-top: 20px !important;
}

.ec-background-dark {
  background-color: #37505D !important;
}

/*COLOR*/
.ec-reefer-color-blue-dark {
    color: #37505D !important;
}

.ec-color-white {
    color: white !important;
}

.ec-color-reefer {
    color: rgb(141, 194, 221) !important;
}

/*FLEX*/
.ec-align-self-center {
    align-self: center !important;
}

.img-galeria {
  max-width: 300px !important;
}

/*MARGIN*/
.ec-margin-remove {
	margin: 0px !important;
}

.ec-margin-center {
	margin: 0 auto !important;
}

.ec-margin-small {
	margin: 20px
}

.ec-margin-medium {
	margin: 30px
}

.ec-margin-large {
	margin: 40px
}

.ec-margin-top-zero {
  margin-top: 0px !important;
}

.ec-margin-top-xsmall {
	margin-top: 5px !important;
}

.ec-margin-top-small {
	margin-top: 20px !important;
}

.ec-margin-top-medium {
	margin-top: 30px !important;
}

.ec-margin-top-large {
	margin-top: 40px !important;
}

.ec-margin-top-xlarge {
	margin-top: 60px !important;
}

.ec-margin-right-xsmall {
	margin-right: 5px !important;
}

.ec-margin-right-small {
	margin-right: 20px !important;
}

.ec-margin-right-medium {
	margin-right: 30px !important;
}

.ec-margin-right-large {
	margin-right: 40px !important;
}

.ec-margin-bottom-xsmall {
	margin-bottom: 5px !important;
}

.ec-margin-bottom-small {
	margin-bottom: 20px !important;
}

.ec-margin-bottom-medium {
	margin-bottom: 30px !important;
}

.ec-margin-bottom-large {
	margin-bottom: 40px !important;
}

.ec-margin-bottom-xlarge {
	margin-bottom: 60px !important;
}

.ec-margin-bottom-zero {
	margin-bottom: 0px !important;
}

.ec-margin-left-xsmall {
	margin-left: 5px !important;
}

.ec-margin-left-small {
	margin-left: 20px !important;
}

.ec-margin-left-medium {
	margin-left: 30px !important;
}

.ec-margin-left-large {
	margin-left: 40px !important;
}

.ec-margin-left-zero {
	margin-left: 0px !important;
}

.reefer-actions button {
  background-color: #37505D !important;
  color: white !important;
  margin-right: 10px !important;
}

.ec-color-blue-dark {
  color: rgb(141, 194, 221) !important;
}

.mat-tab-group.mat-primary
.mat-ink-bar,
.mat-tab-nav-bar.mat-primary
.mat-ink-bar {
  background-color: rgb(141, 194, 221) !important;
}

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bebas-bold'!important;
}


.mat-tab-label .mat-tab-label-content {
  color: rgb(141, 194, 221) !important;
  font-size: 16px !important;
  font-family: 'SupermolotNeue-regular' !important;
}

.bg-black {
    background: #0000;
}

.pt-20{
    padding-top: 100px;
}

.float-right {
    float: right!important;
}

.logo{
    width: 240px;
}

.font-12{
    font-size: 12px;
}

.texto-principal{
    text-align: center;
}

.ec-margin-top-medium {
   margin-top: 20px !important;
}

.ec-margin-bottom-small {
    margin-bottom: 10px !important;
 }

 /*REFFER PAGE*/

 .reefer-banner img{
    position: absolute;
    right: -20px;
 }


 .ec-margin-bottom-small {
   margin-bottom: 40px !important; 
 }

/*TEXT ALIGN*/
.ec-text-align-center {
    text-align: center !important;
}
 /*TEXT ALIGN*/
 .ec-text-align-right {
     text-align: right !important;
  }
  /*LINE HEIGHT*/
  .ec-line-height-normal {
    line-height: 55px !important;
  }
.font-bebas{
    font-family: 'bebas-bold'!important;
}
.font-bebas-bold{
    font-family: 'bebas-bold'!important;
}

input,label,select{
    font-family: 'Oswald'!important;
}

.ec-padding-top-xsmall {
   padding-top: 10px;
}

.ec-padding-top-small {
    padding-top: 20px;
}

.ec-margin-top-medium {
   padding-top: 30px;
}


.ec-margin-right-xsmall {
    margin-right: 5px;
}

.ec-margin-top-medium {
    margin-top: 15px !important;
}

.ec-margin-top-xsmall {
    margin-top: 5px;
}

.ec-margin-top-small {
    margin-top: 10px !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bandera {
    margin-left: 20px;
    width: 25px;
}

.reefer-line {
    background-color: #37505D !important;
    height: 2px !important;
}

.row-reefer-img {
  max-width: 140px !important;
}

/* .fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pointer {
    cursor: pointer;
}

.fadeIn {
    animation-name: fadeIn;
}

.text__background {
    position: absolute;
    left: 72px;
    bottom: -55px;
    color: #00cdfb;
    font-size: 80px;
    font-weight: 700;
}


/*movil*/
.text__background-movil {
    position: absolute;
    left: 35px;
    bottom: -32px;
    color: #76a1e7;
    font-size: 2.8em;
    font-weight: 700;
}

.ec-cursor-pointer {
    cursor: pointer;
}

span,
input,
textarea,
select {
    font-family: 'Oswald';
}

a,
label,
button,
li {
    font-family: 'bebas-regular', sans-serif;
    font-weight: lighter;
}

.animatedd {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


.owl-dots {
    position: absolute;
    top: 74%;
    left: 27.5%;
    z-index: 3;
}

.ec-container {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

/*REEFER STYLES*/
.reefer-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

/*Responsive Hide*/
.hide-on-mobile {
	display: none !important;
}

   .hide-on-desktop {
	 display: block !important;
   }

  /*FONT SIZES*/
  .ec-text-banner-title {
    font-size: 50px !important;
  }

  .ec-text-banner-subtitle {
    font-size: 25px !important;
  }

  .ec-background-color-white {
      background-color: #fff !important;
  }

  .ec-reefer-franja {
    background-color: #37505D;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .ec-reefer-franja h2 {
    margin: 0px !important;
    color: white !important;
    font-family: 'SupermolotNeue-regular' !important;
    font-size: 20px !important;
  }

  .banner-product img {
    max-width: 200px !important;
  }

/* iPhones(landscape) ----------- */
@media only screen and (min-width: 375px) {
    .banner-product img {
       max-width: 300px !important;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) {

    .ec-reefer-franja h2 {
        margin: 0px !important;
        color: white !important;
        font-family: 'SupermolotNeue-regular' !important;
        font-size: 2rem !important;
      }

    .ec-main-title {
        font-family: 'SupermolotNeue-bold' !important;
        font-size: 2rem !important;
    }

      .img-galeria {
        max-width: 700px !important;
      }


    /*REEFER SECTION PRODUCT IMAGE*/
    .banner-product img {
       max-width: 400px !important;
       right: -85px;
    }

    /*REEFER BUTTON*/
    .ec-container {
        padding-left: 60px !important;
        padding-right: 60px !important;
        margin: 0 auto;
    }

    /*FONT SIZES*/
    .ec-text-banner-title {
      font-size: 60px !important;
    }

    .ec-text-banner-subtitle {
      font-size: 30px !important;
    }

    .reefer-banner .titles {
        margin-top: 100px !important;
    }

    /*Responsive Hide*/
    .hide-on-mobile {
	  display: block !important;
    }

       .hide-on-desktop {
	    display: none!important;
    }

}

/* Tablets small laptops ----------- */
@media (min-width: 960px) {
    .reefer-banner img {
        width: 460px !important;
    }

     /*REEFER SECTION PRODUCT IMAGE*/
     .banner-product img {
        max-width: 600px !important;
      }

    .reefer-banner img{
      right: -105px !important;
    }
}

/* Laptops ----------- */
@media only screen and (min-width: 1200px) {

    .reefer-banner img {
        width: 560px !important;
    }

}


@media (max-width: 576px) {
    .owl-dots {
        left: 40.5%;
    }
}

::ng-deep .mat-dialog-container {
    border: 3px solid #375ea2!important;
    border-radius: 0!important;
}
