

<div class="email-container">
        <div class="card">
            <div class="row">
                <div class="col-xlg-3 col-lg-4 col-md-4">
                    <div class="inbox-panel">
                        <div class="d-flex p-20 no-block">
                            <div class="align-self-center">
                                <h4 class="m-b-0">Inbox</h4> </div>
                            <div class="ml-auto align-self-center">
                                <!-- <button class="btn btn-danger btn-sm" (click)="open2(content)">Compose</button> -->
                            </div>
                        </div>
                        <div class="inb-right">
                            <div (click)="onSelect(message)" *ngFor="let message of messages; let i = index" [class.selected]="message === selectedMessage" class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                                <div class="d-flex">
                                    <div class="">
                                        <div *ngIf="message.type" class="avatar-status bg-{{message.type}}"> <img alt="" class="avatar-sm rounded-circle" [src]="imagenSegmento(message.id_cliente.id_segmento.nombre)" /> </div> <img *ngIf="!message.type" alt="" class="avatar-sm rounded-circle" [src]="imagenSegmento(message.id_cliente.id_segmento.nombre)" /> 
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex w-100 justify-content-between align-items-center"> 
                                            <small class="font-medium text-{{message.type}}"> 
                                                <i class="fa fa-circle text-{{message.type}} m-r-5 font-10"></i>{{message?.id_cliente?.nombre}}  {{message?.id_cliente?.apellido}}
                                            </small> 
                                            <small class="bold text-muted time ">  {{ message.fecha_creacion | date: 'MMMM d' }} </small> 
                                        </div>
                                        <p class="mb-0 font-14 "> {{message?.id_cliente?.mensaje | slice:0:40}} ... </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xlg-9 col-lg-8 bg-light-part b-l col-md-8 wow fadeIn">
                    <div class="w-100">
                        <div class="card-body">
                            <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                                <button (click)="whatsapp(selectedMessage.id_cliente.celular)" type="button" class="btn btn-secondary font-18"><img src="assets/images/icon/whatsapp.png" alt="" class="whatsapp"></button>
                                <button (click)="gmail(selectedMessage.id_cliente.correo)" type="button" class="btn btn-secondary font-18"><img src="assets/images/icon/gmail.png" alt="" class="whatsapp"></button>
                            </div>
                            <div class="btn-group m-b-10 m-r-10">
                              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-secondary" ngbDropdownToggle><i class="mdi mdi-folder font-18"></i></button>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                  <button class="dropdown-item">One</button>
                                  <button class="dropdown-item">Two</button>
                                  <button class="dropdown-item">Four!</button>
                                </div>
                              </div>
                              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                <button class="btn btn-secondary" ngbDropdownToggle><i class="mdi mdi-label font-18"></i></button>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                  <button class="dropdown-item">One</button>
                                  <button class="dropdown-item">Two</button>
                                  <button class="dropdown-item">Four!</button>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="btn btn-secondary m-r-10 m-b-10"><i class="mdi mdi-reload font-18"></i></button>
                        </div>
                    </div>



                    <div class="card-body" *ngIf="selectedMessage">
                        <div class="p-20">
                            <div class="d-flex align-items-center m-b-30">
                                <div class=""> <img alt="" class="avatar-lg rounded-circle" [src]="imagenSegmento(selectedMessage.id_cliente.id_segmento.nombre)" /> </div>
                                <div class="pl-3">
                                    <div class="font-medium">{{selectedMessage.id_cliente.nombre}} {{selectedMessage.id_cliente.apellido}} -  {{ selectedMessage.fecha_creacion | date: 'MMMM d' }} ( <i class="icon-clock"></i> {{ selectedMessage.hora_creacion}})  </div> <span class="font-14">Correo: {{selectedMessage.id_cliente.correo}}</span>
                                    <br/>
                                    <label class="label label-{{selectedMessage.type}}">{{selectedMessage.tag}}</label>
                                </div>
                            </div>
                          
                            <div class="b-r mb-2"> <strong>Mensaje del cliente:</strong></div>
                      <div><blockquote>{{selectedMessage.id_cliente.mensaje}}</blockquote> </div>
                          
                      <ngb-tabset>
                      <ngb-tab title="Perfil">
                            <ng-template ngbTabContent>
                          <div class="card-body ">
                                  <div class="row wow fadeInUp">
                                      <div class="col-md-3 col-xs-6 b-r"> <strong>Nombre</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.nombre}} {{selectedMessage.id_cliente.apellido}}</p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Celular</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.celular}} </p> 
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Correo</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.correo}}</p>
                                    </div>
                                    <div *ngIf="selectedMessage.id_cliente.tipo_cliente.nombre !== 'Natural'"  class="col-md-3 col-xs-6"> <strong>Ciudad</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.id_ciudad.nombre}}</p>
                                    </div>
                                </div>
                                <hr>
                              </div>  
                            </ng-template>
                        </ngb-tab>
                      <ngb-tab title="Otros">
                            <ng-template ngbTabContent>
                          <div class="card-body ">
                                  <div class="row wow fadeInUp">
                                      <div class="col-md-3 col-xs-6 b-r"> <strong>Segmento</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.id_segmento.nombre}}</p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Modalidad</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.modalidad}}</p>
                                    </div>
                                    <div *ngIf="selectedMessage.id_cliente.tipo_cliente.nombre !== 'Natural'"  class="col-md-3 col-xs-6"> <strong>{{selectedMessage.id_cliente.tipo_cliente.tipo}}</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.tipo_cliente.nombre}}</p>
                                    </div>
                                    <div *ngIf="selectedMessage.id_cliente.tipo_cliente.nombre !== 'Natural'"  class="col-md-3 col-xs-6"> <strong>Fuente</strong>
                                        <br>
                                        <p class="text-muted">{{selectedMessage.id_cliente.fuente}}</p>
                                    </div>
                                </div>
                                <hr>
                              </div>  
                            </ng-template>
                        </ngb-tab>
                  
                        </ngb-tabset>
                      
                      </div>
                    </div>
                </div>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Compose Email</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="to" placeholder="To"> </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="subject" placeholder="Subject"> </div>
                            <quill-editor [style]="{height: '200px'}"></quill-editor>
                            <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10 m-t-20">Send</button>
                        </form>
                    </div>
                </ng-template>
            </div>
        </div>
      </div>
      