    <div class="taskboard page-height row wow fadeIn">
    <div class="taskboard-wrapper col-md-3">
      <div class="taskboard-list ">
        <h6 class="taskboard-header">Leads en proceso ( {{total}} )</h6>
        <div class="taskboard-cards" >
         
          <div class="taskboard-task task-status-success wow flipInX" *ngFor="let lead of leads">
            <div class="taskboard-task-title">{{lead.id_cliente.nombre}} {{lead.id_cliente.apellido}}</div>
            <small class="card-text text-muted">{{lead.id_cliente.mensaje}}</small>
          </div>
        </div>
      </div>
    </div>
  
    <div class="taskboard-wrapper col-md-3">
      <div class="taskboard-list">
        <h6 class="taskboard-header">Contacto Establecido </h6>
        <div class="taskboard-cards" >

          <!-- <div class="taskboard-task task-status-info" >
            <div class="taskboard-task-title">Cliente n</div>
            <small class="card-text text-muted">Etiam porta sem malesuada magna mollis euismod.</small>
          </div> -->
         
        </div>
      </div>
    </div>
  
    <div class="taskboard-wrapper col-md-3">
      <div class="taskboard-list">
        <h6 class="taskboard-header">Propuesta Realizada</h6>
        <!-- <div class="taskboard-cards" >
          <div class="taskboard-task">
            <div class="taskboard-task-title">Cliente n</div>
            <small class="card-text text-muted">Maecenas sed diam eget risus varius blandit sit amet non magna.</small>
          </div>
        </div> -->
      </div>
    </div>
  
    <div class="taskboard-wrapper col-md-3">
      <div class="taskboard-list ">
        <h6 class="taskboard-header">Negociación Terminada</h6>
        <!-- <div class="taskboard-cards" >
         
          <div class="taskboard-task task-status-secondary" >
            <div class="taskboard-task-title">Cliente n</div>
            <small class="card-text text-muted">Aenean lacinia bibendum nulla sed consectetur.</small>
          </div>
        </div> -->
      </div>
    </div>
  
      </div>
    