<!-- seccion 2 -->

<div id="2" class="container-fluid section-2">

  <div class="container margin-top-70 ">

    <div class="row cuadros">


      <div class="col-md-8 text-center ">
        <div  class="cuadros-container blanco  wow fadeInUp">

          <h3 class="text-black subtitulo">ENFOQUE</h3>
          <p id="texto-2" class="texto-seccion-1 text-muted"> Evolucionamos constantemente para ser una compañía financieramente sólida, con presencia en las principales ciudades del país, siendo reconocidos por: Desarrollar soluciones creativas e innovadoras en diseño y confort. Desarrollar un modelo
            de negocio centrado en soluciones para todo tipo de industria a nivel nacional. Superar las expectativas de nuestros clientes y ayudarlos a lograr el éxito, entregándoles soluciones innovadoras, productos de calidad y excelente servicio al
            cliente. Tener un pensamiento innovador y divergente en todos nuestros colaboradores, en búsqueda de un liderazgo positivo diferenciador, mediante estrategias de alto impacto, generando una mejora continua de productos, procesos y servicios.
          </p>
        </div>
      </div>

      <div class="col-md-4 text-center ">
        <div  class="cuadros-container blanco wow fadeInUp fondo">
        </div>
      </div>
    </div>
  </div>
</div>
