<div class="main animated fadeIn">
  <div class="row principal">
    <section class="container-fluid hero">
      <div class="logo">
        <img src="assets/imgs/logo-nuevo.png" [routerLink]="['/home']" class="img-logo pointer" alt="logo">
      </div> 
    </section>
  <!-- ---------------------- -->
  <!--       FORMULARIO -->
  <!-- ---------------------- -->
  <div class="container">
    <section class="col-md-12 seccion-1" id="formulario">
      <form [formGroup]="firstFormGroup" (submit)="sendEmail(message)" class="form p-t-20">
        <!-- ============================================================== -->
        <!-- NOMBRE
        <!-- ============================================================== -->
        <div class="form-group ">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon11">
                            <i class="ti-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="exampleInputuname3" name="noombre" formControlName="nombre" placeholder="Nombre"
                        [(ngModel)]="message.nombre">
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- EMPRESA
        <!-- ============================================================== -->
        <div class="form-group ">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Apellido</label>
            <div class="col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon11">
                            <i class="ti-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="exampleInputuname3" name="empresa" formControlName="empresa" placeholder="Empresa"
                        [(ngModel)]="message.empresa">
                </div>
            </div>
        </div>
         <!-- ============================================================== -->
        <!-- CORREO
        <!-- ============================================================== -->
        <div class="form-group ">
            <label for="exampleInputEmail3" class="col-sm-12 control-label">Correo Electronico</label>
            <div class="col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon11">
                            <i class="ti-email"></i>
                        </span>
                    </div>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Correo electronico" name="correo" formControlName="correo"
                        [(ngModel)]="message.correo">
                </div>
            </div>
        </div>
         <!-- ============================================================== -->
        <!-- CELULAR
        <!-- ============================================================== -->
        <div class="form-group ">
            <label for="web" class="col-sm-3 control-label">Celular</label>
            <div class="col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon11">
                            <i class="ti-mobile"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="celular" placeholder="celular" name="celular" formControlName="celular" required [(ngModel)]="message.celular">
                </div>
            </div>
        </div>
        <!--============================================================== -->
        <!--CARGO
        <!--============================================================== -->
        <div class="form-group ">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Apellido</label>
            <div class="col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon11">
                            <i class="ti-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="exampleInputuname3" name="cargo" formControlName="cargo" placeholder="Cargo"
                        [(ngModel)]="message.cargo">
                </div>
            </div>
        </div>
         <!-- ============================================================== -->
        <!-- REQUERIMIENTO
        <!-- ============================================================== -->
        <div class="form-group ">
            <label for="web" class="col-sm-12 control-label">Requerimiento</label>
            <div class="col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon11">
                            <i class="ti-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" name="requerimiento" formControlName="requerimiento" placeholder="Requerimiento"
                        [(ngModel)]="message.requerimiento">
                </div>
            </div>
        </div>
       
       
        <div class="form-group  m-b-0">
            <div class="offset-sm-3 col-sm-12">
                <button type="submit" class="btn btn-success m-r-10">Guardar</button>
                <button (click)="limpiar()" class="btn btn-dark">Limpiar</button>
  
            </div>
        </div>
    </form>
      </section>
  </div>
  </div>
  <!-- ---------------------- -->
  <!--       FIN   FORMULARIO -->
  <!-- ---------------------- -->
</div>
<!-- <app-footer-landing></app-footer-landing> -->