<div class="conocenos">

<div class="header">
    <img class="wow fadeInTop" src="assets/imgs/shipping-line/equipo.png" alt="">
    <h2 class="wow fadeInLeft" >Conocenos</h2>
</div>

<div class="row">
    <div class="col-md-6">
            
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <div class="borde animated fadeInLeft">
                    <h4 class="wow fadeInDown">Misión</h4>
                </div>
                <p>Ser un equipo líder, que se enfoca en proporcionar confianza, bienestar a nuestros clientes,
                        proveedores y accionistas. Prestando el servicio eficiente de transporte internacional de carga
                        desde y hacia cualquier parte del mundo. Aportando soluciones tecnológicas y a la
                        construcción de tejido social, donde los valores infundidos se demuestran en nuestra
                        operación.
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="col-md-6">
            <div class="row">
                    <div class="col-md-8">
                        <div class="borde animated fadeInLeft">
                            <h4 class="wow fadeInDown">Visión</h4>
                        </div>
                        <p>En el 2025, Ser en Colombia un referente en el mercado de transporte de carga internacional,
                                brindando soluciones logísticas estratégicas con tecnología de punta, formando un equipo
                                humano, eficiente y con comunicación asertiva. Contando con una capacidad muscular a nivel
                                de infraestructura nacional, que nos soporte en cada operación logística y como oferta de
                                valor en nuestro servicio.
                        </p>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
    </div>
    <div class="col-md-6">
       
    </div>
    <div class="col-md-12 valores-seccion pt-5 pb-5">
        <h4 class="texto-mediano">Valores</h4>
        <ul class="wow fadeInTop">
       
            <li>
                     ✓ Lealtad
            <li>
                    ✓ Optar por la eficacia
            </li>
            <li>
                    ✓ Actuar con integridad
            </li>
            <li>
                    ✓ confidencialidad
            </li>
            <li>
                    ✓ Garantizar la excelencia
            </li>
            <li>
                    ✓ Ofrecer confianza y seguridad
            </li>
            <li>
                    ✓ Disciplina
            </li>
        </ul>
    </div>
  
</div>

</div>