<div class="pagina">
    <div class="titulo">
        <h2>Conocenos</h2>
        <p class="resumen">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro sapiente culpa facilis
            , quasi at consequatur magnam quod quis,
             tempore officiis alias asperiores vel ea, quos earum ullam et perferendis consequuntur!</p>
    </div>
    <div class="row conocenos">
        <div class="col-md-5 photo-team"></div>
        <div class="col-md-7">
            <div class="vision mb-5">
                <i class="fa fa-eye"></i>
                <h3>Visión</h3>
                <p>Ser un equipo líder, que se enfoca en proporcionar confianza, bienestar a nuestros clientes,
                        proveedores y accionistas. Prestando el servicio eficiente de transporte internacional de carga
                        desde y hacia cualquier parte del mundo. Aportando soluciones tecnológicas y a la
                        construcción de tejido social, donde los valores infundidos se demuestran en nuestra
                        operación.
                </p>
            </div>
            <div class="mision mb mb-5">
                <i class="fa fa-trophy"></i>
                <h3>Misión</h3>
                <p>En el 2025, Ser en Colombia un referente en el mercado de transporte de carga internacional,
                        brindando soluciones logísticas estratégicas con tecnología de punta, formando un equipo
                        humano, eficiente y con comunicación asertiva. Contando con una capacidad muscular a nivel
                        de infraestructura nacional, que nos soporte en cada operación logística y como oferta de
                        valor en nuestro servicio.</p>
            </div>
            <div class="valores">
                    <i class="fa fa-heart"></i>
                <h3>Valores</h3>
                <ul>
                    <li>Lealtad</li>
                    <li>✓ Optar por la eficacia</li>
                    <li>✓ Actuar con integridad</li>
                    <li>✓ confidencialidad</li>
                    <li>✓ Garantizar la excelencia</li>
                    <li>✓ Ofrecer confianza y seguridad</li>
                    <li>✓ Disciplina</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>